
/** 
a
**/

a.block,
a.block:hover,
a.block:focus {
    text-decoration: none;
}

a[draggable="false"] {
    /* Firefox changes to pointer text selection, strangely. */
    cursor: pointer;
}


/** 
.a
**/

.a {
    text-decoration: none;
}

.a:hover,
.a:focus {
    text-decoration: underline;
}
