/**
Badges.
**/

/**
.badge

```html
<span class="badge">3</span>
```
**/

.badge {
    display: inline-block;
    font-size: var(--badge-font-size);
    line-height: var(--badge-width);
    min-width: var(--badge-width);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-align: center;
    white-space: nowrap;
    color: white;
    background: var(--badge-background);
    border-radius: calc(0.5 * var(--badge-width));
}

.thumb > .badge {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -0.6em;
    margin-right: -0.6em;
}

:root {
    /**
    --badge-font-size
    **/
    --badge-font-size: 0.75rem;

    /**
    --badge-width
    **/
    --badge-width: 1.5em;

    /**
    --badge-background
    **/
    --badge-background: black;
}
