

/**
Blocks.
**/

/**
.block

For layout. There are two ways a `.block` can be styled: as a
`block`, for a vertical layout, or as `inline-block`, for
a horizontal layout. `block` by default, obviously.

Applied to a media tag like img, svg, video and canvas, `.block`
will scale the element to fill the available width.
**/

.block {
    display: block;

    /* Set as position parent */
    position: relative;

    /* Force img, video, svg to scale. */
    height: auto;

    /* Set them up to play nice as inline-blocks. */
    vertical-align: top;
    overflow: visible;

    /* Set them up to place nice as flexboxes. */
    justify-content: center;

    /* Negate possible spacing when .block is used on something typographic like
       a <p>, for example. Also, make blocks behave as centered wraps by default. */
    margin: 0 auto;
}

.block > img,
.block > svg,
.block > video,
.block > canvas,
.block > object,
.block > embed,
.block > iframe {
    /* Don't allow media to break out of .block bounds. */
    max-width: 100%;
}

hr.block {
    height: 1px;
}


/**
.inline-block
**/

.inline-block {
    display: inline-block;
}



.n-flex-block { flex-direction: column-reverse; }
.s-flex-block { flex-direction: column; }
.e-flex-block { flex-direction: row; }
.w-flex-block { flex-direction: row-reverse; }

/* Keep focus box-shadows over the top of their siblings */
.flex-block > * { z-index: 0; }
.flex-block > .select-button { z-index: 1; }
.flex-block > *:focus { z-index: 2; }

.wrap         { flex-wrap: wrap; }
.no-wrap      { flex-wrap: nowrap; }

.flex-1\/2 { flex: 0 0 50%; }
.flex-1\/3 { flex: 0 0 33.333333333%; }
.flex-2\/3 { flex: 0 0 66.666666667%; }
.flex-1\/4 { flex: 0 0 25%; }
.flex-3\/4 { flex: 0 0 75%; }
.flex-1\/5 { flex: 0 0 20%; }
.flex-2\/5 { flex: 0 0 40%; }
.flex-3\/5 { flex: 0 0 60%; }
.flex-4\/5 { flex: 0 0 80%; }
.flex-1\/6 { flex: 0 0 16.666666667%; }
.flex-5\/6 { flex: 0 0 83.333333333%; }
.flex-1\/7 { flex: 0 0 14.285714286%; }
.flex-2\/7 { flex: 0 0 28.571428571%; }
.flex-3\/7 { flex: 0 0 42.857142857%; }
.flex-4\/7 { flex: 0 0 57.142857143%; }
.flex-5\/7 { flex: 0 0 71.428571429%; }
.flex-6\/7 { flex: 0 0 85.714285714%; }
.flex-1\/8 { flex: 0 0 12.5%; }
.flex-3\/8 { flex: 0 0 37.5%; }
.flex-5\/8 { flex: 0 0 62.5%; }
.flex-7\/8 { flex: 0 0 87.5%; }

