
html,
:root {
	height: 100%;
	color: #000000;
	/* Setting a background on <html> means that a background
	   on <body> does not get set on <html>. Win. */
	background-color: white;
}

body {
	/* Act as position parent */
	position: relative;

	/* Fill the available space */
	min-height: 100%;
}

@media screen and (min-aspect-ratio: 3/1) {
	/* Enforce an aspect ration of max 3:1 (which should comfortably
	   accomodate 16:9 screens minus URL/status bars) */
	body {
		min-height: 33.3333vw;
	}
}
