/* Opera
   
   This is a pretty weak hack. It's going to target FF when FF starts supporting
   it, too. But what option do we have?
   
   Blooming Opera and it's stupid rounding of percentage float widths. */

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {

.col_wrap:before {
	display: inline-block;
	content: '';
	width: 0;
	margin-right: -1%;
}

.col_wrap > .col:nth-of-type(1) { margin-left: 1%; }

.\33_col_wrap > .no1_col      { margin-right: -33%; }
.\33_col_wrap > .no2_col      { margin-right: -33%; }
.\33_col_wrap > .no3_col      { margin-right: 0; margin-left: -33%; }

.\33_col_wrap > .span2_col    { width: 67%;  margin-right: -67%; }
.\33_col_wrap > .span3_col    { width: 100%; margin-right: -100%; }

.\36_col_wrap > .no1_col      { margin-right: -16%; }
.\36_col_wrap > .no2_col      { margin-right: -16%; }
.\36_col_wrap > .no3_col      { margin-right: -16%; }
.\36_col_wrap > .no4_col      { margin-right: -16%; }
.\36_col_wrap > .no5_col      { margin-right: -16%; }
.\36_col_wrap > .no6_col      { margin-left: -16%; }

.\36_col_wrap > .span2_col    { margin-right: -33%; }
.\36_col_wrap > .span3_col    { margin-right: -50%; }
.\36_col_wrap > .span4_col    { margin-right: -66.6667%; }
.\36_col_wrap > .span5_col    { margin-right: -83.3333%; }
.\36_col_wrap > .span6_col    { margin-right: -100%; }

.\37_col_wrap > .no1_col      { margin-right: -14%; }
.\37_col_wrap > .no2_col      { margin-right: -14%; }
.\37_col_wrap > .no3_col      { margin-right: -14%; }
.\37_col_wrap > .no4_col      { margin-right: -14%; }
.\37_col_wrap > .no5_col      { margin-right: -14%; }
.\37_col_wrap > .no6_col      { margin-right: -14%; }
.\37_col_wrap > .no7_col      { margin-left:  -14%; }

.\37_col_wrap > .span2_col    { margin-right: -28%; }
.\37_col_wrap > .span3_col    { margin-right: -42%; }
.\37_col_wrap > .span4_col    { margin-right: -57.1429%; }
.\37_col_wrap > .span5_col    { margin-right: -71.4286%; }
.\37_col_wrap > .span6_col    { margin-right: -85.7143%; }
.\37_col_wrap > .span7_col    { margin-right: -100%; }

.\38_col_wrap > .no1_col      { margin-right: -12%; }
.\38_col_wrap > .no2_col      { margin-right: -12%; }
.\38_col_wrap > .no3_col      { margin-right: -12%; }
.\38_col_wrap > .no4_col      { margin-right: -12%; }
.\38_col_wrap > .no5_col      { margin-right: -12%; }
.\38_col_wrap > .no6_col      { margin-right: -12%; }
.\38_col_wrap > .no7_col      { margin-right: -12%; }
.\38_col_wrap > .no8_col      { margin-left: -12%; }

.\38_col_wrap > .span2_col    { margin-right: -25%; }
.\38_col_wrap > .span3_col    { margin-right: -37.5%; }
.\38_col_wrap > .span4_col    { margin-right: -50%; }
.\38_col_wrap > .span5_col    { margin-right: -62.5%; }
.\38_col_wrap > .span6_col    { margin-right: -75%; }
.\38_col_wrap > .span7_col    { margin-right: -87.5%; }
.\38_col_wrap > .span8_col    { margin-right: -100%; }

.\39_col_wrap > .no1_col      { margin-right: -11%; }
.\39_col_wrap > .no2_col      { margin-right: -11%; }
.\39_col_wrap > .no3_col      { margin-right: -11%; }
.\39_col_wrap > .no4_col      { margin-right: -11%; }
.\39_col_wrap > .no5_col      { margin-right: -11%; }
.\39_col_wrap > .no6_col      { margin-right: -11%; }
.\39_col_wrap > .no7_col      { margin-right: -11%; }
.\39_col_wrap > .no8_col      { margin-right: -11%; }
.\39_col_wrap > .no9_col      { margin-left:  -11%; }

.\39_col_wrap > .span2_col    { width: 22.2222%; margin-right: -22.2222%; }
.\39_col_wrap > .span3_col    { width: 33.3333%; margin-right: -33.3333%; }
.\39_col_wrap > .span4_col    { width: 44.4444%; margin-right: -44.4444%; }
.\39_col_wrap > .span5_col    { width: 55.5556%; margin-right: -55.5556%; }
.\39_col_wrap > .span6_col    { width: 66.6667%; margin-right: -66.6667%; }
.\39_col_wrap > .span7_col    { width: 77.7778%; margin-right: -77.7778%; }
.\39_col_wrap > .span8_col    { width: 88.8889%; margin-right: -88.8889%; }
.\39_col_wrap > .span9_col    { width: 100%;     margin-right: -100%; }

.\31 1_col_wrap > .no1_col    { margin-right: -9%; }
.\31 1_col_wrap > .no2_col    { margin-right: -9%; }
.\31 1_col_wrap > .no3_col    { margin-right: -9%; }
.\31 1_col_wrap > .no4_col    { margin-right: -9%; }
.\31 1_col_wrap > .no5_col    { margin-right: -9%; }
.\31 1_col_wrap > .no6_col    { margin-right: -9%; }
.\31 1_col_wrap > .no7_col    { margin-right: -9%; }
.\31 1_col_wrap > .no8_col    { margin-right: -9%; }
.\31 1_col_wrap > .no9_col    { margin-right: -9%; }
.\31 1_col_wrap > .no10_col   { margin-right: -9%; }
.\31 1_col_wrap > .no11_col   { margin-left: -9%; }

.\31 1_col_wrap > .span2_col  { margin-right: -18.1818%; }
.\31 1_col_wrap > .span3_col  { margin-right: -27.2727%; }
.\31 1_col_wrap > .span4_col  { margin-right: -36.3636%; }
.\31 1_col_wrap > .span5_col  { margin-right: -45.4545%; }
.\31 1_col_wrap > .span6_col  { margin-right: -54.5454%; }
.\31 1_col_wrap > .span7_col  { margin-right: -63.6363%; }
.\31 1_col_wrap > .span8_col  { margin-right: -72.7272%; }
.\31 1_col_wrap > .span9_col  { margin-right: -81.8181%; }
.\31 1_col_wrap > .span10_col { margin-right: -90.9090%; }
.\31 1_col_wrap > .span11_col { margin-right: -9.0909%; }

.\31 2_col_wrap > .no1_col    { margin-right: -8%; }
.\31 2_col_wrap > .no2_col    { margin-right: -8%; }
.\31 2_col_wrap > .no3_col    { margin-right: -8%; }
.\31 2_col_wrap > .no4_col    { margin-right: -8%; }
.\31 2_col_wrap > .no5_col    { margin-right: -8%; }
.\31 2_col_wrap > .no6_col    { margin-right: -8%; }
.\31 2_col_wrap > .no7_col    { margin-right: -8%; }
.\31 2_col_wrap > .no8_col    { margin-right: -8%; }
.\31 2_col_wrap > .no9_col    { margin-right: -8%; }
.\31 2_col_wrap > .no10_col   { margin-right: -8%; }
.\31 2_col_wrap > .no11_col   { margin-right: -8%; }
.\31 2_col_wrap > .no12_col   { margin-left: -8%; }

.\31 2_col_wrap > .span2_col  { margin-right: -16.6667%; }
.\31 2_col_wrap > .span3_col  { margin-right: -25%; }
.\31 2_col_wrap > .span4_col  { margin-right: -33.3333%; }
.\31 2_col_wrap > .span5_col  { margin-right: -41.6667%; }
.\31 2_col_wrap > .span6_col  { margin-right: -50%; }
.\31 2_col_wrap > .span7_col  { margin-right: -58.3333%; }
.\31 2_col_wrap > .span8_col  { margin-right: -66.6667%; }
.\31 2_col_wrap > .span9_col  { margin-right: -75%; }
.\31 2_col_wrap > .span10_col { margin-right: -83.3333%; }
.\31 2_col_wrap > .span11_col { margin-right: -91.6667%; }
.\31 2_col_wrap > .span12_col { margin-right: -8.3333%; }
}
