.button {
	-webkit-border-radius: 0.33em;
	   -moz-border-radius: 0.33em;
	     -o-border-radius: 0.33em;
	        border-radius: 0.33em;
	
	text-shadow: 0 1px rgba(255,255,255,0.3), 0 -1px rgba(0,0,0,0.5);
	color: rgb(240,240,240);
	background-color: rgb(127,127,127);
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(160,160,160)), to(rgb(127,127,127)));
	background-image: -webkit-linear-gradient(top, rgb(160,160,160), rgb(127,127,127));
	background-image:    -moz-linear-gradient(top, rgb(160,160,160), rgb(127,127,127));
	background-image:     -ms-linear-gradient(top, rgb(160,160,160), rgb(127,127,127));
	background-image:      -o-linear-gradient(top, rgb(160,160,160), rgb(127,127,127));
	background-image:         linear-gradient(top, rgb(160,160,160), rgb(127,127,127));
	
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(0,0,0,0.25);
	        box-shadow: 0 1px 1px rgba(255,255,255,0.25), 0 -1px 1px rgba(0,0,0,0.25);
	
	border: 1px solid black;
	line-height: 1.8571em;
}

.button.on,
.button:hover,
.button:active {
	color: white;
}

.button.on,
.button:active {
	-webkit-box-shadow: inset 0 0 1px 0 black, 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.5);
	   -moz-box-shadow: inset 0 0 1px 0 black, 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.5);
	        box-shadow: inset 0 0 1px 0 black, 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.5);
}


.menu_button,
.menu_button.on,
.menu_button:active {
	border: 0;
	line-height: 2em;
	
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	     -o-border-radius: 0;
	        border-radius: 0;
	
	background-image: none;
	
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.tab_button {
	-webkit-border-radius: 0.33em 0.33em 0 0;
	   -moz-border-radius: 0.33em 0.33em 0 0;
	     -o-border-radius: 0.33em 0.33em 0 0;
	        border-radius: 0.33em 0.33em 0 0;
	
	border-bottom: 0;
	line-height: 1.9286em;
}

.tab_button.on,
.tab_button:active {
	color: black;
	text-shadow: 0 1px rgba(255,255,255,0.8);
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(245,245,245)), to(rgb(234,234,234)));
	background-image: -webkit-linear-gradient(top, rgb(245,245,245), rgb(234,234,234));
	background-image:    -moz-linear-gradient(top, rgb(245,245,245), rgb(234,234,234));
	background-image:     -ms-linear-gradient(top, rgb(245,245,245), rgb(234,234,234));
	background-image:      -o-linear-gradient(top, rgb(245,245,245), rgb(234,234,234));
	background-image:         linear-gradient(top, rgb(245,245,245), rgb(234,234,234));

	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.5);
	        box-shadow: 0 1px 1px rgba(255,255,255,0.3), 0 -1px 1px rgba(0,0,0,0.5);
}

.tab_button.on:after,
.tab_button:active:after {
	/* Add a blank element at the bottom of the button that
	   covers the top border of the tab below. */
	content: ' ';
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 1px;
	background-color: rgb(234,234,234);
}

.tab {
	background-color: rgb(234,234,234);
	border-top: 1px solid black;
}

.img_slide {
	padding: 0;
}

.tip {
	color: white;
	overflow: visible;
	/*border: 1px solid rgb(245,245,245);*/
	
	-webkit-border-radius: 0.33em;
	   -moz-border-radius: 0.33em;
	     -o-border-radius: 0.33em;
	        border-radius: 0.33em;
	
	background: rgba(63,63,63,0.92);
	
	/*-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.6);
	   -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.6);
	        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.6);*/
}

.tip:after {
	content: '';
	position: absolute;
	left: 24px;
	bottom: -6px;
	width: 0;
	height: 0;
	border-top: 6px solid rgba(63,63,63,0.92);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-bottom: 0;
}