/* template.typography.14_24.css
 * 
 * Developed using ideas from:
 * www.blueprintcss.org
 * www.webtypography.net
 * 
 * The default font-size is 1em == 14px.
 *
 */

html {
    font-size:100%;
}

body {
    font-size: 87.5%;    /* 14px */
}

body,
.horizontal > *,
.tabs_index > li,
.crumbs_index > li,
.actions_index > li {
    line-height: 1.4286; /* 20px */
}

/* Block elements */

h1                { word-spacing: -0.1em;    font-size: 1.4286em; line-height: 1;      margin-bottom: 1em; }
h2                { word-spacing: -0.0555em; font-size: 1.2857em; line-height: 1.1111; margin-bottom: 1.1111em; }
h3                { word-spacing: -0.0625em; font-size: 1.1429em; line-height: 1.25;   margin-bottom: 0; }
h4                { word-spacing: -0.0714em; font-size: 1em; }
h5                { word-spacing: -0.0714em; font-size: 1em; }
h6                { word-spacing: -0.0714em; font-size: 1em; }
p                 { margin-bottom: 0.8572em; }
li                { margin-bottom: 0; }
hr                { margin-bottom: 1.4286em; }

p + h2,
ul + h2,
ol + h2,
dl + h2,
pre + h2,
div + h2,
table + h2,
address + h2,
blockquote + h2   { margin-top: 2.2222em; }

p + h3,
ul + h3,
ol + h3,
dl + h3,
pre + h3,
div + h3,
table + h3,
address + h3,
blockquote + h3   { margin-top: 1.25em; }

/* Make first letter different */
/*p::first-letter   { font-size: 2em; float: left;  }
p+p::first-letter { font-size: 1em; line-height: 1.3333; font-style: normal; letter-spacing: 0em; }
/* Make first line different */
/*p::first-line     { font-weight: bold; }
p+p::first-line   { font-weight: normal; }*/
/* Start paragraphs with a character or symbol */
/*p+p:before  { content: "\2767"; padding-right: 0.4em; }*/

p,
li,
dt,
dd,
blockquote,
address           { word-spacing: 0.0714em; }

dd                { margin: 0; }

ul,
ol,
blockquote        { margin: 0 1.4286em 0.7143em 1.4286em; }

dl,
pre,
table,
address           { margin: 0 0 1.4286em 0; }

p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
li:last-child,
pre:last-child,
table: last-child,
address:last-child,
blockquote:last-child { margin-bottom: 0; }

blockquote:before { font-size: 3em; line-height: 0.92em; margin-left: -0.6em; }

time              { text-transform: uppercase; }

/* Inline elements */

sup,
sub               { font-size: 0.7143em; line-height: 0; }
abbr              { letter-spacing: 0.1em; }
pre,
code,
tt                { font-size: 1em; }

/* Tables */

th,
td,
caption           { padding: 4px 10px 4px 5px; }

/* Classes */

.left             { margin: 0 0 0 0; }
.right            { margin: 0 0 0 0; }
.note             { font-size: 0.9167em; line-height: 1.8181; }