/* template.typography.15_21.css
 * 
 * Developed using ideas from:
 * www.blueprintcss.org
 * www.webtypography.net
 * www.html5boilerplate.com
 * 
 */

html {
    font-size:100.01%;
}

body{
	/* 15px */
	font-size: 93.75%;
}

body,
.index > li {
    line-height: 1.4em;
}

/* Block elements */

h1                { word-spacing: -0.0833em; font-size: 1.4em; line-height: 1em;      margin-bottom: 1em; }
h2                { word-spacing: -0.0833em; font-size: 1.2em; line-height: 1.1667em; margin-bottom: 0.6667em; }
h3                { word-spacing: -0.0833em; font-size: 1em;   line-height: 1.4em;    margin-bottom: 0.8em; }
h4                { word-spacing: -0.0833em; font-size: 1em; }
h5                { word-spacing: -0.0833em; font-size: 1em; }
h6                { word-spacing: -0.0833em; font-size: 1em; }

p                 { margin-bottom: 0.8em; }
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
li:last-child,
pre:last-child,
address:last-child,
blockquote:last-child { margin-bottom: 0; }

dd                { margin: 0; }
ul,
ol,
dl,
blockquote        { margin: 1.4em 0 1.4em 0; }
li                { margin-bottom: 0;}

blockquote:before { font-size: 3em; line-height: 0.84em; margin-left: -0.6em; }
pre,
address           { margin: 1.4em 0; }

/* Inline elements */

sup,
sub               { font-size: 0.6em; line-height: 0; }

abbr              { letter-spacing: 0.1em; }
pre,
code,
tt                { font-size: 1em; }

/* Tables */

table             { margin-bottom: 1.4em; }
th,
td,
caption           { padding: 4px 10px 4px 5px; }

/* Indentation */

ul,
ol,
blockquote        { margin-left: 2.8em; }

/* Classes */

.left             { margin: 0.8em 1em 0.8em 0; }
.right            { margin: 0.8em 0 0.8em 1em; }
.note             { font-size: 0.8em; line-height: 1.25em; }