.card {
    display: grid;
    grid-template-columns: calc(18px + 2 * (100vw - 9 * 18px) / 9) 1fr;
    grid-auto-rows: 1fr min-content min-content;
    grid-column-gap: 1.125rem;
    align-content: end;
    align-items: end;
}

.card > * {
    margin: 0;
    grid-column: 2;
}

.card > img {
    width: 100%;
    grid-column: 1;
    grid-row: 1 / span 3;
}

.card > img + * {
    margin-top: auto;
}