
/*
.card

A block with a fixed size <code>img</code> or <code>.thumb</code> plus
description text, such as a product listing or article summary or user
contact card.

Markup: <article class="card">
  <h1 class="text-3">Card title</h1>
  <p>Crunchum ipsum dolor sit coder void, constructor function,
  sed do while loop python orientation semi colon incident.</p>
  <a class="thumb" href="/" style="background-image: url('//source.unsplash.com/category/nature/1300x620');"></a>
</article>

Styleguide: Card
*/

.card {
	display: block;
	min-height: 84px;

	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 84px;

	/* Act as position parent */
	position: relative;

	/* A card is ready to have drag data attached. */
	-webkit-user-drag: element;
}

a.card:hover {
	text-decoration: none;
}

.card > img,
.card > .thumb {
	/* Cards have thumbs. Put them on the left by default. */
	position: absolute;
	top: 0;
	left: 0;
}

.card a,
.card img {
	-webkit-user-drag: none;
}


// .expo-card
//
// Markup: <div class="expo-card card">
//   <div class="expo-thumb thumb" style="background-image: url('//source.unsplash.com/random/226x320');">Exhibition title</div>
//   <h2 class="text-3">Exhibition title</h2>
//   <time class="text-4 lined block" datetime="">Du 05 juin 2015 au 14 juin 2015</time>
//   <p>crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.</p>
//   <p class="text-10">MCBA – expositions</h3>
// </div>
//
// Styleguide: Card.expo-card

.expo-card {
	min-height: 20rem;
	padding: 0;
}

.expo-card > .expo-thumb {
	display: block;
	position: static;
	margin-left: auto;
	margin-right: auto;
}

.expo-card > .expo-thumb + .text-3 {
	margin-top: 1.375rem;
}

@media screen and (min-width: $breakpoint-2) {
	.expo-card {
		padding-left: 15.625rem;
	}

	.expo-card > .expo-thumb {
		position: absolute;
	}

	.expo-card > .expo-thumb + .text-3 {
		margin-top: 0;
	}
}


// Event card
//
// A flexible card that conforms to the grid, with the image taking up a 1/3
// grid. Event card is not actually based on the class <code>card</code>, as it
// is composed solely of flexible grid classes.
//
// Markup: <article class="grid-block block">
//   <img class="grid-1/3 @600-grid-1/3 block" src="//source.unsplash.com/random/424x575"
//   /><div class="grid-2/3 @600-grid-2/3 block">
//     <time class="text-4 lined block" datetime="2015-06-14">14 juin 2015</time>
//     <h2 class="text-3">Event title</h2>
//     <p>Tous les premièrs mardis du mois à 18h, pas besoin de reserver.</p>
//     <p class="text-10">#Visite guidée #famille</h3>
//   </div>
// </article>
//
// Styleguide: Card.z
