
/*
.card

A block with a fixed size <code>img</code> or <code>.thumb</code> plus
description text, such as a product listing or article summary or user
contact card.

Markup: <article class="card">
  <h1 class="text-3">Card title</h1>
  <p>Crunchum ipsum dolor sit coder void, constructor function,
  sed do while loop python orientation semi colon incident.</p>
  <a class="thumb" href="/" style="background-image: url('//source.unsplash.com/category/nature/1300x620');"></a>
</article>

Styleguide: Card
*/

.card {
	display: block;
	min-height: 84px;

	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 84px;

	/* Act as position parent */
	position: relative;

	/* A card is ready to have drag data attached. */
	-webkit-user-drag: element;
}

a.card:hover {
	text-decoration: none;
}

.card > img,
.card > .thumb {
	/* Cards have thumbs. Put them on the left by default. */
	position: absolute;
	top: 0;
	left: 0;
}

.card a,
.card img {
	-webkit-user-drag: none;
}
