
/**
Colour.
**/

/*
Colour classes set `color`, `background-color`, `stroke` and `fill`,
and variables are available to set colors in CSS:

- `.black-fg` sets color or stroke to black
- `.black-bg` sets background-color or fill to black
- `var(--black)` sets the color black in CSS
*/

/**
.transparent-bg

```html
<p class="thumb transparent-bg">Transparent</p>
```
**/

.transparent-fg { color: transparent; }
.transparent-bg { background-color: transparent; }

/**
.current-bg

```html
<p class="thumb current-bg">Current</p>
```
**/

.current-fg   { color: currentcolor; stroke: currentcolor; }
.current-bg   { background-color: currentcolor; fill: currentcolor; }

/**
.black-bg

```html
<p class="thumb black-bg">Black</p>
```
**/

:root       { --black: black; }
.black-fg   { color: black; stroke: black; }
.black-bg   { background-color: black; fill: black; }

/**
.white-bg

```html
<p class="thumb white-bg">White</p>
```
**/

:root       { --white: white; }
.white-fg   { color: white; stroke: white; }
.white-bg   { background-color: white; fill: white; }

/**
.red-bg

```html
<p class="thumb red-bg">Red</p>
```
**/

:root       { --red: #e62b24; }
.red-fg     { color: #e62b24; stroke: #e62b24; }
.red-bg     { background-color: #e62b24; fill: #e62b24; }

