/* Empty links */

[href=""],
/*[href="#"],*/
[alt=""],
img:not([alt]),
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
ul:empty,
ol:empty,
li:empty,
blockquote:empty,
strong:empty,
.debug {
    box-shadow: inset 0 0 0px 1px rgba(255,0,74,0.75) !important;
    border-color: rgb(255, 0, 74) !important;
}

/*
It's fine to be empty and hidden.
It's not fine to be empty and display: none, because we should prioritise
the hidden attribute over display: none (and display: none may have been set in
type.css as a visual fallback so we override it here to flag it as an error). 
*/
p:empty:not([hidden]),
h1:empty:not([hidden]),
h2:empty:not([hidden]),
h3:empty:not([hidden]),
h4:empty:not([hidden]),
h5:empty:not([hidden]),
h6:empty:not([hidden]),
ul:empty:not([hidden]),
ol:empty:not([hidden]),
li:empty:not([hidden]),
blockquote:empty:not([hidden]) {
    /* Overide hiders in text.css */
    display: block !important;
    min-width: 3.125rem;
    min-height: 1rem;
}

p.debug::before,
p:empty::before,
h1.debug::before,
h1:empty::before,
h2.debug::before,
h2:empty::before,
h3.debug::before,
h3:empty::before,
h4.debug::before,
h4:empty::before,
h5.debug::before,
h5:empty::before,
h6.debug::before,
h6:empty::before,
ul.debug::before,
ul:empty::before,
ol.debug::before,
ol:empty::before,
li.debug::before,
li:empty::before,
blockquote.debug::before,
blockquote:empty::before {
    /* Do not position it with top, left, etc. We cannot give the parent
       position: relative */
    position: absolute;
    font-family: 'Andale Mono', 'Courier New', monospace;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    width: 3.125rem;
    opacity: 0.8;
    padding: 0.0625rem;
    white-space: nowrap;
    color: rgb(255, 0, 74);
}

p.debug::before,
p:empty::before  { content: '<p>'; }
h1.debug::before,
h1:empty::before { content: '<h1>'; }
h2.debug::before,
h2:empty::before { content: '<h2>'; }
h3.debug::before,
h3:empty::before { content: '<h3>'; }
h4.debug::before,
h4:empty::before { content: '<h4>'; }
h5.debug::before,
h5:empty::before { content: '<h5>'; }
h6.debug::before,
h6:empty::before { content: '<h6>'; }
ul.debug::before,
ul:empty::before { content: '<ul>'; }
ol.debug::before,
ol:empty::before { content: '<ol>'; }
li.debug::before,
li:empty::before { content: '<li>'; }
blockquote.debug::before,
blockquote:empty::before { content: '<blockquote>'; }

button:not([type]) {
    box-shadow: inset 0 0 0px 1px rgba(255,0,74,0.75) !important;
    border-color: rgb(255, 0, 74) !important;
}

button:not([type])::before {
    content: 'Missing type';
    /* Do not position it with top, left, etc. We cannot give the parent
       position: relative */
    position: absolute;
    font-family: 'Andale Mono', 'Courier New', monospace;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    width: 3.125rem;
    opacity: 0.8;
    padding: 0.0625rem;
    white-space: nowrap;
    color: rgb(255, 0, 74);
}


/**
.TODO

Applies a 'wireframe' background to elements to indicate they are yet to be done.
**/

:root {
    --TODO-bg: border-box url('data:image/svg+xml;utf8,<svg viewBox="0 0 1 1" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">\
        <line stroke="dimgray" stroke-width="2" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="1" y2="0"></line>\
        <line stroke="dimgray" stroke-width="2" vector-effect="non-scaling-stroke" x1="1" y1="0" x2="1" y2="1"></line>\
        <line stroke="dimgray" stroke-width="2" vector-effect="non-scaling-stroke" x1="1" y1="1" x2="0" y2="1"></line>\
        <line stroke="dimgray" stroke-width="2" vector-effect="non-scaling-stroke" x1="0" y1="1" x2="0" y2="0"></line>\
        <line stroke="dimgray" stroke-width="0.5" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="1" y2="1"></line>\
        <line stroke="dimgray" stroke-width="0.5" vector-effect="non-scaling-stroke" x1="0" y1="1" x2="1" y2="0"></line>\
    </svg>') 0 0 / 100% 100% rgba(0,0,0,0.06);
}

.TODO {
    background: var(--TODO-bg);
}
