/*
DOM

Styleguide: 1-dom
*/

/*
html

Root element.

Styleguide: 1-dom.1
*/

html,
:root {
	height: 100%;
	color: #000000;
	/* Setting a background on <html> means that a background
	   on <body> does not get set on <html>. Win. */
	background-color: white;
}


/*
body

Styles applied to body.

Styleguide: 1-dom.2
*/

body {
	/* Act as position parent */
	position: relative;

	/* The document should have a minimum height that allows
	   enough space for it's absolutely positioned children */
	min-height: 50rem;
}

@media screen and (min-height: 50em) {
	body {
		/* Insist that body fills the window */
		min-height: 100%;
	}
}

/*
body > .nav-block

Styleguide: 1-dom.3
*/

body > .nav-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
