/*
.flex

Styleguide: 1.1.flex
*/

.flex,
.index > .flex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.n-flex { flex-direction: column-reverse; }
.s-flex { flex-direction: column; }
.e-flex { flex-direction: row; }
.w-flex { flex-direction: row-reverse; }
/*
.n-flex > .box,
.s-flex > .box { width: 100%; }
*/
.start-flex   { justify-content: flex-start; }
.end-flex     { justify-content: flex-end; }
.justify-flex { justify-content: space-between; }
.grid-flex    { justify-content: space-around; }
.spaced-flex  { justify-content: space-evenly; }

.flex.wrap    { flex-wrap: wrap; }
.flex.no-wrap { flex-wrap: nowrap; }

.halves-flex > *   { flex: 1 0 50%; }
.thirds-flex > *   { flex: 1 0 33.333333%; }
.quarters-flex > * { flex: 1 0 25%; }
.fifths-flex > *   { flex: 1 0 20%; }
.sixths-flex > *   { flex: 1 0 16.666667%; }

/* Keep focus box-shadows over the top of their siblings */
.flex > * { z-index: 0; }
.flex > .select-button { z-index: 1; }
.flex > *:focus { z-index: 2; }




/* .box */

.box {
	position: relative;
}

.box-0 {
	flex: 0 0;
}

.box-1 {
	flex: 1 1;
}

.flex-1\/2 { flex: 0 0 50%; }
.flex-1\/3 { flex: 0 0 33.333333333%; }
.flex-2\/3 { flex: 0 0 66.666666667%; }
.flex-1\/4 { flex: 0 0 25%; }
.flex-3\/4 { flex: 0 0 75%; }
.flex-1\/5 { flex: 0 0 20%; }
.flex-2\/5 { flex: 0 0 40%; }
.flex-3\/5 { flex: 0 0 60%; }
.flex-4\/5 { flex: 0 0 80%; }
.flex-1\/6 { flex: 0 0 16.666666667%; }
.flex-5\/6 { flex: 0 0 83.333333333%; }
