/* html.css

   Much borrowed from Normalize.css:
   http://github.com/necolas/normalize.css

   Also parts from blueprint:
   http://blueprintcss.org/

   And a few ideas from html5boilerplate:
   http://html5boilerplate.com/

   Normalisation for forms can be found in forms.css. Similarly,
   most normalisation for typography can be found in type.css.
*/

/* Hide templates in browsers where they are not natively supported. This is
   important, and there is no time when we don't want this to be true, so
   give it the strongest possible selector. */
:root > body template {
	display: none !important;
}

/* Make fullscreen elements fill the screen */

:-webkit-full-screen {
	width: 100vw !important;
	height: 100vh !important;
	margin: 0 !important;
}

:-moz-full-screen {
	width: 100vw !important;
	height: 100vh !important;
	margin: 0 !important;
}

:-ms-fullscreen {
	width: 100vw !important;
	height: 100vh !important;
	margin: 0 !important;
}

:fullscreen {
	width: 100vw !important;
	height: 100vh !important;
	margin: 0 !important;
}

/* Normalise elements */

html, body, div, span,
object, iframe, canvas, img, svg, audio, video, track, math,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, address, code, time, kbd, samp,
br, del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, dialog, figure, figcaption, footer, header,
nav, main, section, summary,
form, fieldset, label, legend, input, output, button, select, textarea,
progress, meter,
::before, ::after {
	/* Here's what makes Bolt a little different. Border box.
	   It'a a breath of fresh air to work with. */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;

	/* Set the dimensions of backgrounds to the limits of the
	   padding box. */
	-webkit-background-origin: padding-box;
	   -moz-background-origin: padding;
	        background-origin: padding-box;

	/* Default to backgrounds that don't repeat. */
	background-repeat: no-repeat;
}

html,
:root {
	/* Prevents iOS text size adjust after orientation change, without disabling user zoom
	   www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	padding: 0;
	margin: 0;
}

article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

p,
dl,
input,
menu,
ol,
ul,
dd,
pre {
	/* margins set differently in IE6/7, Chrome */
	margin: auto;
}

hr {
    /* Things collapse to 0 width when they are children of grids. Margin 0
       avoids this. */
    margin: 0;
}

code,
kbd,
samp,
pre {
	/* Correct the inheritance and scaling of font size */
	font-family: monospace, monospace;

	/* Correct the odd `em` font sizing */
	font-size: 1em;
}

menu,
ol,
ul {
	/* paddings set differently in IE6/7 */
	padding: 0;
}

a {
	/* Remove the gray background on active links in IE 10 */
	background-color: transparent;

	/* Remove gaps in links underline in iOS 8+ and Safari 8+ */
	-webkit-text-decoration-skip: objects;
}

:focus {
	/* Outline displays oddly in Chrome */
	outline: thin dotted;
}

/* Superseded by dom.device.js, where we add classes .mouse or .keyboard
   to the root to style focus. */
/*a:hover,
a:active {
	/* Improves readability when focused and also mouse hovered in all browsers
	   people.opera.com/patrickl/experiments/keyboard/test */
	/*outline-width: 0;
}*/

abbr[title] {
	/* Remove the bottom border in FF 39- */
	border-bottom: none;
}

mark {
	/* styling not present in IE6/7/8/9 */
	background: #ff0;
	color: #000;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

img,
svg,
canvas,
video,
object,
embed,
iframe {
	/* Media are most often used as block level elements. */
	display: block;
	border: 0;
}

img,
svg,
canvas,
video {
    /* Prevent media from overflowing parent by default */
    max-width: 100%;
    height: auto;
}

img {
    /* Don't stretch images */
    object-fit: cover;

	/* Improves image quality when scaled in IE7
	   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
    -ms-interpolation-mode: bicubic;
    object-position: 50% t;
}

svg {
	/* Allow SVG elements to escape the SVG container. */
	overflow: visible;

	/* Make SVGs fill and stroke to the color of their parents by default. */
	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0;
}

audio:not([controls]) {
	/* Prevents modern browsers from displaying 'audio' without controls
	   Remove excess height in iOS5 devices */
	display: none;
	height: 0;
}

figure {
	margin: auto;
}

figure > img,
figure > svg,
figure > canvas,
figure > video {
    width: 100%;
}

table {
	border-spacing: 0;
	/* Tables don't get border-radius if they are set to
	   border-collapse: collapse; */
	border-collapse: separate;

	/* Remove most spacing between table cells. They still need
	   'cellspacing="0"' in the markup. */
	/*border-collapse: collapse;*/
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
}

table,
td,
th {
	vertical-align: top;
}

[hidden] {
	/* styling for 'hidden' attribute not present in IE7/8/9, FF3, S4. */
	display: none !important;
}

/* IE has some really intrusive 'clear' icons in text inputs. Set them to 0x0
   rather than display: none because...
   http://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs/14739092#14739092 */
::-ms-clear {
	width: 0;
	height: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
	/* Get rid of persistent placeholders in webkit, where the placeholder
	   hangs around like an old fart. More here:
	   http://adactio.com/journal/6147/
	*/
	color: transparent;
}

[placeholder]:focus::-moz-placeholder {
	/* Get rid of persistent placeholders in Firefox. */
	color: transparent;
}

[draggable] {
	/* Make draggable elements draggable in WebKit */
	-webkit-user-drag: element;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;

	cursor: move;
}

[draggable="false"] {
 	-webkit-user-drag: none;

	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;

	cursor: auto;
}


/* Default print styles. */

@page {
	margin: 0.5cm;
}

@media print {
	html,
	body {
		background: transparent;
		text-shadow: none !important;
	}

	/* Display external links after their text. */
	a[href^="http://"],
	a[href^="http://"]:visited,
	a[href^="https://"],
	a[href^="https://"]:visited {
		text-decoration: underline;
	}

	a[href^="http://"]::after,
	a[href^="https://"]::after {
		content: " (" attr(href) ") ";
		font-size: 0.9167em;
		text-transform: lowercase;
		opacity: 0.8;
	}

	pre,
	blockquote,
	tr,
	img {
		page-break-inside: avoid;
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	/* css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}

	p, h2, h3, h4, h5, h6 {
		orphans: 3;
		widows: 3;
	}
}
