/*
.index

Applied to <code class="html-tag">ul</code>, <code class="html-tag">ol</code>
and <code class="html-tag">dl</code> elements to zero their default typographic
style. Child <code class="html-tag">li</code>s are blocks, but they are set up
to play nice as inline-blocks too.

Markup: <ul class="index">
  <li>One</li>
  <li>Two</li>
</ul>

Styleguide: Index
*/

.index {
	/* Remove default styling from list items. */
	list-style: none;
	margin: 0;
	padding: 0;
}

.index > li {
	/* Specifically remove default margin and padding from
	   list items in case some typography rules have added
	   these back in after the reset. */
	margin: 0;
	padding: 0;

	/* Make index items act as position parents. */
	position: relative;

	/* Prepare for inline-block layout. */
	vertical-align: top;
	overflow: visible;
}

.index > li > .index-button {
	display: block;
	width: auto;
}


/*
.crumb-index

A <code>'>'</code> character delimited list on one line for making navigation
breadcrumbs. <code class="html-tag">li</code>s are inline-blocks, so they should
have no spaces between them.

Markup: <ul class="crumb-index index">
   <li><a href="#path">path</a></li
  ><li><a href="#to">to</a></li
  ><li><a href="#document">document</a></li>
</ul>

Styleguide: Index.crumb-index
*/

.crumb-index,
.crumb-index > li {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.25rem;
}

.crumb-index > li + li::before {
	content: ">";
	display: inline-block;
	vertical-align: baseline;
	width: 1.5rem;
	text-align: center;
}

.crumb-index > li > a {
	text-decoration: none;
}

.crumb-index > li:last-child > a {
	color: $theme-color;
}


/*
.letter-index

List of inline-block <code class="html-tag">li</code>s for
<code>letter-button</code>s.

Markup: <ul class="letter-index index">
   <li><a class="letter-button button" href="#">A</a></li
  ><li><a class="letter-button button" href="#">B</a></li
  ><li><a class="letter-button button" href="#">C</a></li
  ><li><a class="letter-button button" href="#">D</a></li
  ><li><a class="letter-button button" href="#">E</a></li
  ><li><a class="letter-button button" href="#">F</a></li
  ><li><a class="letter-button button" href="#">&hellip;</a></li>
</ul>

Styleguide: Index.letter-index
*/

.letter-index {
	margin-left: -1px;
	margin-right: -1px;
}

.letter-index > li {
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
}

.letter-index > li,
.letter-index > li:first-child {
	margin-top: 0.4375rem;
	margin-bottom: 0.4375rem;
}

h4 + .letter-index,
.text-4 + .letter-index {
	margin-top: 12px;
}


/*
.menu-index

Divided list of block <code class="html-tag">li</code>s for
<code>menu-button</code>s.

Markup: <ul class="menu-index index">
   <li><a class="menu-button button" href="#">One</a></li
  ><li><a class="menu-button button" href="#">Two</a></li
  ><li><a class="menu-button button" href="#">Three</a></li
  ><li><a class="menu-button button" href="#">Four</a></li>
</ul>

Styleguide: Index.menu-index
*/

.menu-index > li + li {
	border-top: 1px solid $neutral-color-2;
}

.menu-index > li > .button {
	display: block;
}


/*
.submenu-index

A toggle-able open/closed child of <code>menu-index</code>.

Markup: <ul class="menu-index index">
  <li>
    <a class="toggle-menu-button menu-button button on" href="#menu-toggle-1">Button text</a>
    <ul class="submenu-index index toggle active" id="menu-toggle-1">
      <li><a href="#">Sous-page 1</a></li>
      <li><a href="#">Sous-page 2</a></li>
    </ul>
  </li>
  <li>
    <a class="toggle-menu-button menu-button button" href="#menu-toggle-2">Button text</a>
    <ul class="submenu-index index toggle" id="menu-toggle-2">
      <li><a href="#">Sous-page 1</a></li>
      <li><a href="#">Sous-page 2</a></li>
      <li><a href="#">Sous-page 3</a></li>
    </ul>
  </li>
</ul>

Styleguide: Index.menu-index-1
*/

.submenu-index {
	@extend .toggle-block;
	@extend .dashed-ul;

	padding-top: 0.125rem;
	padding-bottom: 0.3125rem;
	background-color: $neutral-color-2;

	> li {
		padding-top: 0.1875rem;
		padding-bottom: 0.1875rem;
		padding-left: 0.5625rem;
	}
}


/*
.footer-index

A spaced, dashed list for links in the footer.

Markup: <ul class="footer-index index text-9">
  <li><a href="#">Ephéméroptères</a></li>
  <li><a href="#">Chironomides</a></li>
  <li><a href="#">Fourmis des bois</a></li>
</ul>

Styleguide: Index.footer-index
*/

.footer-index {
	margin-left: 0;
	padding-left: 1rem;
}

.footer-index > li {
	list-style-type: none;
}

.footer-index > li::before {
	display: inline-block;
	content: '–';
	width: 1rem;
	margin-left: -1rem;
}

.footer-index > li {
	margin-top: 0.5rem;
}


/*
.page-index

A closely-spaced line of <code class="html-tag">li</code>s as inline-blocks
containing page-buttons and page-thumbs.

Markup: <ul class="page-index index">
  <li><a class="prev-page-thumb page-thumb thumb disabled" href="{{ url }}">Previous</a></li
  ><li class="page-li @400-hidden"><span class="page-button button on">Page 1</span></li
  ><li class="@400-shown"><a class="page-button button" href="{{ url }}">1</a></li
  ><li class="@400-shown"><a class="page-button button on" href="{{ url }}">2</a></li
  ><li class="@400-shown"><a class="page-button button" href="{{ url }}">3</a></li
  ><li class="@400-shown"><span class="page-button button">&hellip;</span></li
  ><li class="@400-shown"><a class="page-button button" href="{{ url }}">8</a></li
  ><li><a class="next-page-thumb page-thumb thumb" href="{{ url }}">Next</a></li>
</ul>

Styleguide: Index.page-index
*/

/*
.page-index > .page-li

Stretches an <code>li</code> to fill remaining width of <code>page-index</code>.

Styleguide: Index.page-index-stretch
*/

.page-index {
	width: 100%;
}

.page-index > li {
	display: inline-block;
}

.page-index > li + li {
	margin-left: 0.1875rem;
}

.page-index > li > .button,
.page-index > li > .thumb {
	vertical-align: top;
}

.page-index > .page-li {
	width: calc(100% - 4.875rem);
}

.page-index > .page-li > .button {
	width: 100%;
}


/*
.link-index

List of text links found in the menu. Responds with the navigation.

Markup: <ul class="link-index index">
   <li><a href="/">Go </a></li
  ><li><a href="/">Somewhere</a></li>
</ul>

Styleguide: Index.link-index
*/

.link-index,
.lang-index,
.social-index {
	background-color: #383a3d;
}

.lang-index,
.social-index {
	padding-left: 1.25rem;
}

.social-index {
	padding-top: 2.1875rem;
}

.link-index {
	padding-top: 1.5625rem;
}

.lang-index {
	padding-top: 1.5625rem;
	padding-bottom: 2.5rem;
}

.link-index > li > .button {
	width: 100%;
}

@media screen and (min-width: $breakpoint-3) {
	.link-index,
	.lang-index,
	.social-index {
		background-color: transparent;
		padding-top: 0;
		padding-bottom: 0;
	}

	.lang-index,
	.link-index {
		margin-top: 0.125rem;
	}

	.lang-index,
	.link-index,
	.lang-index > li,
	.link-index > li,
	.lang-index > li > a,
	.link-index > li > .button {
		/* Make sure all line-boxes align to baseline. */
		display: inline-block;
		vertical-align: baseline;
	}

	.link-index > li > .button {
		/* Line boxes only play nice with visible overflow. */
		overflow: visible;
	}

	.social-index > li {
		vertical-align: -0.125rem;
	}
}


/*
.lang-index

List of language links. The class <code>on</code> marks the current language.
Reposnds with the navigation.

Markup: <ul class="lang-index index">
   <li><a class="on" href="fr">FR</a></li
  ><li><a href="en">EN</a></li>
</ul>

Styleguide: Index.lang-index
*/

.lang-index > li {
	display: inline-block;
}

.lang-index > li + li {
	margin-left: 0.625rem;
	padding-left: 0.625rem;
}

.lang-index > li + li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	height: 0.875rem;
	margin-top: -0.4375rem;
	border-left: 1px solid currentcolor;
}

.lang-index > li > a {
	text-transform: uppercase;
}

.lang-index > li > a:hover {
	text-decoration: underline;
}

.lang-index > li > a,
.lang-index > li > a.on {
	text-decoration: none;
}

@media screen and (min-width: $breakpoint-3) {
	.lang-index > li > a.on {
		color: $theme-color;
	}
}


/*
.social-index

A closely-spaced line of <code class="html-tag">li</code> inline-blocks
containing social media thumbs.

Markup: <ul class="social-index index">
   <li><a class="tw-thumb thumb" href="#">Twitter</a></li
  ><li><a class="fb-thumb thumb" href="#">Facebook</a></li
  ><li><a class="in-thumb thumb" href="#">Instagram</a></li>
</ul>

Styleguide: Index.social-index
*/

.social-index > li {
	display: inline-block;
}

.social-index > li + li {
	margin-left: 0.3125rem;
}

.social-index > li > .thumb {
	vertical-align: top;
}
