
label {
	max-width: 100%;
	width: auto;
	height: auto;
	line-height: 1.75rem;
	border: 0;
}

label[for] {
	/* Clickable stuff gets a pointer cursor... */
	cursor: pointer;
}

label > [type="checkbox"],
label > [type="radio"] {
	/* checkboxes nested inside labels */
	margin-right: 0.5rem;
	line-height: inherit;
}

* + label,
fieldset + input,
fieldset + fieldset {
	margin-top: 2rem;
}

.hidden + label {
	margin-top: 0;
}


/**
.checkbox-label

```html
<input type="checkbox" class="masked" id="checkbox-1" />
<label class="checkbox-label" for="checkbox-1">Choose me</label>
```

<form validateable>
<input type="checkbox" class="masked" id="checkbox-1" />
<label class="checkbox-label" for="checkbox-1">Choose me</label>
</form>
*/

/**
.radio-label

```html
<input type="radio" class="masked" id="radio-1" />
<label class="radio-label" for="radio-1">Choose me</label>
```

<form validateable>
<input type="radio" class="masked" id="radio-1" />
<label class="radio-label" for="radio-1">Choose me</label>
</form>
*/

.radio-label,
.checkbox-label {
	position: relative;
	padding-left: 2.25rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	min-height: 2.5rem;
	text-align: left;
}

.right-label {
	padding-left: 0;
	padding-right: 3rem;
}

.dialog > .radio-label,
.dialog > .checkbox-label {
	display: block;
}

.radio-label::before,
.radio-label::after,
.checkbox-label::before,
.checkbox-label::after {
	content: '';
	position: absolute;
	top: 0.5625rem;
	left: 0;
	margin-top: 0;
	width: 1.5rem;
	height: 1.5rem;
	box-sizing: border-box;
}

.right-label::before,
.right-label::after {
	left: auto;
	right: 0;
}

.radio-label::before,
.checkbox-label::before {
	background-color: white;
	border: 1px solid #cccccc;
}

.radio-label::before {
	border-radius: 1rem;
}

.checkbox-label::before,
.checkbox-label::after {
	border-radius: 0;
}

.radio-label::after,
.checkbox-label::after {
	display: none;
}

.masked:checked + .radio-label::after,
.masked:checked + .checkbox-label::after {
	display: block;
}

.radio-label::after {
	top: 0.9375rem;
	left: 0.375rem;
	width: 0.75rem;
	height: 0.75rem;
	background-color: currentcolor;
	border-radius: 0.375rem;
}

.checkbox-label::after {
	content: '✓';
	text-align: center;
}

.masked + .checkbox-label,
.masked + .radio-label {
    margin-top: 0;
}

/**
.yes-radio-label

```html
<input type="radio" class="masked" id="yes-radio-1" />
<label class="yes-radio-label radio-label" for="yes-radio-1">Yes</label>
```

<form validateable>
<input type="radio" class="masked" id="yes-radio-1" />
<label class="yes-radio-label radio-label" for="yes-radio-1">Yes</label>
</form>
*/

/**
.no-radio-label

```html
<input type="radio" class="masked" id="no-radio-1" />
<label class="no-radio-label radio-label" for="no-radio-1">No</label>
```

<form validateable>
<input type="radio" class="masked" id="no-radio-1" />
<label class="no-radio-label radio-label" for="no-radio-1">No</label>
</form>
*/

.yes-radio-label::before,
.no-radio-label::before {
	border-width: 0;
	background-color: #7B7B74;
}

.masked[type="radio"]:checked + .yes-radio-label::before,
.yes-radio-label:hover::before,
.yes-radio-label:focus::before {
	background-color: green;
	border-color: green;
}

.masked[type="radio"]:checked + .no-radio-label::before,
.no-radio-label:hover::before,
.no-radio-label:focus::before {
	background-color: #C22820;
	border-color: #C22820;
}

.yes-radio-label::after,
.no-radio-label::after {
	display: block;
	top: 0.375rem;
	left: 0;
	width: 2rem;
	height: 2rem;
	background-color: transparent;
	background-size: auto;
}

.yes-radio-label::after {
	background-position: 5px -394px;
}

.no-radio-label::after {
	background-position: 8px -432px;
}

/**
.error-label

```html
<input type="text" required id="required-input" />
<label class="error-label" for="required-input">Field is required</label>
```

<form validateable>
<input type="text" required id="required-input" />
<label class="error-label" for="required-input">Field is required</label>
</form>
**/

/**
.help-label

```html
<input type="text" required id="help-input" />
<label class="help-label" for="help-input">Write something in the field</label>
```

<form validateable>
<input type="text" required id="help-input" />
<label class="help-label" for="help-input">Write something in the field</label>
</form>
**/

.error-label,
.help-label {
	display: block;
}

.error-label {
	color: #d0153e;
}

* + .error-label {
	margin-top: 0.375em;
}

* + .help-label {
	margin-top: 0.375em;
}

.x-1 + .error-label,  .x-1 + .help-label  { grid-column-start: 1; }
.x-2 + .error-label,  .x-2 + .help-label  { grid-column-start: 2; }
.x-3 + .error-label,  .x-3 + .help-label  { grid-column-start: 3; }
.x-4 + .error-label,  .x-4 + .help-label  { grid-column-start: 4; }
.x-5 + .error-label,  .x-5 + .help-label  { grid-column-start: 5; }
.x-6 + .error-label,  .x-6 + .help-label  { grid-column-start: 6; }
.x-7 + .error-label,  .x-7 + .help-label  { grid-column-start: 7; }
.x-8 + .error-label,  .x-8 + .help-label  { grid-column-start: 8; }
.x-9 + .error-label,  .x-9 + .help-label  { grid-column-start: 9; }
.x-10 + .error-label, .x-10 + .help-label { grid-column-start: 10; }
.x-11 + .error-label, .x-11 + .help-label { grid-column-start: 11; }
.x-12 + .error-label, .x-12 + .help-label { grid-column-start: 12; }

.xspan-1 + .error-label,  .xspan-1 + .help-label  { grid-column-end: span 1; }
.xspan-2 + .error-label,  .xspan-2 + .help-label  { grid-column-end: span 2; }
.xspan-3 + .error-label,  .xspan-3 + .help-label  { grid-column-end: span 3; }
.xspan-4 + .error-label,  .xspan-4 + .help-label  { grid-column-end: span 4; }
.xspan-5 + .error-label,  .xspan-5 + .help-label  { grid-column-end: span 5; }
.xspan-6 + .error-label,  .xspan-6 + .help-label  { grid-column-end: span 6; }
.xspan-7 + .error-label,  .xspan-7 + .help-label  { grid-column-end: span 7; }
.xspan-8 + .error-label,  .xspan-8 + .help-label  { grid-column-end: span 8; }
.xspan-9 + .error-label,  .xspan-9 + .help-label  { grid-column-end: span 9; }
.xspan-10 + .error-label, .xspan-10 + .help-label { grid-column-end: span 10; }
.xspan-11 + .error-label, .xspan-11 + .help-label { grid-column-end: span 11; }
.xspan-12 + .error-label, .xspan-12 + .help-label { grid-column-end: span 12; }

.y-1  + .error-label, .y-1  + .help-label { grid-row-start: 1; }
.y-2  + .error-label, .y-2  + .help-label { grid-row-start: 2; }
.y-3  + .error-label, .y-3  + .help-label { grid-row-start: 3; }
.y-4  + .error-label, .y-4  + .help-label { grid-row-start: 4; }
.y-5  + .error-label, .y-5  + .help-label { grid-row-start: 5; }
.y-6  + .error-label, .y-6  + .help-label { grid-row-start: 6; }
.y-7  + .error-label, .y-7  + .help-label { grid-row-start: 7; }
.y-8  + .error-label, .y-8  + .help-label { grid-row-start: 8; }
.y-9  + .error-label, .y-9  + .help-label { grid-row-start: 9; }
.y-10 + .error-label, .y-10 + .help-label { grid-row-start: 10; }
.y-11 + .error-label, .y-11 + .help-label { grid-row-start: 11; }
.y-12 + .error-label, .y-12 + .help-label { grid-row-start: 12; }
.y-13 + .error-label, .y-13 + .help-label { grid-row-start: 13; }
.y-14 + .error-label, .y-14 + .help-label { grid-row-start: 14; }
.y-15 + .error-label, .y-15 + .help-label { grid-row-start: 15; }
.y-16 + .error-label, .y-16 + .help-label { grid-row-start: 16; }
.y-17 + .error-label, .y-17 + .help-label { grid-row-start: 17; }
.y-18 + .error-label, .y-18 + .help-label { grid-row-start: 18; }

.error-label + .help-label {
    /* Hide help while there are errors. Errors disappear when you start
       typing anyway, so help is still available. */
    display: none;
}
