
/*
.nav-block

Container block for navigation section of the page, positioned absolutely as a
direct child of <code>body</code> and animated as needed by size of the screen.

Markup: <nav class="nav-block block toggle" id="nav"></nav>

Styleguide: block.nav-block
*/

.nav-block {
	overflow: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	        transform: translate3d(-100%, 0, 0);
	transition: transform 300ms cubic-bezier(0.27, 0.6, 0.55, 1);
}

.nav-block.active {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	transition: transform 160ms cubic-bezier(0.43, 0.15, 0.82, 0.3);
}

.nav-block > .close-thumb {
	position: absolute;
	top: 0.875rem;
	right: 1.25rem;
}

@media screen and (min-width: $breakpoint-3) {
	.nav-block {
		-webkit-transform: none;
		        transform: none;
	}

	.nav-block > .nav-index, {
		position: absolute;
		top: 0;
		right: 0;
	}

	.nav-block > .close-thumb {
		display: none !important;
	}
}

/*
.nav-index

List of <code>nav-button</code>s.

Markup: <ul class="nav-index index">
  <li><a class="nav-button button on" href="#example-nav">First button</a></li
  ><li><a class="nav-button button" href="#">Second button</a></li
  ><li><a class="nav-button button current" href="#">Third button</a></li>
</ul>

Styleguide: index.nav-index
*/

/*
.sub-index

List of <code>sub-button</code>s.

Markup: <ul class="sub-index index">
  <li><a class="sub-button button on" href="#example-nav">First button</a></li
  ><li><a class="sub-button button" href="#">Second button</a></li
  ><li><a class="sub-button button current" href="#">Third button</a></li>
</ul>
*/

.nav-index > li > .button,
.sub-index > li > .button {
	display: block;
}

@media screen and (min-width: 48rem) {
	.nav-index > li {
		display: inline-block;
	}

	.sub-index {
		max-height: none;
		padding-top: 0.875rem;
		padding-bottom: 0.875rem;
		padding-left: 0.875rem;
		padding-right: 0.875rem;
		min-width: 12.5rem;
		-webkit-transform: translate3d(-50%, -50%, 0) scale(0.6667) translate3d(50%, 50%, 0);
		transform: translate3d(-50%, -50%, 0) scale(0.6667) translate3d(50%, 50%, 0);
		opacity: 0;
		visibility: hidden;
		transition:
			transform 240ms cubic-bezier(0.23, -0.6, 0.89, 0.32),
			opacity 240ms ease-in,
			visibility 240ms linear;
	}

	.sub-index.active {
		max-height: none;
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 1;
		visibility: visible;
		transition:
			transform 60ms cubic-bezier(0.56, 0.39, 0.53, 1.43),
			opacity 160ms ease-out,
			visibility 160ms linear;
		z-index: 2;
	}

	.nav-index > li > .sub-index {
		position: absolute;
		top: 4.375rem;
		left: 0;
	}

	.nav-index > li:last-child > .sub-index {
		/* Point the last menu to the left. */
		left: auto;
		right: 0;
		-webkit-transform: translate3d(50%, -50%, 0) scale(0.6667) translate3d(-50%, 50%, 0);
		        transform: translate3d(50%, -50%, 0) scale(0.6667) translate3d(-50%, 50%, 0);
	}

	.nav-index > li:last-child > .sub-index.active {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
