@media screen and (max-width: 29.9999em) {
  .\@1-shown {
    display: none !important; } }

@media screen and (min-width: 30em) {
  .\@1-hidden {
    display: none !important; }
  .\@1-block {
    display: block; }
  .\@1-inline-block {
    display: inline-block; }
  .\@1-left {
    float: left; }
  .\@1-right {
    float: right; } }

@media screen and (max-width: 37.4999em) {
  .\@2-shown {
    display: none !important; } }

@media screen and (min-width: 37.5em) {
  .\@2-hidden {
    display: none !important; }
  .\@2-block {
    display: block; }
  .\@2-inline-block {
    display: inline-block; }
  .\@2-left {
    float: left; }
  .\@2-right {
    float: right; } }

@media screen and (max-width: 44.9999em) {
  .\@3-shown {
    display: none !important; } }

@media screen and (min-width: 45em) {
  .\@3-hidden {
    display: none !important; }
  .\@3-block {
    display: block; }
  .\@3-inline-block {
    display: inline-block; }
  .\@3-left {
    float: left; }
  .\@3-right {
    float: right; } }

@media screen and (max-width: 59.9999em) {
  .\@4-shown {
    display: none !important; } }

@media screen and (min-width: 60em) {
  .\@4-hidden {
    display: none !important; }
  .\@4-block {
    display: block; }
  .\@4-inline-block {
    display: inline-block; }
  .\@4-left {
    float: left; }
  .\@4-right {
    float: right; } }
