
:root {
	height: 100%;

	/* Setting a background on <html> means that a background
	   on <body> does not get set on <html>. Win. */
	color: #000000;
	background-color: white;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
    scroll-behavior: smooth;
}
