
/**
.switch-label

```html
<input class="masked" type="checkbox" value="something" id="switch-input" />
<label class="switch-label" for="switch-input">Turn me on</label>
```

<form>
<input class="masked" type="checkbox" value="something" id="switch-input" />
<label class="switch-label" for="switch-input">Turn me on</label>
</form>
**/

.switch-label {
    display: block;
    position: relative;
	font-size: var(--checkbox-font-size);
	line-height: var(--checkbox-line-height);
	font-weight: inherit;
    padding-left: 3.75rem;
	padding-top: calc(0.5 * (var(--input-height) - var(--checkbox-line-height)));
	padding-bottom: calc(0.5 * (var(--input-height) - var(--checkbox-line-height)));
	min-height: var(--input-height);
}

.switch-label::before {
    content: '';
    position: absolute;
    background-color: #cccccc;
    box-shadow: inset 0 0.125em 0.5em rgba(0,0,0,0.3);
    border-radius: 0.7em;
    padding: 0;
    padding-top: 1.4em;
    overflow: hidden;
    width: 2.625em;
    height: 1.4em;
    /* Depends on default label line-height. */
    top: 0;
    left: 0;
    transition: background-color 0.16s linear;
}

:checked + .switch-label::before {
    background-color: #a22d08;
}

.switch-label::after {
    content: '';
    position: absolute;
    width: 1.1em;
    height: 1.1em;
    /* Depends on default label line-height and height of control. */
    top: 0.15em;
    left: 0.15em;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0.15em 0.3125em rgba(0,0,0,0.333);
    transition:
        0.16s left ease-out,
        0.16s right ease-out;
}

:checked + .switch-label::after {
    left: 1.375em;
}

.switch-label + label {
    margin-top: 0.625em;
}


/**
.right-switch-label

```html
<input class="masked" type="checkbox" value="something" id="switch-input-2" />
<label class="right-switch-label switch-label" for="switch-input-2">Turn me on</label>
```

<form>
<input class="masked" type="checkbox" value="something" id="switch-input-2" />
<label class="right-switch-label switch-label" for="switch-input-2">Turn me on</label>
</form>
**/

.right-switch-label {
    padding-left: 0;
    padding-right: 3.75em;
}

.right-switch-label::before {
    left: auto;
    right: 0;
}

.right-switch-label::after {
    left: auto;
    right: 1.375em;
}

:checked + .right-switch-label::after {
    left: auto;
    right: 0.15em;
}
