/* IE png fix
   http://www.twinhelix.com/css/iepngfix/
   
   List all selectors you want to apply the pngfix to. The path to
   the .htc file must be relative to the html document, not this CSS.
   */

img,
.button,
.thumb,
input { behavior: url(/res/iepngfix/iepngfix.htc) }


/* Clearfix */

.clear { zoom: 1; }


/* Smooth resizing */

img { -ms-interpolation-mode: bicubic; }


/* horizontal
    
   Simulate a bunch of blocks pushed against each other horizontally
   by using in-flow layout to create a horizontal effect. Because
   they're in the flow, children must have no space between them in
   the html.
   
   Uses a technique for getting inline-block behaviour in IE, explained well here:
   http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
   
   Hacks:
   
   IE6 and IE7:
   
   property: value !ie; (the identifier !ie is invalid, so other browser don't see the rule.)
*/

.index li {
	margin: 0;
}

.col,
.column,
.horizontal li {
  /* Uses a technique for getting inline-block behaviour in IE, explained well here:
     http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
  
  display: inline;
}

.horizontal .last {
  margin-right: 0;
}


/* IE6-down buttons
   Stephen Band
   webdev.stephband.info/buttons */

.disabled                                                   {filter: alpha(opacity=60%);}

/* force inline-block behaviour */
button, .button                                             {display: inline; vertical-align: middle; margin-bottom: 1px;}