/* Clearfix */

.clear { zoom: 1; }


/* Smooth resizing */

img { -ms-interpolation-mode: bicubic; }


/* horizontal
    
   Simulate a bunch of blocks pushed against each other horizontally
   by using in-flow layout to create a horizontal effect. Because
   they're in the flow, children must have no space between them in
   the html.
   
   Uses a technique for getting inline-block behaviour in IE, explained well here:
   http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
   
   Hacks:
   
   IE6 and IE7:
   
   property: value !ie; (the identifier !ie is invalid, so other browser don't see the rule.)
*/

.col,
.column,
.horizontal > li {
  /* Uses a technique for getting inline-block behaviour in IE, explained well here:
     http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
  
  display: inline;
}

.horizontal > .last {
  margin-right: 0;
}


/* IE7-down buttons */
/* Stephen Band, with thanks to electronlibre.ch */
/* webdev.stephband.info/buttons */

/* input does not move left with -ve margin */
.button span input {
    left: -10px;                                            /* left: -(w + pl); */
    padding: 0;                                             /* padding-right: w + pr - 10; padding-left: w + pl - 10; */
}