/* template.typography.12_20.css
 * 
 * Developed using ideas from:
 * www.blueprintcss.org
 * www.webtypography.net
 * www.html5boilerplate.com
 * 
 * The default font-size is 1em == 12px. to resize
 * text, Use this table as a guide:
 * 
 * 8px  == 0.666em
 * 9px  == 0.75em
 * 10px == 0.833em
 * 11px == 0.9167em
 * 12px == 1em
 * 14px == 1.1667em 
 * 15px == 1.25em
 * 16px == 1.3333em
 * 18px == 1.5em 
 * 20px == 1.6667em  
 * 21px == 1.75em
 * 24px == 2em
 * 
 */

html {
    font-size:100.01%;
}

body{
	/* 15px */
	font-size: 93.75%;
}

body,
.index > li {
    line-height: 1.3333;
}

/* Block elements */

h1                { word-spacing: -0.0833em; font-size: 1.3333em; line-height: 1em;      margin-bottom: 1em; }
h2                { word-spacing: -0.0833em; font-size: 1.2em;    line-height: 1.1111em; margin-bottom: 0.5555em; }
h3                { word-spacing: -0.0833em; font-size: 1.0667em; line-height: 1.25em;   margin-bottom: 0.625em; }
h4                { word-spacing: -0.0833em; font-size: 1em;      line-height: 1.3333em; }
h5                { word-spacing: -0.0833em; font-size: 1em;      line-height: 1.3333em; }
h6                { word-spacing: -0.0833em; font-size: 1em; }

p                 { margin-bottom: 0.8333em; }
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
li:last-child,
pre:last-child,
address:last-child,
blockquote:last-child { margin-bottom: 0; }

dd                { margin: 0; }
ul,
ol,
dl,
blockquote        { margin: 1.3333em 0 1.3333em 0; }
li                { margin-bottom: 0;}

blockquote:before { font-size: 3em; line-height: 0.84em; margin-left: -0.6em; }
pre,
address           { margin: 1.3333em 0; }

/* Inline elements */

sup,
sub               { font-size: 0.6em; line-height: 0; }

abbr              { letter-spacing: 0.1em; }
pre,
code,
tt                { font-size: 1em; }

/* Tables */

table             { margin-bottom: 1.3333em; }
th,
td,
caption           { padding: 4px 10px 4px 5px; }

/* Indentation */

ul,
ol,
blockquote        { margin-left: 2.6667em; }

/* Classes */

.left             { margin: 0.75em 1em 0.75em 0; }
.right            { margin: 0.75em 0 0.75em 1em; }
.note             { font-size: 0.9167em; line-height: 1.8181; }