/* Forms */

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}

textarea {
  /* Removes default vertical scrollbar */
  overflow: auto;
}

/* .layer */

.popup_layer,
.loading_layer {
  background-image: url('../images/bg/rgba_0_0_0_70.png');
  background-repeat: repeat;
}

.js .dropdown,
.js .popdown,
.js .popup_layer,
.js .loading_layer,
.js .tip,
.js .tab {
  filter: 'alpha(opacity=0)';
}

.js .dropdown.active,
.js .popdown.active,
.js .popup_layer.active,
.js .loading_layer.active,
.js .tip.active,
.js .tab.active {
  filter: 'alpha(opacity=100)';
}


/* .thumb */

.thumb img {
  /* IE uses an img tag because background-images dont scale. */
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}

.chrome_browser_thumb {
  background-image: url('../images/thumbs/logo_chrome.gif');
  background-position: 0 0;
}

.firefox_browser_thumb {
  background-image: url('../images/thumbs/logo_firefox.gif');
  background-position: 0 0;
}

.opera_browser_thumb {
  background-image: url('../images/thumbs/logo_opera.gif');
  background-position: 0 0;
}

.safari_browser_thumb {
  background-image: url('../images/thumbs/logo_safari.gif');
  background-position: 0 0;
}

.ie_browser_thumb {
  background-image: url('../images/thumbs/logo_safari.gif');
  background-position: 0 0;
}

.chromeframe_browser_thumb {
  background-image: url('../images/thumbs/logo_chromeframe.gif');
  background-position: 0 0;
}

/* .index, .col */

.index > li,
.column,
.col,
.col_wrap {
  /* Trigger hasLayout */
  zoom: 1;
}

.js .button > select {
	filter: alpha(opacity=0);
}

body .notransition {
	-webkit-transition-duration: 0;
	   -moz-transition-duration: 0;
	    -ms-transition-duration: 0;
	        transition-duration: 0;

	-webkit-transition-delay: 0;
	   -moz-transition-delay: 0;
	    -ms-transition-delay: 0;
	        transition-delay: 0;
}