
/*
.thumb

Base class for thumbnails.
A <code>.thumb</code> is an icon or avatar or other image.
A <code>.thumb</code> hides text content by pushing it outside the hidden overflow, displaying only it's <code>background-image</code>.
The user cannot interact with a <code>background-image</code> in the way they can with an <code>&lt;img/&gt;</code>).
This should be the main consideration when deciding to use a <code>.thumb</code> or an <code>&lt;img/&gt;</code>.
Thumb is in essence an image replacement technique.

A default thumb is a square of 64x64px. Add an image by defining a
<code>background-image</code>. The image is centered and 'cropped' via
<code>background-size</code> and <code>background-position</code>.

Markup: <a class="thumb" href="#" style="background-image: url('//source.unsplash.com/category/nature/128x80')">Thumb text</a>

Styleguide: thumb
*/

.thumb {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	/* Nullify padding that may have been put there by other
	   styling, say for example by <button class="thumb"> */
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;

	/* Hide overflowing text. This technique is better
	   than using -ve text-indent because IE7 moves
	   the background image with the text-indent. */
	padding-top: 4rem;
	height: 0;
	width: 4rem;

	/* Keep top of text safely away from the bottom of
	   the thumb. */
	line-height: 2;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

	/* background-position is set for the case where an image is used as the
	   the background. 50% to keep it centred, and 40% because faces are often
	   centred in the upper portion of the image. */
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-color: transparent;
	border-width: 0;

	text-decoration: none;
	color: inherit;
}

@media print {
	.thumb {
		/* Encourage webkit to print background image. */
		-webkit-print-color-adjust: exact;
	}
}


/*
.dismiss-thumb

Icon for dismissing alerts.

Markup: <button class="dismiss-thumb thumb">Dismiss</button>

Styleguide: thumb.dismiss-thumb
*/

.dismiss-thumb {
	width: 1.875rem;
	padding-top: 1.875rem;
	background-image: url('../images/sprites.svg');
	background-position: 0 -625px;
	background-size: auto;
}

/*
.fb-thumb

Markup: <a class="fb-thumb thumb" href="/">Facebook</a>

Styleguide: thumb.social-thumb-1
*/

/*
.tw-thumb

Markup: <a class="tw-thumb thumb" href="/">Twitter</a>

Styleguide: thumb.social-thumb-2
*/

/*
.in-thumb

Markup: <a class="in-thumb thumb" href="/">Instagram</a>

Styleguide: thumb.social-thumb-3
*/

.fb-thumb,
.tw-thumb,
.in-thumb {
	width: 1.875rem;
	padding-top: 1.875rem;
	background-image: url('../images/sprites.svg');
	background-size: 7.5rem auto;
}

.fb-thumb {
	background-color: #3b5998;
	background-position: 0 -8.8125rem;
}

.tw-thumb {
	background-color: #55acee;
	background-position: 0 -5.875rem;
}

.in-thumb {
	background-color: #3f729b;
	background-position: 0 -11.75rem;
}

@media screen and (min-width: $breakpoint-3) {
	.fb-thumb,
	.tw-thumb,
	.in-thumb {
		width: 1rem;
		padding-top: 1rem;
		background-size: auto;
	}

	.fb-thumb {
		background-position: 0 -4.6875rem;
	}

	.tw-thumb {
		background-position: 0 -3.125rem;
	}

	.in-thumb {
		background-position: 0 -6.25rem;
	}
}
