:root {

    /**
    --badge-font-size
    Font size of badge
    **/
    --badge-font-size: 0.75rem;

    /**
    --badge-width
    Min width, height and line-height of badge
    **/
    --badge-width: 1.5em;

    /**
    --badge-background
    Background of badge
    **/
    --badge-background: black;


    /**
    --bubble-font-size
    Font size of badge
    **/
    --bubble-font-size: 1rem;

    /**
    --bubble-background
    Background of bubble
    **/
    --bubble-background: #dbe9ee;

    /**
    --bubble-border-color
    **/
    --bubble-border-color: #cadce3;

    /**
    --bubble-border-width
    **/
    --bubble-border-width: 0.125rem;

    /**
    --bubble-border-radius
    **/
    --bubble-border-radius: 0.25rem;


    /**
    --input-font-size
    Font size of inputs, selects and textareas
    **/

    --input-font-size: inherit;

    /**
    --input-line-height
    Line height of textareas
    **/

    --input-line-height: inherit;

    /**
    --input-background-color
    Background colour of input, select and textareas
    **/

    --input-background-color: white;

    /**
    --input-border-color
    Border colour of inputs, selects and textareas
    **/

    --input-border-color: currentcolor;

    /**
    --input-border-width
    Border width of inputs, selects and textareas
    **/

    --input-border-width: 1px;

    /**
    --input-border-radius
    Border radius of inputs, selects and textareas
    **/

    --input-border-radius: 0;

    /**
    --input-box-shadow
    Box shadow of inputs, selects and textareas
    **/

    --input-box-shadow: none;

    /**
    --input-padding-left
    Indentation of inputs, padding of selects and textareas
    **/

    --input-padding-left: 0.5em;

    /**
    --input-padding-right
    Right padding of inputs, selects and textareas
    **/

    --input-padding-right: 0.5em;

    /**
    --input-padding-top
    Top padding of textareas
    **/

    --input-padding-top: 0;

    /**
    --input-padding-bottom
    Bottom padding of textareas
    **/

    --input-padding-bottom: 0;

    /**
    --input-height
    Height of inputs and selects
    **/

    --input-height: 3em;

    /**
    --input-color
    Text colour of inputs, selects and textareas
    **/

    --input-color: inherit;

    /*
    --input-label-margin
    */

    --input-label-margin: 0;

    /*
    --input-label-margin
    */

    --input-label-margin: 0;


    /**
    --label-font-size
    Font size of labels
    **/

    --label-font-size: inherit;

    /**
    --label-line-height
    Line height of labels
    **/

    --label-line-height: inherit;

    /**
    --label-color
    Colour of labels
    **/

    --label-color: inherit;


    /**
    --checkbox-font-size
    Font size of checkbox labels
    **/

    --checkbox-font-size: inherit;

    /**
    --checkbox-line-height
    Line height of checkbox labels
    **/

    --checkbox-line-height: inherit;

    /**
    --checkbox-width
    Size of simulated checkboxes
    **/

    --checkbox-width: 1.5rem;

    /**
    --checkbox-border-width
    Border width of simulated checkboxes
    **/

    --checkbox-border-width: var(--input-border-width);

    /**
    --checkbox-border-radius
    Border radius of simulated checkboxes
    **/

    --checkbox-border-radius: 0;

    /**
    --radio-width
    Size of simulated radio buttons
    **/

    --radio-width: 1.5rem;

    /**
    --radio-border-width
    Border width of simulated radio buttons
    **/

    --radio-border-width: var(--input-border-width);

    /**
    --radio-check-width
    Size of radio check mark
    **/

    --radio-check-width: 0.75rem;

    /**
    --radio-check-color
    Color of radio check mark
    **/

    --radio-check-color: currentcolor;

    /**
    --focus-background-color
    Background colour of focused inputs, selects and textareas
    **/

    --focus-background-color: var(--input-background-color);

    /**
    --focus-border-color
    Border colour of focused inputs, selects and textareas
    **/

    --focus-border-color: #2c9bd3;

    /**
    --focus-box-shadow
    Box shadow of focused links, inputs, selects and textareas
    **/

    --focus-box-shadow:
        0 0 5px 2px hsla(200,56%,49%,0.8),
        inset 0 0 0 1px hsl(200,56%,49%),
        inset 0 0 0.5rem hsla(200,65%,60%,0.6);

    /**
    --invalid-background-color
    Background colour of invalid inputs, selects and textareas
    **/

    --invalid-background-color: var(--input-background-color);

    /**
    --invalid-border-color
    Border colour of invalid inputs, selects and textareas
    **/

    --invalid-border-color: rgba(214,23,41);

    /**
    --invalid-box-shadow
    Box shadow of invalid inputs, selects and textareas
    **/

    --invalid-box-shadow: 0 0 1px 2px rgba(214,23,41,0.875), inset 0 0 1px rgba(214,23,41,0.875);

    /**
    --switch-background
    Background of switches
    **/

    --switch-background: #cccccc;
    --switch-background-checked: #a22d08;
    --switch-width: 2.625em;
    --switch-height: 1.4em;
	--switch-border: 0 solid currentcolor;
    --switch-border-checked: 0 solid currentcolor;
    --switch-box-shadow: inset 0 0.125em 0.5em rgba(0,0,0,0.3);
    --switch-handle-background: white;
    --switch-handle-width: 1.1em;
    --switch-handle-border: 1px solid currentcolor;
    --switch-handle-border-checked: var(--switch-handle-border);
    --switch-handle-box-shadow: 0 0.15em 0.3125em rgba(0,0,0,0.333);
}