
:root {
    /**
    --input-font-size
    Font size of inputs, selects and textareas
    **/
    --input-font-size: inherit;

    /**
    --input-line-height
    Line height of textareas
    **/
    --input-line-height: 1.5rem;

    /**
    --input-background-color
    Background colour of input, select and textareas
    **/
    --input-background-color: white;

    /**
    --input-border-color
    Border colour of inputs, selects and textareas
    **/
    --input-border-color: #bbbbbb;

    /**
    --input-border-width
    Border width of inputs, selects and textareas
    **/
    --input-border-width: 1px;

    /**
    --input-border-radius
    Border radius of inputs, selects and textareas
    **/
    --input-border-radius: 0.1875rem;

    /**
    --input-box-shadow
    Box shadow of inputs, selects and textareas
    **/
    --input-box-shadow: none;

    /**
    --input-padding-left
    **/
    --input-padding-left: 0.5625rem;

    /**
    --input-padding-right
    **/
    --input-padding-right: 0.5625rem;

    /**
    --input-height
    Height of inputs and selects
    **/
    --input-height: 2.8125rem;

    /**
    --input-color
    Text colour of inputs, selects and textareas
    **/
    --input-color: inherit;

    /**
    --input-margin
    **/
    --input-margin: 1em;


    /**
    --range-height
    **/
    --range-height: var(--input-height);

    /**
    --range-track-height
    **/
    --range-track-height: 0.125rem;

    /**
    --range-track-background
    **/
    --range-track-background: var(--violet);

    /**
    --range-track-radius
    **/
    --range-track-radius: ;

    /**
    --range-thumb-width
    **/
    --range-thumb-width: 1.25rem;

    /**
    --range-thumb-height
    **/
    --range-thumb-border: 2px solid var(--violet);

    /**
    --range-thumb-background
    **/
    --range-thumb-background: white;

    /**
    --range-thumb-radius
    **/
    --range-thumb-radius: ;


    /**
    --label-font-size
    Font size of labels
    **/
    --label-font-size: 1rem;

    /**
    --label-line-height
    Line height of labels
    **/
    --label-line-height: 1.5rem;

    /**
    --label-color
    Colour of labels
    **/
    --label-color: #444444;

    /**
    --label-margin
    **/
    --label-margin: 1.125rem;

    /**
    --label-input-margin
    **/
    --label-input-margin: 0.1875rem;


    /**
    --fieldset-margin
    **/
    --fieldset-margin: 2rem;

    /**
    --fieldset-input-margin
    **/
    --fieldset-input-margin: 2rem;


    /**
    --focus-background-color
    Background colour of focused inputs, selects and textareas
    **/
    --focus-background-color: var(--input-background-color);

    /**
    --focus-border-color
    Border colour of focused inputs, selects and textareas
    **/
    --focus-border-color: #2c9bd3;

    /**
    --focus-box-shadow
    Box shadow of focused links, inputs, selects and textareas
    **/
    --focus-box-shadow:
        0 0 5px 2px hsla(200,56%,49%,0.8),
        inset 0 0 0 1px hsl(200,56%,49%),
        inset 0 0 0.5rem hsla(200,65%,60%,0.6);

    /**
    --invalid-background-color
    Background colour of invalid inputs, selects and textareas
    **/
    --invalid-background-color: var(--input-background-color);

    /**
    --invalid-border-color
    Border colour of invalid inputs, selects and textareas
    **/
    --invalid-border-color: rgba(214,23,41);

    /**
    --invalid-box-shadow
    Box shadow of invalid inputs, selects and textareas
    **/
    --invalid-box-shadow: 0 0 1px 2px rgba(214,23,41,0.875), inset 0 0 1px rgba(214,23,41,0.875);


    /**
    --disabled-filter
    **/
    --disabled-filter: opacity(0.4);
}