/* horizontal
    
   Simulate a bunch of blocks pushed against each other horizontally
   by using in-flow layout to create a horizontal effect. Because
   they're in the flow, children must have no space between them in
   the html.
   
   Uses a technique for getting inline-block behaviour in IE, explained well here:
   http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
*/

.horizontal {
  /* IE does not apply inline-block to block elements, make them inline... */
  display: inline;
  /* ...and trigger hasLayout */
  zoom: 1;
}

.horizontal>*,
.horizontal>*,
.horizontal>* {
    display: inline-block;
    vertical-align: bottom;
}

.horizontal>*:last-child,
.horizontal>*.last {
    margin-right: 0;
}


/* Vertical centering builds on the technique described here:
   http://www.jakpsatweb.cz/css/css-vertical-center-solution.html
   TODO: Fix case in IE7 where centering has to scroll. V difficult. Possibly impossible. */

.center {
    display: table;
    width: 100%;
    height: 100%;
    
    /* Stops a mysterious gap at the bottom appearing when content
       is too tall (except Opera, where there is still a small one) */
    overflow: hidden;
    
    /* IE hacks */
    position: relative !ie7;
}
.center>div {
    display: table-cell;
}
.center_cell {
    vertical-align: middle;
    
    /* Must have height, or you can't expect FF to know
       how high to make its children */
    height: 100%;
    
    /* In WebKit and FF iframes cause scrollbars because they
       have a 'system' margin-bottom. In any case, it's useful
       to be able to position stuff outside the cell */
    overflow: visible;
    
    /* IE hacks */
    position: absolute !ie7;
    top: 50% !ie7;
}

.center_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: visible;
    margin: 0 auto;
    
    /* Acts as position parent for its content */
    position: relative;

    /* IE hacks */
    position: relative !ie7;
    top: -50% !ie7;
}
.center_box>iframe {
    width: 100%;
    height: 100%;
}

/* Ideally, all elements likely to be put in a centred layer should be listed here */
.center_box>div,
.center_box>form,
.center_box>img,
.center_box>object,
.center_box>embed,
.center_box>video,
.center_box>progress,
.center_box>canvas,
.center_box>.content {
    height: 100%;
}