

// Respond
//
// .@breakpoint-hidden  - Hidden on media larger than breakpoint wide.
// .@breakpoint-shown   - Hidden on media smaller than breakpoint wide.
//
// Styleguide: zutilities.respond


$grid-count:  6 !default;
$grid-gutter: 2.5rem !default;
$grid-space:  1.875rem !default;

// prefix, min-width, grid count, gutter, space
$breakpoints:
	'\\@1-' 30em   6  $grid-gutter $grid-space,
	'\\@2-' 37.5em 9  $grid-gutter $grid-space,
	'\\@3-' 45em   12 $grid-gutter $grid-space,
	'\\@4-' 60em   12 $grid-gutter $grid-space !default;

@each $breakpoint in $breakpoints {
	@media screen and (max-width: #{nth($breakpoint, 2) - 0.0001}) {
		.#{nth($breakpoint, 1)}shown        { display: none !important; }
	}

	@media screen and (min-width: #{nth($breakpoint, 2)}) {
		.#{nth($breakpoint, 1)}hidden       { display: none !important; }
		.#{nth($breakpoint, 1)}block        { display: block; }
		.#{nth($breakpoint, 1)}inline-block { display: inline-block; }
		.#{nth($breakpoint, 1)}left         { float: left; }
		.#{nth($breakpoint, 1)}right        { float: right; }
	}
}
