/* Empty links */

[href=""],
[href="#"],
[alt=""],
img:not([alt]),
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
ul:empty,
ol:empty,
li:empty,
blockquote:empty,
strong:empty,
.debug {
    box-shadow: inset 0 0 0px 1px rgba(255,0,74,0.75) !important;
    border-color: rgb(255, 0, 74) !important;
}

p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
ul:empty,
ol:empty,
li:empty,
blockquote:empty {
    /* Overide hiders in text.css */
    display: block !important;
    min-width: 3.125rem;
    min-height: 1rem;
}

p.debug::before,
p:empty::before,
h1.debug::before,
h1:empty::before,
h2.debug::before,
h2:empty::before,
h3.debug::before,
h3:empty::before,
h4.debug::before,
h4:empty::before,
h5.debug::before,
h5:empty::before,
h6.debug::before,
h6:empty::before,
ul.debug::before,
ul:empty::before,
ol.debug::before,
ol:empty::before,
li.debug::before,
li:empty::before,
blockquote.debug::before,
blockquote:empty::before {
    /* Do not position it with top, left, etc. We cannot give the parent
       position: relative */
    position: absolute;
    font-family: 'Andale Mono', 'Courier New', monospace;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    width: 3.125rem;
    opacity: 0.8;
    padding: 0.0625rem;
    white-space: nowrap;
    color: rgb(255, 0, 74);
}

p.debug::before,
p:empty::before  { content: '<p>'; }
h1.debug::before,
h1:empty::before { content: '<h1>'; }
h2.debug::before,
h2:empty::before { content: '<h2>'; }
h3.debug::before,
h3:empty::before { content: '<h3>'; }
h4.debug::before,
h4:empty::before { content: '<h4>'; }
h5.debug::before,
h5:empty::before { content: '<h5>'; }
h6.debug::before,
h6:empty::before { content: '<h6>'; }
ul.debug::before,
ul:empty::before { content: '<ul>'; }
ol.debug::before,
ol:empty::before { content: '<ol>'; }
li.debug::before,
li:empty::before { content: '<li>'; }
blockquote.debug::before,
blockquote:empty::before { content: '<blockquote>'; }

img,
video,
.thumb {
    background-image: url('/static/bolt/images/wireframe.svg');
    background-size: 100% 100%;
}

button:not([type]) {
    box-shadow: inset 0 0 0px 1px rgba(255,0,74,0.75) !important;
    border-color: rgb(255, 0, 74) !important;
}
