.guide-index,
.guide-layer {
	position: fixed;
	height: 0;
	left:  0;
	right: 0;
	width: auto;
	overflow: visible;
}

.guide-layer {
	pointer-events: none;

	-webkit-transition-property: height;
	   -moz-transition-property: height;
	    -ms-transition-property: height;
	     -o-transition-property: height;
	        transition-property: height;

	-webkit-transition-duration: 600ms;
	   -moz-transition-duration: 600ms;
	    -ms-transition-duration: 600ms;
	     -o-transition-duration: 600ms;
	        transition-duration: 600ms;

	-webkit-transition-timing-function: ease-out;
	   -moz-transition-timing-function: ease-out;
	    -ms-transition-timing-function: ease-out;
	     -o-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
	
	z-index: 10;
}

.guide-layer.active {
	height: 100%;
}

.guide-index {
	top: 0.625rem;
	right: 0.625rem;
	text-align: right;
	z-index: 11;
}

.guide-index > li {
	display: inline-block;
}

.guide-index > li > .button {
	vertical-align: top;
}

.guide-line {
	position: absolute;
	height: 100%;
	border-left: 1px solid rgba(114,184,169,0.4);
	width: 0;
	top: 0;
	bottom: 0;
}

.guide-button {
	font-size: 0.625rem;
	line-height: 1.5rem;
	height: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-transform: uppercase;
	border-radius: 0.25rem;
	opacity: 0.4;
	color: #d8d8d8;
}

.guide-button:hover,
.guide-button.on {
	opacity: 1;
	background-color: rgba(138, 165, 159, 0.8);
}

.guide-button:hover {
	color: white;
}

.guide-button.on {
	color: white;
	background-color: #64BCA9;
}

.guide-layer > .guide-line { left: -25px; }


.guide-line {
	width: 20px;
	border-left: 10px solid rgba(114,184,169,0.25);
	border-right: 10px solid rgba(114,184,169,0.25);
	margin-left: -10px;
}

.guide-layer > .guide-line:nth-child(1) { left: 0%; }
.guide-layer > .guide-line:nth-child(2)  { left: 5.5556%;  }
.guide-layer > .guide-line:nth-child(3)  { left: 11.1111%; }
.guide-layer > .guide-line:nth-child(4)  { left: 16.6667%; }
.guide-layer > .guide-line:nth-child(5)  { left: 22.2222%; }
.guide-layer > .guide-line:nth-child(6)  { left: 27.7778%; }
.guide-layer > .guide-line:nth-child(7)  { left: 33.3333%; }
.guide-layer > .guide-line:nth-child(8)  { left: 38.8889%; }
.guide-layer > .guide-line:nth-child(9)  { left: 44.4444%; }
.guide-layer > .guide-line:nth-child(10) { left: 50%;      }
.guide-layer > .guide-line:nth-child(11) { left: 55.5556%; }
.guide-layer > .guide-line:nth-child(12) { left: 61.1111%; }
.guide-layer > .guide-line:nth-child(13) { left: 66.6667%; }
.guide-layer > .guide-line:nth-child(14) { left: 72.2222%; }
.guide-layer > .guide-line:nth-child(15) { left: 77.7778%; }
.guide-layer > .guide-line:nth-child(16) { left: 83.3333%; }
.guide-layer > .guide-line:nth-child(17) { left: 88.8889%; }
.guide-layer > .guide-line:nth-child(18) { left: 94.4444%; }
.guide-layer > .guide-line:nth-child(19) { left: 100%; }

