
[href=""],
img:not([alt]),
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
ul:empty,
ol:empty,
li:empty,
dl:empty,
dt:empty,
dd:empty,
em:empty,
blockquote:empty,
strong:empty {
    position: relative;
    box-shadow: inset 0 0 0px 1px rgba(255,0,74,0.75) !important;
    border-color: rgb(255, 0, 74) !important;
}

/*
It's fine to be empty and hidden.
It's not fine to be empty and display: none, because we should prioritise
the hidden attribute over display: none (and display: none may have been set in
type.css as a visual fallback so we override it here to flag it as an error).
*/
p:empty:not([hidden]),
h1:empty:not([hidden]),
h2:empty:not([hidden]),
h3:empty:not([hidden]),
h4:empty:not([hidden]),
h5:empty:not([hidden]),
h6:empty:not([hidden]),
ul:empty:not([hidden]),
ol:empty:not([hidden]),
li:empty:not([hidden]),
dl:empty:not([hidden]),
dt:empty:not([hidden]),
dd:empty:not([hidden]),
em:empty:not([hidden]),
blockquote:empty:not([hidden]),
strong:empty:not([hidden]) {
    /* Overide hiders in text.css */
    display: block !important;
    min-width: 3.125rem;
    min-height: 1rem;
}

p:empty::before,
h1:empty::before,
h2:empty::before,
h3:empty::before,
h4:empty::before,
h5:empty::before,
h6:empty::before,
ul:empty::before,
ol:empty::before,
li:empty::before,
dl:empty::before,
dt:empty::before,
dd:empty::before,
em:empty::before,
blockquote:empty::before,
strong:empty::before {
    /* Do not position it with top, left, etc. We cannot give the parent
       position: relative */
    position: absolute;
    font-family: 'Andale Mono', 'Courier New', monospace;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    text-transform: none;
    min-width: 3.125rem;
    padding: 0.0625rem;
    white-space: nowrap;
    color: white;
    background-color: rgb(255, 0, 74);
    /* Maximum possible z-index */
    z-index: 2147483647;
}

p:empty::before  { content: 'Empty <p>'; }
h1:empty::before { content: 'Empty <h1>'; }
h2:empty::before { content: 'Empty <h2>'; }
h3:empty::before { content: 'Empty <h3>'; }
h4:empty::before { content: 'Empty <h4>'; }
h5:empty::before { content: 'Empty <h5>'; }
h6:empty::before { content: 'Empty <h6>'; }
ul:empty::before { content: 'Empty <ul>'; }
ol:empty::before { content: 'Empty <ol>'; }
li:empty::before { content: 'Empty <li>'; }
dl:empty::before { content: 'Empty <dl>'; }
dt:empty::before { content: 'Empty <dt>'; }
dd:empty::before { content: 'Empty <dd>'; }
dd:empty::before { content: 'Empty <em>'; }
blockquote:empty::before { content: 'Empty <blockquote>'; }
strong:empty::before     { content: 'Empty <strong>'; }
