[submodule "res/es5-shim"]
	path = res/es5-shim
	url = git://github.com/kriskowal/es5-shim.git
[submodule "res/html5shiv"]
	path = res/html5shiv
	url = git://github.com/aFarkas/html5shiv.git
[submodule "res/andlog"]
	path = res/andlog
	url = git://github.com/andyet/andlog.git
[submodule "res/ios-orientationchange-fix"]
	path = res/ios-orientationchange-fix
	url = git://github.com/scottjehl/iOS-Orientationchange-Fix.git
