<!DOCTYPE html>
<html lang="en">
<head>
    {% include templates/head.html import package.json %}

    <script title="debug" remove>
        window.DEBUG = true;
    </script>

    {% include templates/style.html %}

    <style>
        /* Render some elements visible, just in this styleguide */
        button:not([type]),
        [type="button"],
        .button {
            background-color: rgba(127, 127, 127, 0.15);
        }
        
        button:not([type]) {
            font-size: 0.875rem;
        }
    
        /* Colour swatch thumbs */
        .thumb[class$="bg"] {
            box-shadow: inset 0 0 0 1px currentcolor;
        }
    </style>
    
    <script title="config">
        window.customElementStylesheetPath = './elements/';
    </script>

    <style>
        /* Copied from elements range-control.template.html */
        range-control {
            min-width: 9rem; 
            max-width: 15rem;
            width: 100%;
            margin: 0 auto 0 auto;
        }
    
        range-control:focus {
            /* Make sure any recreated focus outline is nullified. */
            box-shadow: none !important;
        }
    
        * + range-control {
            margin-top: 1.875rem;
        }
    
        /* Copied from elements rotary-control.template.html */
        rotary-control {
            min-width: 8rem;
            max-width: 10rem;
            margin: 0 auto;
            /* Nullify focus box-shadow */
            box-shadow: none !important;
        }
    
        * + rotary-control {
            margin-top: 1.875rem;
        }
    
        rotary-control::part(tick) {
            background-color: var(--label-color);
        }
    
        /* Copied from elements slide-show.template.html */
        slide-show {
            background: #cccccc;
            margin: 0 auto;
        }
    
        slide-show::part(prev),
        slide-show::part(next) {
            display: none;
        }
    
        slide-show > * + * {
            display: none;
        }
    
        slide-show:defined > * + * {
            display: block;
        }
    </style>
</head>

<body class="grid 3x-grid @1-6x-grid @2-9x-grid" style="row-gap: 60px; grid-template-rows: min-content;">
    <header class="x-1 3x @1-x-2 @1-4x @2-x-4" id="header">
        {% include templates/header.html import package.json %}
    </header>

    <img class="x-1 x-end y-1 @2-x-1 @2-3x" src="images/logo.svg" width="800" height="800" style="width: 10.625rem; margin-top: -1.125rem; margin-right: -0.9375rem; max-width: none;" />

    {% docs templates/css.html type selector from ./css/text.css  %}
    {% docs templates/css.html type selector from ./css/color.css  %}
    {% docs templates/css.html type selector from
        './css/input.css'
        './css/label.css'
        './components/check-label.css'
        './components/switch-label.css'
        './components/check-button.css'
        './components/select-button.css'
        './elements/range-control.css'
        './elements/rotary-control.css'  %}
    {% docs templates/css.html type selector from ./sass/grid.scss %}

    {# Todo: Invent a way to get just the body #}
    {% include docs/range-control.html %}
    {% include docs/rotary-control.html %}
    {% include docs/slide-show.html %}

    <script type="module">
        import './module.js';
        import './documentation.js';
    </script>
</body>