<!DOCTYPE html>
{% load i18n compressed cms_tags %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="author" content="">
	<meta name="description" content="{% page_attribute "meta_description" %}">
	<meta name="keywords" content="{% page_attribute "meta_keywords" %}">
	
	<title>{% block title %}Title{% endblock title %}</title>
	
	<script>document.documentElement.className = "js";</script>
	
	{% if debug %}<script src="/static/js/js.debug.js"></script>{% endif %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<!-- Force latest IE rendering engine & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- Make IE recognise HTML5 elements for styling - must stay in the head, before elements are used -->
	<!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!-- Disable image toolbar in IE6 -->
	<!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->
	
	{% if not debug %}
	<link rel="icon" type="image/png" href="images/favicon.png" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	{% endif %}
	<link href="http://fonts.googleapis.com/css?family=Cabin:regular,bold" rel="stylesheet" type="text/css">
	{% compressed_css 'all' %}
	{% compressed_css 'print' %}
	<!--[if IE 8]>{% compressed_css 'ie8' %}<![endif]-->
	<!--[if IE 7]>{% compressed_css 'ie7' %}<![endif]-->
	<!--[if IE 6]>{% compressed_css 'ie6' %}<![endif]-->
	{% block css %}{% endblock css %}
	{% if false %}{% compressed_css 'debug' %}{% endif %}
</head>

<body class="{% block body_class %}{% endblock %}">
	{% block main %}{% endblock %}
	
	<script>
		window.django = {
			mediaURL: '{{ CMS_MEDIA_URL }}',
			trans: {
				noFlashMessage: '{% trans 'Missing flash plugin. Download <a href="http://adobe.com/flashplayer">here</a>'|escapejs %}'
			}
		};
	</script>
	{% compressed_js 'base' %}
	{% block script %}{% endblock script %}
	{% if debug %}<!--script src="/static/js/jquery.debug.js"></script-->{% endif %}
</body>
</html>