/* test.css 
 *
 * With chunks borrowed from Blueprint's typography.css
 */

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body {
  font-size: 75%;
  color: #222; 
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1em;
}


/* Headings */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

/* Text elements */

p           { margin: 0 0 1.4em; max-width: 48em;}
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     { color: #000; }
a           { color: #009; text-decoration: underline; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists */

li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

h2 pre,
h3 pre,
h4 pre {font-family: inherit;}

/* Code */

code.block {
    display: block;
    background: rgba(232, 232, 224, 0.8);
    padding: 0.4em 0.8em;
    overflow: auto;
    font-size: small;
    font-family: monospace;
    margin: 0.8em 0;
}