@charset "UTF-8";
/**
.hidden

Forces `display: none`. This class is also available with breakpoint prefixes
(`@1-`, `@2-`, ...).

```html
<a class="hidden" href="...">Link</a>
<a class="@2-hidden" href="...">Link</a>
```
**/
.hidden { display: none !important; }

/**
.print-hidden
Hide element on printed page.
```html
<nav class="print-hidden">...</nav>
```
**/
@media print { .print-hidden { display: none !important; } }

/**
.shown

Forces `display: none` below a given breakpoint. This class is only available
with breakpoint prefixes (`@1-`, `@2-`, ...).

```html
<a class="@1-shown" href="...">Link</a>
```
**/
/* Removed because we have projects that override .block - it sort of has two meanings, now, in Bolt – base class and modifier – which is a bad idea. */
/*().block          { display: block !important; }*/
.inline { display: inline-block !important; }

.left { float: left !important; clear: left; }

.right { float: right !important; clear: right; }

.top-align { vertical-align: top !important; }

.bottom-align { vertical-align: bottom !important; }

.middle-align { vertical-align: middle !important; }

.baseline-align { vertical-align: baseline !important; }

.left-align { text-align: left !important; }

.right-align { text-align: right !important; }

.center-align { text-align: center !important; }

.justify-align { text-align: justify !important; }

/**
.flex
Applies `display: flex`. This class may also be used with a
breakpoint prefix.
**/
.flex { display: flex !important; }

@media screen and (max-width: -0.001em) { .shown { display: none !important; } }

@media screen and (min-width: 0em) { .hidden { display: none !important; }
    /*.block          { display: block !important; }*/
    .flex { display: flex !important; }
    .inline { display: inline-block !important; }
    .left { float: left !important; clear: left; }
    .right { float: right !important; clear: right; }
    .top-align { vertical-align: top !important; }
    .bottom-align { vertical-align: bottom !important; }
    .middle-align { vertical-align: middle !important; }
    .baseline-align { vertical-align: baseline !important; }
    .left-align { text-align: left !important; }
    .right-align { text-align: right !important; }
    .center-align { text-align: center !important; }
    .justify-align { text-align: justify !important; } }

@media screen and (max-width: 49.999em) { .\@1-shown { display: none !important; } }

@media screen and (min-width: 50em) { .\@1-hidden { display: none !important; }
    /*.\@1-block          { display: block !important; }*/
    .\@1-flex { display: flex !important; }
    .\@1-inline { display: inline-block !important; }
    .\@1-left { float: left !important; clear: left; }
    .\@1-right { float: right !important; clear: right; }
    .\@1-top-align { vertical-align: top !important; }
    .\@1-bottom-align { vertical-align: bottom !important; }
    .\@1-middle-align { vertical-align: middle !important; }
    .\@1-baseline-align { vertical-align: baseline !important; }
    .\@1-left-align { text-align: left !important; }
    .\@1-right-align { text-align: right !important; }
    .\@1-center-align { text-align: center !important; }
    .\@1-justify-align { text-align: justify !important; } }

@media screen and (max-width: 69.999em) { .\@2-shown { display: none !important; } }

@media screen and (min-width: 70em) { .\@2-hidden { display: none !important; }
    /*.\@2-block          { display: block !important; }*/
    .\@2-flex { display: flex !important; }
    .\@2-inline { display: inline-block !important; }
    .\@2-left { float: left !important; clear: left; }
    .\@2-right { float: right !important; clear: right; }
    .\@2-top-align { vertical-align: top !important; }
    .\@2-bottom-align { vertical-align: bottom !important; }
    .\@2-middle-align { vertical-align: middle !important; }
    .\@2-baseline-align { vertical-align: baseline !important; }
    .\@2-left-align { text-align: left !important; }
    .\@2-right-align { text-align: right !important; }
    .\@2-center-align { text-align: center !important; }
    .\@2-justify-align { text-align: justify !important; } }

@media screen and (max-width: 89.999em) { .\@3-shown { display: none !important; } }

@media screen and (min-width: 90em) { .\@3-hidden { display: none !important; }
    /*.\@3-block          { display: block !important; }*/
    .\@3-flex { display: flex !important; }
    .\@3-inline { display: inline-block !important; }
    .\@3-left { float: left !important; clear: left; }
    .\@3-right { float: right !important; clear: right; }
    .\@3-top-align { vertical-align: top !important; }
    .\@3-bottom-align { vertical-align: bottom !important; }
    .\@3-middle-align { vertical-align: middle !important; }
    .\@3-baseline-align { vertical-align: baseline !important; }
    .\@3-left-align { text-align: left !important; }
    .\@3-right-align { text-align: right !important; }
    .\@3-center-align { text-align: center !important; }
    .\@3-justify-align { text-align: justify !important; } }
