
abbr[title] {
    text-decoration: none;
}

@media (hover: hover) {
    abbr[title] {
        text-decoration: underline dotted;
        text-decoration-skip-ink: none;
        cursor: help;
    }
}
