
:root {
    height: 100%;

    /* Setting a background on <html> means that a background
       on <body> does not get set on <html>. Win. */
    color: black;
    background-color: white;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
    scroll-behavior: smooth;
    scroll-padding: 0;
}

:root > body {
    /* In Chromium, even though document.scrollingElement is the root,
       scroll rules only work on <body>. Make it inherit from root. */
    scroll-padding: inherit;
    scroll-snap-type: inherit;
    scroll-snap-stop: inherit;
    scroll-snap-points-y: inherit;
}

body {
    /* Act as position parent */
    position: relative;

    /* Fill the available space */
    min-height: 100%;
}

@media screen and (min-aspect-ratio: 4/1) {
    /* Enforce an aspect ratio of max 4:1 (which should comfortably
       accomodate 16:9 screens minus URL and status bars) */
    body {
        min-height: 25vw;
    }
}
