
*, *::before, *::after {
    box-sizing: border-box;
}

:host {
    /** --value-color **/
    --value-color: #88deff;

    /** --handle-background **/
    --handle-background: white;
    
    /** --handle-border **/
    --handle-border: 1px solid rgb(122 144 158);
}

:host(:focus) {
    --value-color: #75ebff;
    --handle-background: #46789a;
    --handle-border: 1px solid #46789a;

    --tick-color: #46789a;
    --tick-background: #46789a;

    /* Nullify simulated focus style. */
    outline-width: 0 !important;
    box-shadow: none !important;
}

:host > * {
    margin: 0;
}

/** 
::part(label)
Style the label.
**/

[part="label"] {
    line-height: 15px;
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: -0.04em;
    color: currentcolor;
}

/** 
::part(output) 
Style the display of the output value.
**/

/* Value display */

[part="output"] {
    font-family: 'Fira Mono', 'Andale Mono', monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: -0.04em;
    color: #46789a;
    height: auto;
    white-space: pre;
}

[part="output"] > abbr {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 0.1em;
    vertical-align: baseline;
}

/**
::part(tick) 
Style the tick marks.
**/

[part="tick"] {
    cursor: pointer;
    display: block;

    font-size: 0.5625rem;
    line-height: 0.9375rem;
    letter-spacing: -0.0125em;
    text-align: center;
    
    padding: 0;
    /* Make ::after mark visible outside label*/
    overflow: visible;

    border-width: 0;
    color: currentcolor;
    background: transparent;

    /* Interior tick value text appears outside the tick */
    overflow: visible;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version */
}

[part="tick"]::after {
    content: '';
    display: block;
    width: 0.125rem;
    height: 0.125rem;
    margin-left: auto;
    margin-right: auto;
    background: currentcolor;
    border-radius: 0.0625rem;
}

[part="tick"]:focus {
    outline: none;
}
