/**
Before and After.
**/

.after::after,
.before::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    break-inside: avoid;
    background-repeat: no-repeat;
}

.after::after {
    margin-left: 0.5rem;
}

.before::before {
    margin-right: 0.375rem;
}

a.after,
a.before {
    text-decoration: none;
}

.thumb.before::before,
.thumb.after::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
