
dialog:not([open]) {
    position: fixed;
    top: 0;
    max-height: calc(100vh - 2rem);
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0,1.5rem,0);
    transition:
        visibility 0.9s linear,
        opacity 0.9s linear,
        transform 0.9s ease-in;
}

dialog {
    border-width: 0;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition:
        visibility 0.3s linear,
        opacity 0.3s linear,
        transform 0.3s ease-out;
    z-index: 1000;
}

dialog > img,
dialog > svg,
dialog > video,
dialog > canvas,
dialog > object,
dialog > embed,
dialog > iframe {
    /* Don't allow media to break out of container bounds. */
    max-width: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

dialog > img,
dialog > svg,
dialog > video,
dialog > canvas {
    /* Allow images to rescale freely. */
    height: auto;
    max-height: 100%;
}

dialog > .thumb {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}
