
/*
MDN dialog documentation:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog
*/

/*
Backdrop
Non-modal dialogs do not get a ::backdrop, so if we want want one, and we
most certainly do, we must implement our own. */

body:has(dialog[mode="float"])::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25,25,25,0.4);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

body:has(dialog[mode="float"])::after,
body:has(dialog[mode="float"][open].closing)::after {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.9s linear,
        visibility 0.9s linear;
}

body:has(dialog[mode="float"][open])::after {
    opacity: 1;
    visibility: visible;
    transition:
        opacity 0.3s linear,
        visibility 0.3s linear;
}


/* Dialog */

dialog {
    /* Dialogs are display none by default which makes transitions and
       animations to display anything nigh-on impossible */
    display: block;
    position: fixed;

    /* Vertical position top */
    top: 0;
    height: auto;
    max-height: calc(100vh - 2rem);

    /* Override any margins added by text classes or their ilk */
    margin: 0 auto auto;
    width: auto;
    max-width: calc(100vw - 2rem);

    /* Zero out browser default border */
    border-width: 0;

    /* Non-modal dialogs do not automatically appear in the top-layer */
    z-index: 1001;
}

dialog,
dialog[open].closing {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
    transition:
        opacity 0.9s linear,
        visibility 0.9s linear,
        transform 0.9s ease-out;
}

dialog[open] {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition:
        opacity 0.3s linear,
        visibility 0.3s linear,
        transform 0.3s ease-out;
}

dialog[mode],
dialog[mode][open].closing {
    /* Vertical position center */
    top: 50%;
    transform: translate3d(0, calc(1rem - 50%), 0);
}

dialog[mode][open] {
    transform: translate3d(0, -50%, 0);
}


dialog:focus-visible {
    /* Rid ourselves of focus ring on dialog (defined in focus.css).
       TODO: Review this. Probably a bad idea. */
    box-shadow: none !important;
    border-color: var(--focus-fg) !important;
}

dialog::backdrop,
dialog.closing[open]::backdrop {
    opacity: 0;
    background-color: rgba(25,25,25,0.4);
    animation: backdrop-fadeout 0.6s ease-in forwards;
}

dialog[open]::backdrop {
    opacity: 1;
    animation: backdrop-fadein 0.6s ease-out forwards;
}

dialog > img,
dialog > svg,
dialog > video,
dialog > canvas,
dialog > object,
dialog > embed,
dialog > iframe {
    /* Don't allow media to break out of container bounds. */
    max-width: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

dialog > img,
dialog > svg,
dialog > video,
dialog > canvas {
    /* Allow images to rescale freely. */
    height: auto;
    max-height: 100%;
}

dialog > .thumb {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}
