
:root {
    /** --focus-fg
    Border colour of focused inputs, selects and textareas **/
    --focus-fg: #2c9bd3;

    /** --focus-shadow
    Box shadow of focused links, inputs, selects, textareas, etc. **/
    --focus-shadow:
        0 0 0.1875rem 0.125rem hsla(200,56%,49%,1),
        inset 0 0 0.125rem 0.0625rem hsla(200,56%,49%,1);
}

*:focus {
    outline-width: 0;
}

*:focus-visible {
    outline-width: 0;
    box-shadow: var(--focus-shadow) !important;
    border-color: var(--focus-fg) !important;
    border-radius: 0.1875rem;
    /* Encourage focus shadow to appear over the top of siblings. Not foolproof. */
    z-index: 1;
}

a:not(:focus-visible) {
    text-decoration: none;
}

@supports not selector(:focus-visible) {
    *:focus {
        box-shadow: var(--focus-shadow) !important;
        border-color: var(--focus-fg) !important;
        border-radius: 0.1875rem;
        /* Encourage focus shadow to appear over the top of siblings.
           Not foolproof. */
        z-index: 1;
    }

    a:not(:focus) {
        text-decoration: none;
    }
}
