
label {
    --font-size:     var(--label-font-size, inherit);
    --height:        var(--label-height, 2.8125rem);
    --line-height:   var(--label-line-height, 1.5rem);
    --padding-left:  var(--label-padding-left, 0rem);
    --padding-right: var(--label-padding-right, 0rem);
    --border-radius: var(--label-border-radius, 0.3125rem);

    display: block;
    max-width: 100%;
    width: auto;
    height: auto;

    font-size:      var(--font-size);
    line-height:    var(--line-height);
    padding-left:   var(--padding-left);
    padding-right:  var(--padding-right);
    padding-top:    calc(0.5 * (var(--height) - var(--line-height)));
    padding-bottom: calc(0.5 * (var(--height) - var(--line-height)));
    min-height:     var(--height);
    border-width:   0;
    font-weight:    inherit;

    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

label[for] {
    /* Clickable stuff gets a pointer cursor... */
    cursor: pointer;
}

label > [type="checkbox"],
label > [type="radio"] {
    /* checkboxes nested inside labels */
    margin-right: 0.5rem;
    line-height: inherit;
}

label > .info-thumb {
    position: absolute;
    top: 50%;
    margin-top: -0.625rem;
    right: 0;
}

* + label {
    margin-top: var(--label-margin);
}

* + fieldset {
    margin-top: var(--fieldset-margin);
}

fieldset + input {
    margin-top: var(--fieldset-input-margin);
}

.hidden + label {
    margin-top: 0;
}

.required-label::after {
    content: '*';
    margin-left: 0.1875em;
    color: var(--error);
}

.error-label {
    color: var(--error);
}

* + .error-label {
    margin-top: 0.375em;
}

* + .help-label {
    margin-top: 0.375em;
}

/*
.x1 + .error-label,  .x1 + .help-label  { grid-column-start: 1; }
.x2 + .error-label,  .x2 + .help-label  { grid-column-start: 2; }
.x3 + .error-label,  .x3 + .help-label  { grid-column-start: 3; }
.x4 + .error-label,  .x4 + .help-label  { grid-column-start: 4; }
.x5 + .error-label,  .x5 + .help-label  { grid-column-start: 5; }
.x6 + .error-label,  .x6 + .help-label  { grid-column-start: 6; }
.x7 + .error-label,  .x7 + .help-label  { grid-column-start: 7; }
.x8 + .error-label,  .x8 + .help-label  { grid-column-start: 8; }
.x9 + .error-label,  .x9 + .help-label  { grid-column-start: 9; }
.x10 + .error-label, .x10 + .help-label { grid-column-start: 10; }
.x11 + .error-label, .x11 + .help-label { grid-column-start: 11; }
.x12 + .error-label, .x12 + .help-label { grid-column-start: 12; }

.1x + .error-label,  .1x + .help-label  { grid-column-end: span 1; }
.2x + .error-label,  .2x + .help-label  { grid-column-end: span 2; }
.3x + .error-label,  .3x + .help-label  { grid-column-end: span 3; }
.4x + .error-label,  .4x + .help-label  { grid-column-end: span 4; }
.5x + .error-label,  .5x + .help-label  { grid-column-end: span 5; }
.6x + .error-label,  .6x + .help-label  { grid-column-end: span 6; }
.7x + .error-label,  .7x + .help-label  { grid-column-end: span 7; }
.8x + .error-label,  .8x + .help-label  { grid-column-end: span 8; }
.9x + .error-label,  .9x + .help-label  { grid-column-end: span 9; }
.10x + .error-label, .10x + .help-label { grid-column-end: span 10; }
.11x + .error-label, .11x + .help-label { grid-column-end: span 11; }
.12x + .error-label, .12x + .help-label { grid-column-end: span 12; }

.y1  + .error-label, .y1  + .help-label { grid-row-start: 1; }
.y2  + .error-label, .y2  + .help-label { grid-row-start: 2; }
.y3  + .error-label, .y3  + .help-label { grid-row-start: 3; }
.y4  + .error-label, .y4  + .help-label { grid-row-start: 4; }
.y5  + .error-label, .y5  + .help-label { grid-row-start: 5; }
.y6  + .error-label, .y6  + .help-label { grid-row-start: 6; }
.y7  + .error-label, .y7  + .help-label { grid-row-start: 7; }
.y8  + .error-label, .y8  + .help-label { grid-row-start: 8; }
.y9  + .error-label, .y9  + .help-label { grid-row-start: 9; }
.y10 + .error-label, .y10 + .help-label { grid-row-start: 10; }
.y11 + .error-label, .y11 + .help-label { grid-row-start: 11; }
.y12 + .error-label, .y12 + .help-label { grid-row-start: 12; }
.y13 + .error-label, .y13 + .help-label { grid-row-start: 13; }
.y14 + .error-label, .y14 + .help-label { grid-row-start: 14; }
.y15 + .error-label, .y15 + .help-label { grid-row-start: 15; }
.y16 + .error-label, .y16 + .help-label { grid-row-start: 16; }
.y17 + .error-label, .y17 + .help-label { grid-row-start: 17; }
.y18 + .error-label, .y18 + .help-label { grid-row-start: 18; }
*/

.error-label + .help-label {
    /* Hide help while there are errors. Errors disappear when you start
       typing anyway, so help is still available. */
    display: none;
}
