
/**
minmax-control

```html
<minmax-control min="0" max="1" ticks="0 0.25 0.5 0.75 1" unit="s" scale="quadratic">Range</minmax-control>
```
**/

:host {
    --handle-width: 1.0625rem;
    --handle-height: 1.375rem;
}

:host > [type="range"] {
    display: block;
    width: calc(100% + 2 * var(--bleed));
    justify-self: stretch;
    align-self: bottom;
}

:host > [type="range"] + [type="range"] {
    margin-bottom: calc(0.5 * 1.4375rem + 0.5 * var(--track-height));
    height: 0;
}

/* Track */

:host > [type="range"] + [type="range"]::-webkit-slider-runnable-track {
    background: rgba(0,255,0,0.2);
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 0;
}

:host > [type="range"] + [type="range"]::-moz-range-track,
:host > [type="range"] + [type="range"]::-moz-range-progress {
    background: rgba(0,255,0,0.2);
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 0;
}


/* Handle */

[type="range"]::-webkit-slider-thumb {
    border-radius: calc(0.5 * var(--handle-height));
    width:  var(--handle-width);
    height: var(--handle-height);
}

[type="range"][name="unit-value-0"]::-webkit-slider-thumb {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: calc(-0.5 * var(--handle-width));
}

[type="range"][name="unit-value-1"]::-webkit-slider-thumb {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: calc(0.5 * var(--handle-width));
}
