
overflow-toggle {
    display: block;
    box-sizing: border-box;
}

overflow-toggle:not(:defined) {
    max-height: none;
}

.loading overflow-toggle,
.resizing overflow-toggle {
    transition: none !important;
}
