<!DOCTYPE html>
<html lang="en">
<head>
    {% include ../templates/head.html import ../package.json %}

    <script title="debug">
        window.DEBUG = true;
    </script>

    {% include ../templates/style.html %}

    <script title="config">
        window.customElementStylesheetPath = './';
    </script>

    <style>
        range-control {
            min-width: 9rem; 
            max-width: 15rem;
            width: 100%;
            margin: 0 auto 0 auto;
        }

        range-control:focus {
            /* Make sure any recreated focus outline is nullified. */
            box-shadow: none !important;
        }

        rotary-control {
            --focus-shadow: none;
        }
    
        * + range-control {
            margin-top: 1.875rem;
        }
        
        * + input {
            margin-top: 3.75rem;
        }
    </style>
</head>

<body class="docs-grid grid 3x-grid @1-6x-grid @2-9x-grid">
    <header class="x-1 3x @1-x-3 @1-4x @2-x-4" id="range-control">
        {% docs ../templates/tag.html type tag from range-control.js %}
    </header>

    <form class="x-1 3x @1-x-1 @1-2x @2-x-1 @2-3x x-stretch y-start">
        <range-control name="ratio" min="-1" max="1" ticks="-1 -0.8 -0.6 -0.4 -0.2 0 0.2 0.4 0.6 0.8 1" value="0">
            Scale
        </range-control>
    
        <range-control name="gain" min="-48dB" max="0dB" ticks="-∞dB -48dB -42dB -36dB -30dB -24dB -18dB -12dB -6dB 0dB" law="linear-logarithmic" unit="dB" value="-6dB">
            Volume
        </range-control>
    
        <range-control name="frequency" min="20" max="20000" ticks="20Hz 100Hz 200Hz 1kHz 2kHz 10kHz 20kHz" law="logarithmic" unit="Hz" value="20Hz">
            Frequency
        </range-control>

        <range-control name="rating" min="1" max="5" ticks="1 2 3 4 5" steps="ticks" law="linear" value="3">
            Rating
        </range-control>

        <input hidden class="button" type="submit" />
    </form>

    <div class="x-1 3x @1-x-3 @1-2x @2-x-4 x-stretch y-start">
        <h3 class="doctext-03">Attributes</h3>        
        {% docs ../templates/entry.html type attribute from attributes.js %}
    
        <h3 class="doctext-03">Properties</h3>
        {% docs ../templates/entry.html type property from attributes.js %}
    
        <h3 class="doctext-03">Events</h3>
        {% docs ../templates/entry.html type string from attributes.js %}
    </div>
    
    <div class="x-1 3x @1-x-5 @1-2x @2-x-6 x-stretch y-start">
        <h3 class="doctext-03">Parts</h3>
        {% docs ../templates/entry.html type part from control.css %}
    
        <h3 class="doctext-03">Variables</h3>
        {% docs ../templates/entry.html type var from control.css %}
        {% docs ../templates/entry.html type var from range-control.css %}
    </div>    

    <!-- Document interactivity -->
    <script type="module" src="./range-control.js"></script>
    {% include ../templates/scripts.html %}
</body>
