
@import '../css/html.css';
@import '../css/thumb.css';

/* .slides-grid */

:host {
    /**
    --slide-duration
    Set the duration that a slide is displayed for when the slideshow is in
    autoplay mode. May be a CSS time value in `s` or `ms`.
    **/
    --slide-duration: 8s;

    /**
    --slide-align
    Default vertical alignment of slides in their grid cells. (Individual slides
    can be aligned normally by applying `align-self`).
    **/
    --slide-align: center;

    /**
    --slide-justify
    Default horizontal justification of slides in their grid cells. (Individual
    slides can be justified normally by applying `justify-self`).
    **/
    --slide-justify: stretch;

    /**
    --link-top
    Adjusts the vertical position of the list of links. Negative values make it
    appear over the slides.
    **/
    --link-top: -2.25rem;

    /**
    --link-gap
    Adjusts the gap between links.
    **/
    --link-gap: 0;

    /**
    --padding-left
    **/
    --padding-left: 0;

    /**
    --padding-right
    **/
    --padding-right: 0;

    position: relative;
    display: grid;

    /* Slot takes over vieport duties */
    padding-left: 0 !important;
    padding-right: 0 !important;

    /* Put content in the center, useful when slide-show is bigger than content,
       such as in fullscreen mode. */
    align-content: center;
    align-items: stretch;
    justify-content: center;
    justify-items: stretch;

    /* Reset style applied to un-upgraded slide-show  */
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-rows: [slot] auto [controls] 0;

    scroll-snap-type: none;
    scroll-snap-stop: none;
    -webkit-scroll-behavior: auto;
    scroll-behavior: auto;
    overflow: hidden;
    overscroll-behavior-x: none;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

:host(:fullscreen) {
    /* Does not work */
    /*background: red !important;*/
}



:host > slot[name="top"] {
    grid-column: 1;
    grid-row: 3;
    position: static;
    display: block;
    height: 4px;
    margin: 0;
    padding: 0;
    background-color: red;
}

:host > slot:not(name) {
    grid-column: 1;
    grid-row: 1;
}

:host > .thumb {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

:host > .prev-thumb {
    justify-self: start;
}

:host > .next-thumb {
    justify-self: end;
}

:host > nav {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-top: var(--link-top);
}


slot {
    position: relative;
    display: grid;
    padding: 0;
    margin: 0;

    grid-auto-flow: column;
    grid-auto-columns: inherit;
    grid-auto-rows: min-content;
    column-gap: inherit;
    align-items: inherit;
    justify-items: var(--slide-justify);

    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -webkit-scroll-behavior: smooth;
            scroll-behavior: smooth;

    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    scroll-padding-left: var(--padding-left);
    scroll-padding-right: var(--padding-right);

    overflow: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */

    will-change: -webkit-scroll-behavior;
    will-change: scroll-behavior;
}

slot::after {
    content: '';
    position: absolute;
    grid-column: none;
    grid-row: none;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
}

slot::-webkit-scrollbar {
    display: none;
}

slot::slotted(*) {
    scroll-snap-align: center;
}

/* Nav links */

nav > [part*="link"] + [part*="link"] {
    margin-left: var(--link-gap);
}

/*
::part(title)
Style the 'previous slide' button.
*/

*::slotted([slot="controls"]) {
    position: absolute;
    top: 0;
    left: 0;
}


/**
::part(prev)
Style the 'previous slide' button.
**/

/**
::part(next)
Style the 'next slide' button.
**/

[part="prev"]:not([href]),
[part="next"]:not([href]) {
    display: none;
}

/**
::part(link)
Style the navigation links.
**/

[part*="link"] {
    display: inline-block;
    position: relative;
    line-height: 1.25rem;
    text-indent: 2rem;
    text-align: left;
    width: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    color: inherit;
}

[part*="link"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.3125rem;
    margin-left: -0.3125rem;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: 1px solid currentcolor;
}

/**
::part(active-link)
Style the navigation link for the currently active slide.
**/

[part*="active-link"]::before {
    background: currentcolor;
}

.loading :host {
    scroll-behavior: auto;
}
