
@import '../css/html.css';

/* .slides-grid */

:host {
    /**
    --duration
    Set the duration that a slide is displayed for when the slideshow is in
    autoplay mode. May be a CSS time value in `s` or `ms`.
    **/
    --duration: 8s;

    /*
    --link-top
    Adjusts the vertical position of the list of links. Negative values make it
    appear over the slides.
    */
    --link-top: -2.25rem;

    /*
    --link-gap
    Adjusts the gap between links.
    */
    --link-gap: 0;

    /**
    --padding-left
    Adjusts the space to the left of the leftmost slide. Internally it sets 
    `padding` and `scroll-padding`. 
    **/
    --padding-left: 0;

    /**
    --padding-right
    Adjusts the space to the right of the rightmost slide. Internally it sets 
    `padding` and `scroll-padding` (and hacks around browsers' lack of respect 
    for `padding-right` on scrollable grids).
    **/
    --padding-right: 0;

    position: relative;
    display: grid;

    /* Slot takes over viewport duties */
    padding-left: 0 !important;
    padding-right: 0 !important;
    scroll-padding-left: 0 !important;
    scroll-padding-right: 0 !important;

    /* Put content in the center, useful when slide-show is bigger than content,
       such as in fullscreen mode. */
    align-content: center !important;
    align-items: stretch;
    justify-content: center !important;
    justify-items: stretch;
    column-gap: var(--column-gap, 0);

    /* Reset style applied to un-upgraded slide-show  */
    grid-auto-flow: row !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 1fr !important;
    grid-auto-columns: 100%;
    grid-auto-rows: min-content;

    scroll-snap-type: none !important;
    scroll-snap-stop: none !important;
    -webkit-scroll-behavior: auto !important;
    scroll-behavior: auto !important;
    overscroll-behavior-x: none !important;
    -ms-overflow-style: none !important; /* IE 11 */
    scrollbar-width: none !important; /* Firefox 64 */

    overflow: visible;
}

:host,
:host * {
    box-sizing: border-box;
    background-origin: padding-box;
    background-repeat: no-repeat;
}

/*
Does not work
:host(:fullscreen) {}
*/

:host > [part="grid"],
:host > [part="previous"],
:host > [part="next"] {
    box-sizing: border-box;
    grid-column: 1;
    grid-row: 1;
}

:host > [part="grid"] {
    align-self: stretch;
    justify-self: stretch;
    grid-auto-flow: column;
    grid-auto-columns: inherit;
    grid-auto-rows: inherit;
    column-gap: inherit;
    align-content: inherit;
    align-items: inherit;
    justify-items: inherit;
    /* This is important for alignment in the JS – if content is centered
       the slot scrolls to he right but not to the left where the first half of 
       the content is.*/
    justify-content: start !important;
}

:host > [part="grid"].scrollable {
    cursor: ew-resize;
}

:host > [part="previous"] {
    align-self: center;
    justify-self: start;
}

:host > [part="next"] {
    align-self: center;
    justify-self: end;
}

:host > nav {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-top: var(--link-top);
}


/* Canvas */

[part="grid"] {
    position: relative;
    display: grid;
    padding: 0;
    margin: 0;

    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -webkit-scroll-behavior: smooth;
            scroll-behavior: smooth;

    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    scroll-padding-left: var(--padding-left);
    scroll-padding-right: var(--padding-right);

    overflow: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */

    will-change: -webkit-scroll-behavior;
    will-change: scroll-behavior;
}

[part="grid"].gesturing {
    /* Neuter scroll sticking while finger dragging */
    scroll-snap-type: none !important;
    scroll-snap-stop: normal !important;
    -webkit-scroll-behavior: auto;
            scroll-behavior: auto;
}

[part="grid"]::after {
    /* This is a hack fix for the fact that scroll-snapped grids do not scroll
       to the extent of their right padding (or indeed to any of their right 
       padding). Note that this doesn't work with --padding-right based on
       percentages, as the dimensions do not refer to the same parent. The
       snag is that if --padding-right is less than --column-gap we still get
       a whole --column-gap's 'padding' caused by the column-gap in front of
       this :after element. */
    content: '';
    /*position: absolute;*/
    grid-column: calc(var(--children-count) + 1);
    grid-row: 1;
    padding-right: calc(var(--padding-right) - var(--column-gap));
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    align-self: stretch;
    background-color: transparent;
    z-index: 40;
    width: 0px;
    min-width:  1px;
    /* background-color:  red; */
}

:host([loop]) > [part="grid"]::after {
    background-color: transparent !important;
    /* There are 3 x as many slides in loop mode, as the same number are
       added to the front and to the back */
    grid-column: calc(3 * var(--children-count) + 1);
}

[part="grid"]::-webkit-scrollbar {
    display: none;
}

[part="grid"]::slotted(*) {
    scroll-snap-align: center;
}

.loading :host > [part="grid"] {
    /* During loading make scrolling instant */
    -webkit-scroll-behavior: auto;
            scroll-behavior: auto;
} 


/**
::part(previous)
Style the 'previous slide' button.
**/

/**
::part(next)
Style the 'next slide' button.
**/

[part="previous"],
[part="next"] {
    display: inline-block;
    vertical-align: baseline;
    overflow: hidden;
    position: relative;

    /* Nullify stuff */
    padding: 0;
    width: 0;
    min-width: 0;
    line-height: inherit;
    text-decoration: none;

    /* Hide text by pushing it rightward */
    padding-left: 1.875rem;
    height: 1.875rem;

    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border-width: 0;
    color: inherit;
}

[part="previous"]:focus,
[part="next"]:focus {
    color: white;
    outline-width: 0;
}

[part="previous"]::before,
[part="next"]::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid transparent;
}

[part="previous"]::before {
    left: 50%;
    margin-left: -0.25rem;
    border-top-color: currentcolor;
    border-left-color: currentcolor;
    transform: rotate(-45deg);
}

[part="next"]::before {
    right: 50%;
    margin-right: -0.25rem;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    transform: rotate(45deg);
}

[part="previous"]:not([href]),
[part="next"]:not([href]) {
    display: none;
}



/* Nav links */

nav > [part*="link"] + [part*="link"] {
    margin-left: var(--link-gap);
}



[part="pagination"] {
    grid-row: 2;
}

@media print {
    [part="pagination"] {
        display: none !important;
    }
}


/**
::part(link)
Style the navigation links.
**/

[part*="link"] {
    display: inline-block;
    position: relative;
    line-height: 1.25rem;
    text-indent: 2rem;
    text-align: left;
    width: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    color: inherit;
}

[part*="link"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.3125rem;
    margin-left: -0.3125rem;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: 1px solid currentcolor;
}

/*
.on
Style the navigation link for the currently active slide.
*/

[part="link on"]::before {
    background: currentcolor;
}
