
/* Style the un-upgraded slide-show */

slide-show {
    display: grid;
    padding: 0;

    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-auto-rows: min-content;
    grid-column-gap: var(--slide-gap, 0);
    align-items: var(--slide-align, center);
    justify-items: var(--slide-justify, center);

    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -webkit-scroll-behavior: smooth;
            scroll-behavior: smooth;

    overflow: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

slide-show::-webkit-scrollbar {
    display: none;
}

slide-show > [slot] {
    display: none;
}

slide-show > :not([slot]) {
    scroll-snap-align: center;
    /* override slide hidden during load */
    display: block !important;
}
