/* Normalise SVG to draw 1px line drawings because why not */

svg {
    fill: none;
    stroke: currentcolor;
    stroke-width: 1;
    width: var(--size, 100%);
    height: auto;
}

svg,
foreignObject,
image,
marker,
pattern,
symbol,
text {
    /* Allow SVG elements to escape their containers. */
    overflow: visible;
}

altGlyph,
circle,
ellipse,
foreignObject,
image,
line,
path,
polygon,
polyline,
rect,
text,
textpath,
tspan,
use {
    fill:   inherit;
    stroke: inherit;
    stroke-width: inherit;
    vector-effect: non-scaling-stroke;
}

.fill {
    fill: currentcolor;
    stroke: none;
}

.stroke {
    stroke: currentcolor;
}
