
/**
table

```html
<table>
  <thead>
    <tr><th></th><th>1</th><th>2</th><th>3</th></tr>
  </thead>
  <tbody>
    <tr><th>English</th><td>One</td><td>Two</td><td>Three</td></tr>
    <tr><th>Français</th><td>Un</td><td>Deux</td><td>Trois</td></tr>
    <tr><th>Italiano</th><td>Uno</td><td>Due</td><td>Tre</td></tr>
  </tbody>
  <tfoot>
    <tr><th>Notes</th><td>Small</td><th>Medium</td><td>Large</td></tr>
  </tfoot>
</table>
```
**/

/* Tables */

table {
    width: 100%;
    table-layout: fixed;

    /* Tables don't get border-radius if they are set to
       border-collapse: collapse; */
    border-collapse: separate;
    border-spacing: 0;

    /* Remove most spacing between table cells. They still need
       'cellspacing="0"' in the markup. */
    /*border-collapse: collapse;*/
}

caption,
td,
th {
    text-align: left;
    font-weight: normal;
}

caption {
    padding: 0;
    background-color: inherit;
}

table,
td,
th {
    /* Align text to top of cells */
    vertical-align: top;
}

td,
th {
    font-style:  inherit;
    font-weight: inherit;
    line-height: inherit;

    /* Paragraphs of text should not end with single orphan */
    text-wrap: pretty;

    /* All numbers in tables are lining tabular numerals, slashed zeroes for clarity */
    font-variant-numeric: tabular-nums lining-nums slashed-zero;

    /* Cell padding */
    padding-left: 0.1875em;
    padding-right: 0.1875em;

    background-clip: border-box;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

thead > tr > th,
thead > tr > td {
    padding-top:    0.75em;
    padding-bottom: 0.375em;
    vertical-align: bottom;
}

thead > tr:last-child > th,
thead > tr:last-child > td {
    padding-bottom: 0.375em;
}

tbody > tr > th,
tbody > tr > td {
    padding-top:    0.1875em;
    padding-bottom: 0.1875em;
    vertical-align: middle;
}

tfoot {
    font-style: italic;
}

tfoot > tr > th,
tfoot > tr > td {
    padding-top:    0.875em;
    padding-bottom: 0.875em;
    vertical-align: top;
}
