
@import '../html.css';
@import '../svg.css';
@import '../control/control.css';

:host {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    padding: 0.3125rem;

    /* Original soundio green */
    /*--value-color: #acb9b8;*/

    /* --grid-color */
    --grid-color: black;
    --track-background: #01181e;
    --track-radius: 0.1875rem;
    --track-shadow: inset 0 0 90px hsla(192, 94%, 6%, 0.16875),
        0 1px 1px hsla(192, 18%, 64%, 0.15),
        0 -1px 1px hsla(192, 60%, 8%, 0.4);
    --handle-stroke-width: 1px;
    min-height: 7.5rem;
    margin-bottom: 1.25rem;

    background: #f6f6f6;
    border: 1px solid #cccccc;
    border-radius: var(--track-radius);
    box-shadow: var(--track-shadow);
}

:host > svg {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: start;

    /* Compensate for label height */
    height: calc(100% - 24px);
    width: 100%;
    width: 1em;
    height: 1em;
    overflow: visible;
    z-index: 1;
}

[part="x-line line"],
[part="y-line line"] {
    stroke: #cccccc;
}

[part="x-tick tick"],
[part="y-tick tick"] {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: start;
    margin: 0;
    font-size: inherit !important;
    color: #888888;
}

[part="x-tick tick"] {
    text-align: center;
}

[part="y-tick tick"] {
    text-align: right;
    min-width: 2em;
}

[part="x-tick tick"] > span,
[part="y-tick tick"] > span {
    font-size: 0.625em;
    font-family: 'Fira Mono', monospace;
}

[part="handle"] {
    fill: url(#handle-gradient);
    stroke: inherit;
    stroke-width: var(--handle-stroke-width);
    cursor: pointer;
}

.envelope-svg {
    background: var(--track-background);
    background-size: auto 100%;
    background-position: bottom left;
    box-shadow: var(--track-shadow);
    border-radius: var(--track-radius);
}

.control-point {
    fill: url(#handle-gradient);
    stroke: inherit;
    stroke-width: var(--handle-stroke-width);
}

.control-line {
    stroke: inherit;
    stroke-width: 3;
}

.thin-control-line {
    display: none;
    stroke-width: 1;
    stroke-dasharray: 1 2;
}

.control {
    stroke: #01181e;
}

.control:focus {
    stroke: hsl(165, 31%, 53%);
    outline: none;
}

.control:focus > .thin-control-line {
    display: block;
}


/* Gradient stops */

.stop-1 {
    stop-color: hsla(192,0%,96.8%,0.8);
}

.stop-2 {
    stop-color: hsla(192,0%,55%,0.8);
}

:host(:focus) .stop-1 { stop-color: hsl(192,0%,96.8%); }
:host(:focus) .stop-2 { stop-color: hsl(192,0%,55%); }
