
// Breakpoints

$breakpoint-1: 25em;
$breakpoint-2: 37.5em;
// Change $breakpoint-2, and you must also change the query in site-nav.js
$breakpoint-3: 45em;
$breakpoint-4: 56em;
$breakpoint-5: 60em;
$breakpoint-6: 73.125em;

// Horizontal grid

$mobile-gutter:  1.25rem;
$desktop-gutter: 1.875rem;

// Colors

$alert-color: #fff79a;

$black-color: #333333;
$neutral-color-1: #888888;
$neutral-color-2: #dddddd;
$neutral-color-3: #e3e3e3;
$white-color: #fafafa;

$mcb-theme-color: #e62b24;
$zoo-theme-color: #5086c5;
$bot-theme-color: #8ab61a;
$mor-theme-color: #7d8958;
$arl-theme-color: #717bcc;
$cin-theme-color: #007cc5;
$arc-theme-color: #c09b5b;
$mon-theme-color: #f05d21;
$pal-theme-color: #b51716;

$footer-color: $white-color;
$footer-bg-color: #252327;

// Overridden by theme.
$theme-color: $mcb-theme-color;
$logo-width-mobile: 9.625rem;
$logo-bgpos-mobile: -4.1625rem;
$logo-width-mid:    13.125rem;
