
.grid-wrap,
.grid-index {
	position: relative;
	margin-left: -0.625rem;
	margin-right: -0.625rem;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

body > .grid-wrap,
body > .grid-index,
.grid-wrap > .grid-wrap,
.grid-wrap > .grid-index {
	margin-left: 0;
	margin-right: 0;
}

.grid-wrap,
.grid-index {
	margin-left: -0.6250rem;
	margin-right: -0.6250rem;
}

.grid-block,
.grid-index > li {
	display: inline-block;
}

.grid-block,
.grid-index > li,
.grid-index > li:first-child {
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}

.grid-left-0,
.grid-block:first-child {
	margin-left: 0;
}

.grid-right-0,
.grid-block:last-child {
	margin-right: 0;
}

.adaptive-grid-index > li:nth-last-child(1):first-child,
.adaptive-grid-index > li:nth-last-child(1):first-child ~ li { width: calc(100% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(2):first-child,
.adaptive-grid-index > li:nth-last-child(2):first-child ~ li { width: calc(100% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(3):first-child,
.adaptive-grid-index > li:nth-last-child(3):first-child ~ li { width: calc(100% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(4):first-child,
.adaptive-grid-index > li:nth-last-child(4):first-child ~ li { width: calc(50% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(5):first-child,
.adaptive-grid-index > li:nth-last-child(5):first-child ~ li { width: calc(50% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(6):first-child,
.adaptive-grid-index > li:nth-last-child(6):first-child ~ li { width: calc(33.3333% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(7):first-child,
.adaptive-grid-index > li:nth-last-child(7):first-child ~ li { width: calc(25% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(7):first-child,
.adaptive-grid-index > li:nth-last-child(7):first-child ~ li { width: calc(25% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(8):first-child,
.adaptive-grid-index > li:nth-last-child(8):first-child ~ li { width: calc(25% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(9):first-child,
.adaptive-grid-index > li:nth-last-child(9):first-child ~ li { width: calc(20% - 1.25rem); }
.adaptive-grid-index > li:nth-last-child(10):first-child,
.adaptive-grid-index > li:nth-last-child(10):first-child ~ li { width: calc(20% - 1.25rem); }

@media all and (min-width: 50em) {
	.adaptive-grid-index > li:nth-last-child(2):first-child,
	.adaptive-grid-index > li:nth-last-child(2):first-child ~ li { width: calc(50% - 1.25rem); }
	.adaptive-grid-index > li:nth-last-child(3):first-child,
	.adaptive-grid-index > li:nth-last-child(3):first-child ~ li { width: calc(33.3333% - 1.25rem); }
	.adaptive-grid-index > li:nth-last-child(4):first-child,
	.adaptive-grid-index > li:nth-last-child(4):first-child ~ li { width: calc(25% - 1.25rem); }
	.adaptive-grid-index > li:nth-last-child(5):first-child,
	.adaptive-grid-index > li:nth-last-child(5):first-child ~ li { width: calc(20% - 1.25rem); }
	.adaptive-grid-index > li:nth-last-child(6):first-child,
	.adaptive-grid-index > li:nth-last-child(6):first-child ~ li { width: calc(16.6667% - 1.25rem); }
	.adaptive-grid-index > li:nth-last-child(7):first-child,
	.adaptive-grid-index > li:nth-last-child(7):first-child ~ li { width: calc(14.2857% - 1.25rem); }
	.adaptive-grid-index > li:nth-last-child(8):first-child,
	.adaptive-grid-index > li:nth-last-child(8):first-child ~ li { width: calc(12.5% - 1.25rem); }
	.adaptive-grid-index > li:nth-last-child(9):first-child,
	.adaptive-grid-index > li:nth-last-child(9):first-child ~ li { width: calc(11.1111% - 1.25rem); }
	.adaptive-grid-index > li:nth-last-child(10):first-child,
	.adaptive-grid-index > li:nth-last-child(10):first-child ~ li { width: calc(10% - 1.25rem); }
}

.bleed-index > li {
	display: inline-block;
}

.adaptive-bleed-index > li:nth-last-child(2):first-child,
.adaptive-bleed-index > li:nth-last-child(2):first-child ~ li { width: 50%; }
.adaptive-bleed-index > li:nth-last-child(3):first-child,
.adaptive-bleed-index > li:nth-last-child(3):first-child ~ li { width: 33.3333%; }
.adaptive-bleed-index > li:nth-last-child(4):first-child,
.adaptive-bleed-index > li:nth-last-child(4):first-child ~ li { width: 25%; }
.adaptive-bleed-index > li:nth-last-child(5):first-child,
.adaptive-bleed-index > li:nth-last-child(5):first-child ~ li { width: 20%; }
.adaptive-bleed-index > li:nth-last-child(6):first-child,
.adaptive-bleed-index > li:nth-last-child(6):first-child ~ li { width: 16.6667%; }
.adaptive-bleed-index > li:nth-last-child(7):first-child,
.adaptive-bleed-index > li:nth-last-child(7):first-child ~ li { width: 14.2857%; }
.adaptive-bleed-index > li:nth-last-child(8):first-child,
.adaptive-bleed-index > li:nth-last-child(8):first-child ~ li { width: 12.5%; }
.adaptive-bleed-index > li:nth-last-child(9):first-child,
.adaptive-bleed-index > li:nth-last-child(9):first-child ~ li { width: 11.1111%; }
.adaptive-bleed-index > li:nth-last-child(10):first-child,
.adaptive-bleed-index > li:nth-last-child(10):first-child ~ li { width: 10%; }
