/*
.color

Helper classes for overriding colours.

Styleguide: Color
*/

/*
.theme-bg

Sets <code>background-color</code> to current musée theme colour.

Markup: <p class="text-4 theme-bg">Musée</p>

Styleguide: Color.1
*/

.theme-bg     { background-color: $mcb-theme-color; }

/*
.theme-color

Sets <code>color</code> to current musée theme colour.

Markup: <p class="text-4 theme-color">Musée</p>

Styleguide: Color.2
*/

.theme-color  { color: $mcb-theme-color; }

/*
.alert-bg

Sets <code>background-color</code> to alert color.

Markup: <p class="text-4 alert-bg">Musée</p>

Styleguide: Color.3
*/

.alert-bg     { background-color: $alert-color; }

/*
.alert-color

Sets <code>color</code> to alert color.

Markup: <p class="text-4 alert-color">Musée</p>

Styleguide: Color.4
*/

.alert-color     { color: $alert-color; }

/*
.black-bg

Markup: <p class="text-4 black-bg">Musée</p>

Styleguide: Color.5
*/

/*
.black-color

Markup: <p class="text-4 black-color">Musée</p>

Styleguide: Color.6
*/

/*
.neutral-bg-1

Markup: <p class="text-4 neutral-bg-1">Musée</p>

Styleguide: Color.7
*/

/*
.neutral-color-1

Markup: <p class="text-4 neutral-color-1">Musée</p>

Styleguide: Color.8
*/

/*
.neutral-bg-2

Markup: <p class="text-4 neutral-bg-2">Musée</p>

Styleguide: Color.9
*/

/*
.neutral-color-2

Markup: <p class="text-4 neutral-color-2">Musée</p>

Styleguide: Color.10
*/

/*
.neutral-bg-3

Markup: <p class="text-4 neutral-bg-3">Musée</p>

Styleguide: Color.11
*/

/*
.neutral-color-3

Markup: <p class="text-4 neutral-color-3">Musée</p>

Styleguide: Color.12
*/

/*
.white-bg

Markup: <p class="text-4 white-bg">Musée</p>

Styleguide: Color.13
*/

/*
.white-color

Markup: <p class="text-4 white-color">Musée</p>

Styleguide: Color.14
*/

.black-bg     { background-color: $black-color; }
.neutral-bg-1 { background-color: $neutral-color-1; }
.neutral-bg-2 { background-color: $neutral-color-2; }
.neutral-bg-3 { background-color: $neutral-color-3; }
.white-bg     { background-color: $white-color; }

.black-color     { color: $black-color; }
.neutral-color-1 { color: $neutral-color-1; }
.neutral-color-2 { color: $neutral-color-2; }
.neutral-color-3 { color: $neutral-color-3; }
.white-color     { color: $white-color; }

/*
.mcb-theme-color

Sets <code>color</code> to MCBA theme colour

Markup: <p class="text-4 mcb-theme-color">Musée</p>

Styleguide: Color.mcb-theme-color
*/

/*
.zoo-theme-color

Sets <code>color</code> to Zoologie theme colour

Markup: <p class="text-4 zoo-theme-color">Musée</p>

Styleguide: Color.zoo-theme-color
*/

/*
.bot-theme-color

Sets <code>color</code> to Botanique theme colour

Markup: <p class="text-4 bot-theme-color">Musée</p>

Styleguide: Color.bot-theme-color
*/

/*
.mor-theme-color

Sets <code>color</code> to Morges theme colour

Markup: <p class="text-4 mor-theme-color">Musée</p>

Styleguide: Color.mor-theme-color
*/

/*
.arl-theme-color

Sets <code>color</code> to Arluad theme colour

Markup: <p class="text-4 arl-theme-color">Musée</p>

Styleguide: Color.arl-theme-color
*/

/*
.cin-theme-color

Sets <code>color</code> to Cine Palais theme colour

Markup: <p class="text-4 cin-theme-color">Musée</p>

Styleguide: Color.cin-theme-color
*/

/*
.arc-theme-color

Sets <code>color</code> to Archéologie theme colour

Markup: <p class="text-4 arc-theme-color">Musée</p>

Styleguide: Color.arc-theme-color
*/

/*
.mon-theme-color

Sets <code>color</code> to Monétaire theme colour

Markup: <p class="text-4 mon-theme-color">Musée</p>

Styleguide: Color.mon-theme-color
*/

/*
.pal-theme-color

Sets <code>color</code> to Palais Rumine theme colour

Markup: <p class="text-4 pal-theme-color">Musée</p>

Styleguide: Color.pal-theme-color
*/

/*
.mcb-theme-bg

Sets <code>background-color</code> to MCBA theme colour

Markup: <p class="text-4 mcb-theme-bg">Musée</p>

Styleguide: Color.mcb-theme-bg
*/

/*
.zoo-theme-bg

Sets <code>background-color</code> to Zoologie theme colour

Markup: <p class="text-4 zoo-theme-bg">Musée</p>

Styleguide: Color.zoo-theme-bg
*/

/*
.bot-theme-bg

Sets <code>background-color</code> to Botanique theme colour

Markup: <p class="text-4 bot-theme-bg">Musée</p>

Styleguide: Color.bot-theme-bg
*/

/*
.mor-theme-bg

Sets <code>background-color</code> to Morges theme colour

Markup: <p class="text-4 mor-theme-bg">Musée</p>

Styleguide: Color.mor-theme-bg
*/

/*
.arl-theme-bg

Sets <code>background-color</code> to Arluad theme colour

Markup: <p class="text-4 arl-theme-bg">Musée</p>

Styleguide: Color.arl-theme-bg
*/

/*
.cin-theme-bg

Sets <code>background-color</code> to Cine Palais theme colour

Markup: <p class="text-4 cin-theme-bg">Musée</p>

Styleguide: Color.cin-theme-bg
*/

/*
.arc-theme-bg

Sets <code>background-color</code> to Archéologie theme colour

Markup: <p class="text-4 arc-theme-bg">Musée</p>

Styleguide: Color.arc-theme-bg
*/

/*
.mon-theme-bg

Sets <code>background-color</code> to Monétaire theme colour

Markup: <p class="text-4 mon-theme-bg">Musée</p>

Styleguide: Color.mon-theme-bg
*/

/*
.pal-theme-bg

Sets <code>background-color</code> to Palais Rumine theme colour

Markup: <p class="text-4 pal-theme-bg">Musée</p>

Styleguide: Color.pal-theme-bg
*/

.mcb-theme-bg { background-color: $mcb-theme-color; }
.zoo-theme-bg { background-color: $zoo-theme-color; }
.bot-theme-bg { background-color: $bot-theme-color; }
.mor-theme-bg { background-color: $mor-theme-color; }
.arl-theme-bg { background-color: $arl-theme-color; }
.cin-theme-bg { background-color: $cin-theme-color; }
.arc-theme-bg { background-color: $arc-theme-color; }
.mon-theme-bg { background-color: $mon-theme-color; }
.pal-theme-bg { background-color: $pal-theme-color; }

.mcb-theme-color { color: $mcb-theme-color; }
.zoo-theme-color { color: $zoo-theme-color; }
.bot-theme-color { color: $bot-theme-color; }
.mor-theme-color { color: $mor-theme-color; }
.arl-theme-color { color: $arl-theme-color; }
.cin-theme-color { color: $cin-theme-color; }
.arc-theme-color { color: $arc-theme-color; }
.mon-theme-color { color: $mon-theme-color; }
.pal-theme-color { color: $pal-theme-color; }
