/**
.crumbs-index

```html
<ul class="crumbs-index index">
     <li><a href="#path">path</a></li
    ><li><a href="#to">to</a></li
    ><li><a href="#document">document</a></li>
</ul>
```
**/

.crumbs-index,
.crumbs-index > li {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.25rem;
}

.crumbs-index > li + li::before {
	content: ">";
	display: inline-block;
	vertical-align: baseline;
	width: 1.5rem;
	text-align: center;
}

.crumbs-index > li > a {
	text-decoration: none;
}

.crumbs-index > li:last-child > a {
	color: blue;
}
