/**
.menu-button

```html
<a class="menu-button button" href="#">Menu button</a>
<a class="menu-button button" href="#">Menu button</a>
<a class="menu-button button" href="#">Menu button</a>
```
**/

.menu-button {
    display: grid;
    justify-content: start;
    justify-items: start;
    width: 100%;
    text-align: left;
    border-width: 0;
    border-radius: 0;
}

.menu-button + .menu-button {
    border-top: 1px solid var(--button-border-color);
}
