/**
.nav-block

```html

```

**/

body > .top-nav {
    position: fixed;
    top: var(--header-height);
    right: 0;
}

.nav-block {
    min-width: 100%;
    min-height: 90px;
    background-color: white;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.5s ease-out, box-shadow 0.5s linear;
    box-shadow: 0 0 0 0 rgba(2, 63, 176, 0.16);
}

.nav-block.active {
    transform: translate3d(0, 0, 0);
    transition: transform 0.15s ease-out, box-shadow 0.15s linear;
    box-shadow: 0 0 0.55555556em 0 rgba(2, 63, 176, 0.16);
}

.content-loading .nav-block,
.content-loading .nav-block.active {
    /* Negate transitions while loading */
    transition: none;
}