
/**
.switch-label

```html
<input class="masked" type="checkbox" value="something" id="switch-input" />
<label class="switch-label" for="switch-input">Turn me on</label>
```
**/

.switch-label {
    display: block;
    position: relative;
	font-size: var(--checkbox-font-size);
	line-height: var(--checkbox-line-height);
	font-weight: inherit;
    padding-left: calc(var(--switch-width) + 1em);
	padding-top: calc(0.5 * (var(--input-height) - var(--checkbox-line-height)));
	padding-bottom: calc(0.5 * (var(--input-height) - var(--checkbox-line-height)));
	min-height: var(--input-height);
    color: inherit;
}

.switch-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: var(--switch-width);
    height: var(--switch-height);
    padding: 0;
    overflow: hidden;
    background: var(--switch-background);
    /* Border for the outline  renders much more reliably than box-shadow
       in Safari, as it is constrained to whole px values */
    border: var(--switch-border);
    border-radius: calc(0.5 * var(--switch-height));
    box-shadow: var(--switch-box-shadow);
    transition: background 0.16s linear;
}

.switch-label::after {
    content: '';
    position: absolute;
    width: var(--switch-handle-width);
    height: var(--switch-handle-width);
    top: 50%;
    left: 0;
    transform: translate(
        calc(0.5 * var(--switch-height) - 0.5 * var(--switch-handle-width)),
        -50%
    );
    border: var(--switch-handle-border);
    border-radius: 50%;
    background-color: white;
    box-shadow: var(--switch-handle-box-shadow);
    transition: 0.16s transform ease-out;
}

:checked + .switch-label::before {
    background: var(--switch-background-checked);
    border: var(--switch-border-checked);
}

:checked + .switch-label::after {
    transform: translate(
        calc(var(--switch-width) - 0.5 * var(--switch-height) - 0.5 * var(--switch-handle-width)),
        -50%
    );
}

:disabled + .switch-label {
   opacity: 0.6
}

:focus + .switch-label::before{
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-box-shadow);
}

.switch-label.gesturing::after {
    /* Enables swipe interaction when switch-label.js is included */
    transition: none;
    transform:
        translate(calc(0.5 * var(--switch-height) - 0.5 * var(--switch-handle-width) + var(--switch-handle-gesture-x) * (
            var(--switch-width) - var(--switch-height)
        )), -50%);
}

.switch-label + label {
    margin-top: 0.625em;
}

.masked + .switch-label {
    margin-top: 0;
}

* + .masked + .switch-label {
    margin-top: 1em;
}

.radio-label + .masked + .switch-label,
.switch-label + .masked + .switch-label
.check-label + .masked + .switch-label {
    margin-top: 0.33333333em;
}


/**
.right-switch-label

```html
<input class="masked" type="checkbox" value="something" id="switch-input-2" />
<label class="right-switch-label switch-label" for="switch-input-2">Turn me on</label>
```
**/

.right-switch-label {
    padding-left: 0;
    padding-right: calc(var(--switch-width) + 1em);
}

.right-switch-label::before {
    left: auto;
    right: 0;
}

.right-switch-label::after {
    left: auto;
    right: calc(var(--switch-width) - var(--switch-handle-width));
}


:root {
    /**
    --switch-background
    **/
    --switch-background: #cccccc;

    /**
    --switch-background-checked
    **/
    --switch-background-checked: #a22d08;

    /**
    --switch-width
    **/
    --switch-width: 2.625em;

    /**
    --switch-height
    **/
    --switch-height: 1.4em;

    /**
    --switch-border
    **/
	--switch-border: 0 solid currentcolor;

    /**
    --switch-border-checked
    **/
    --switch-border-checked: 0 solid currentcolor;

    /**
    --switch-box-shadow
    **/
    --switch-box-shadow: inset 0 0.125em 0.5em rgba(0,0,0,0.3);

    /**
    --switch-handle-background
    **/
    --switch-handle-background: white;

    /**
    --switch-handle-width
    **/
    --switch-handle-width: 1.1em;

    /**
    --switch-handle-border
    **/
    --switch-handle-border: 1px solid currentcolor;

    /**
    --switch-handle-border-checked
    **/
    --switch-handle-border-checked: var(--switch-handle-border);

    /**
    --switch-handle-box-shadow
    **/
    --switch-handle-box-shadow: 0 0.15em 0.3125em rgba(0,0,0,0.333);
}