/**
.toggle-block

```html
<a class="toggle-button button" href="#toggle-block">Click to show</a>
<div class="toggle-block block toggle" toggleable id="toggle-block">
  <p>Crunchum ipsum dolor sit coder void, constructor function, sed do while loop
  python orientation semi colon incident. Duis aute irure indent tabs or
  spaces velit esse cilium buntum how crunchy duntum.</p>
</div>
```
*/

.toggle-block {
    max-height: 0;
    opacity: 0.5;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 400ms cubic-bezier(0.36, 0, 0.51, 1),
        margin-top 400ms cubic-bezier(0.77, 0, 0.79, 0.78),
        margin-bottom 400ms cubic-bezier(0, 0.5, 0.33, 1),
        opacity 400ms linear,
        border-color 400ms linear,
        background-color 200ms linear,
        visibility 400ms linear;
}

.toggle-block.active {
    max-height: 100rem;
    opacity: 1;
    visibility: visible;
    transition:
        max-height 400ms cubic-bezier(0.4, 0, 1, 0.32),
        margin-top 400ms cubic-bezier(0, 0.62, 0.35, 0.82),
        margin-bottom 400ms cubic-bezier(0, 0.4, 1, 0.32),
        opacity 400ms linear,
        border-color 400ms linear,
        background-color 200ms linear,
        visibility 400ms linear;
}

* > .toggle-block {
    max-height: 2rem;
    /* Toggle blocks hide overflow. Make them bigger than they appear to be
       so that inner elements' focus rings, box-shadows, list-style bullets, etc.
       are not truncated. 1rem is enough for the bullets. */
    margin: -1rem;
    padding: 1rem;
    width: auto;
}

.content-loading .toggle-block,
.content-loading .toggle-block.active {
    /* No transition during page load */
    transition: none;
}
