
/**
.check-label

```html
<input type="checkbox" class="invisible" id="checkbox-1" />
<label class="check-label" for="checkbox-1">Choose me</label>
```
**/

/**
.radio-label

```html
<input type="radio" class="invisible" id="radio-1" />
<label class="radio-label" for="radio-1">Choose me</label>
```
**/

.radio-label,
.check-label {
    --bg:         var(--input-background, white);
    --valid-bg:   var(--bg);
    --invalid-bg: var(--bg);

    --fg:         var(--check-border-color, #bbbbbb);
    --valid-fg:   var(--fg);
    --invalid-fg: var(--fg);

    position: relative;
    padding-left: calc(1.6 * var(--check-size));
    text-align: left;
}

.radio-label::before,
.radio-label::after,
.check-label::before,
.check-label::after {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 0;
    box-sizing: border-box;
}

.check-label::before,
.check-label::after {
    top: calc(0.5 * (var(--size, 1.5rem) - var(--check-size)));
    width: var(--check-size);
    height: var(--check-size);
    border-radius: var(--check-border-radius);
}

.radio-label::before {
    top: calc(0.5 * (var(--size, 1.5rem) - var(--radio-size)));
    width: var(--radio-size);
    height: var(--radio-size);
}

.right-label::before,
.right-label::after {
    left: auto;
    right: 0;
}

.radio-label::before,
.check-label::before {
    background: var(--bg) no-repeat;
    border: var(--check-border-width) solid var(--fg);
}

.radio-label::before {
    border-radius: calc(0.5 * var(--radio-size));
}

.radio-label::after,
.check-label::after {
    display: none;
}

.invisible:checked + .radio-label::after,
.invisible:checked + .check-label::after {
    display: block;
}

.radio-label::after {
    top: calc(0.5 * (var(--size, 1.5rem) - var(--mark-size)));
    left: calc(0.5 * (var(--radio-size) - var(--mark-size)));
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: var(--mark-color);
    border-radius: calc(0.5 * var(--mark-size));
}

.check-label::after {
    content: var(--check-content, '');
    text-align: center;
    line-height: var(--check-size);
    color: var(--mark-color);
    background: var(--check-content-background);
    background-size: auto;
    background-position: 50% 50%;
}

.invisible + .check-label,
.invisible + .radio-label {
    margin-top: 0;
}

label + .invisible + .radio-label,
label + .invisible + .check-label {
    margin-top: var(--label-input-margin);
}

input + .invisible + .radio-label,
.button + .invisible + .check-label {
    margin-top: var(--input-margin);
}

.invisible:disabled + .check-label,
.invisible:disabled + .radio-label {
    filter: var(--disabled-filter);
}


/**
.right-check-label

```html
<input type="checkbox" class="invisible" id="checkbox-2" />
<label class="right-check-label check-label" for="checkbox-2">Choose me</label>
```
*/

/**
.right-radio-label

```html
<input type="radio" class="invisible" id="radio-2" />
<label class="right-radio-label radio-label" for="radio-2">Choose me</label>
```
*/

.right-radio-label,
.right-check-label {
    padding-left: 0;
    padding-right: 2.5em;
}

.right-radio-label::before,
.right-radio-label::after,
.right-check-label::before,
.right-check-label::after {
    left: auto;
    right: 0;
}

.right-radio-label::after {
    right: calc(0.5 * (var(--radio-size) - var(--mark-size)));
}


:root {
    /**
    --check-size
    Size of simulated checkboxes
    **/
    --check-size: 1.5rem;

    /**
    --check-border-width
    Border width of simulated checkboxes
    **/
    --check-border-width: var(--input-border-width, 1px);

    /**
    --check-border-color
    **/
    --check-border-color: var(--input-border-color);

    /**
    --check-border-radius
    Border radius of simulated checkboxes
    **/
    --check-border-radius: 0;

    /**
    --check-background
    Background of simulated checkboxes
    **/
    --check-background: var(--input-background);

    /** --check-content
    The actual check mark **/
    --check-content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">\
            <style>path{stroke:%2346789a;stroke-width:2;stroke-linejoin:round;stroke-linecap:round;fill:none;}</style>\
            <path d="M5 8 L7 11 L11 5"></path>\
        </svg>');

    /**
    --check-content-background
    **/
    --check-content-background: transparent;

    /**
    --check-content
    The actual check mark
    **/
    --check-background-checked: transparent;

    /**
    --radio-size
    Size of simulated radio buttons
    **/
    --radio-size: 1.625rem;

    /**
    --radio-border-width
    Border width of simulated radio buttons
    **/
    --radio-border-width: var(--input-border-width, 1px);

    /** --mark-size
    Size of radio check mark **/
    --mark-size: 0.75rem;

    /** --mark-background
    Background of radio check mark **/
    --mark-color: #46789a;
}
