
/**
.checkbox-button

```html
<input class="invisible" type="checkbox" value="something" id="checkbox-button-input" />
<label class="checkbox-button button" for="checkbox-button-input">Turn me on</label>
```
**/

/**
.radio-button

```html
<input class="invisible" type="radio" name="radio-button" value="on" id="radio-button-on" />
<label class="radio-button button" for="radio-button-on">Turn me on</label>
<input class="invisible" type="radio" name="radio-button" value="off" id="radio-button-off" />
<label class="radio-button button" for="radio-button-off">Turn me off</label>
```
**/

.checkbox-button,
.radio-button {
    --size:          var(--input-height, 2.8125rem);
    --padding-left:  var(--input-padding-left, 0.5625rem);
    --padding-right: var(--input-padding-right, 0.5625rem);
    --fg:            var(--input-border-color, #bbbbbb);
    --border-width:  var(--input-border-width, 1px);
    --border-radius: var(--input-border-radius, 0.3125rem);

    display: block;
    text-align: left;
    font-size:   var(--input-font-size, inherit);
    line-height: 1.5rem;

    /* Make space for the simulated check or radio */
    padding-left: 3.33333333em;

    color: var(--input-color);
    background-color: #eeeeee;
}

.checkbox-button::before,
.checkbox-button::after,
.radio-button::before,
.radio-button::after {
    content: '';
    position: absolute;
    top: 50%;
    box-sizing: border-box;
}

.checkbox-button::before,
.checkbox-button::after {
    left: var(--input-padding-left);
    right: auto;
    margin-top: calc(-0.5 * var(--check-size));
    width: var(--check-size);
    height: var(--check-size);
}

.checkbox-button::before,
.radio-button::before {
    background: var(--check-background);
    border: var(--check-border-width) solid var(--check-border-color);
}

.checkbox-button::before {
    border-radius: var(--check-border-radius);
}

.radio-button::before {
    left: var(--input-padding-left);
    right: auto;
    width: var(--radio-size);
    height: var(--radio-size);
    margin-top: calc(-0.5 * var(--radio-size));
    border-radius: calc(0.5 * var(--radio-size));
}

.checkbox-button::after {
    display: none;
    content: var(--check-content);
    background: var(--check-content-background);
    text-align: center;
    line-height: var(--check-size);
    color: var(--mark-color);
    background-size: auto;
    background-position: 50% 50%;
}

.radio-button::after {
    display: none;
    left: calc(var(--input-padding-left) + 0.5 * (var(--radio-size) - var(--mark-size)));
    right: auto;
    width: var(--mark-size);
    height: var(--mark-size);
    margin-top: calc(-0.5 * var(--mark-size));
    background: var(--mark-color);
    border-radius: calc(0.5 * var(--mark-size));
}

.invisible + .checkbox-button,
.invisible + .radio-button {
    margin-top: 0;
}

:checked + .checkbox-button::after,
:checked + .radio-button::after {
    display: block;
}

:disabled + .checkbox-button {
    opacity: 0.4;
}

:focus + .checkbox-button,
:focus + .radio-button {
    box-shadow: var(--focus-shadow);
    border-color: var(--focus-fg);
    /* Make focus shadow appear over other elements. */
    z-index: 1;
}

:disabled + .checkbox-button,
:disabled + .radio-button {
    filter: var(--disabled-filter);
}

* + .invisible + .checkbox-button,
* + .invisible + .radio-button {
    margin-top: var(--input-margin);
}





/**
.right-checkbox-button

```html
<input class="invisible" type="checkbox" value="something" id="right-button-input" />
<label class="right-checkbox-button checkbox-button button" for="right-button-input">Turn me on</label>
```
**/


/**
.right-radio-button

```html
<input class="invisible" type="radio" name="right-radio-button" value="on" id="right-radio-button-on" />
<label class="right-radio-button radio-button button" for="right-radio-button-on">Turn me on</label>
<input class="invisible" type="radio" name="right-radio-button" value="off" id="right-radio-button-off" />
<label class="right-radio-button radio-button button" for="right-radio-button-off">Turn me off</label>
```
**/

.right-checkbox-button,
.right-radio-button {
    padding-left: var(--input-padding-left);
    padding-right: 3.33333333em;
}

.right-checkbox-button::before,
.right-checkbox-button::after,
.right-radio-button::before {
    left: auto;
    right: var(--input-padding-right);
}

.right-radio-button::after {
    left: auto;
    right: calc(var(--input-padding-right) + 0.5 * (var(--radio-size) - var(--mark-size)));
}
