
/**
Colour.
**/

/*
Colour classes set `color`, `background-color`, `stroke` and `fill`,
and variables are available to set colors in CSS:

- `.black-fg` sets color or stroke to black
- `.black-bg` sets background-color or fill to black
- `var(--black)` sets the color black in CSS
*/

/**
.current-fg,
.current-bg

```html
<p class="current-fg">Crunchum Ipsum</p>
<p class="thumb current-bg">Current</p>
```
**/

.current-fg   { color: currentcolor; stroke: currentcolor; }
.current-bg   { background-color: currentcolor; fill: currentcolor; }
.current-bd   { border-color: currentcolor; }


/**
.transparent-fg,
.transparent-bg

```html
<p class="transparent-fg">Crunchum Ipsum</p>
<p class="thumb transparent-bg">Transparent</p>
```
**/

.transparent-fg { color: transparent; stroke: none; }
.transparent-bg { background-color: transparent; fill: none; }
.transparent-bd { border-color: transparent; }


/**
.black-fg,
.black-bg

```html
<p class="black-fg">Crunchum Ipsum</p>
<p class="thumb black-bg">Black</p>
```
**/

:root, :host { --black: black; }
.black-fg    { color: var(--black); stroke: var(--black); }
.black-bg    { background-color: var(--black); fill: var(--black); }
.black-bd    { border-color: var(--black); }


/**
.white-fg,
.white-bg

```html
<p class="white-fg">Crunchum Ipsum</p>
<p class="thumb white-bg">White</p>
```
**/

:root, :host { --white: white; }
.white-fg    { color: var(--white); stroke: var(--white); }
.white-bg    { background-color: var(--white); fill: var(--white); }
.white-bd    { border-color: var(--white); }


/**
.info-fg,
.info-bg

```html
<p class="info-fg">Crunchum Ipsum</p>
<p class="thumb info-bg">Info colour</p>
```
**/

:root, :host { --info: #46789a; }
.info-fg     { color: var(--info); stroke: var(--info); }
.info-bg     { background-color: var(--info); fill: var(--info); }
.info-bd     { border-color: var(--info); }


/**
.success-fg,
.success-bg

```html
<p class="success-fg">Crunchum Ipsum</p>
<p class="thumb success-bg">Success colour</p>
```
**/

:root, :host { --success: #8aa231; }
.success-fg  { color: var(--success); stroke: var(--success); }
.success-bg  { background-color: var(--success); fill: var(--success); }
.success-bd  { border-color: var(--success); }


/**
.warn-fg,
.warn-bg

```html
<p class="warn-fg">Crunchum Ipsum</p>
<p class="thumb warn-bg">Warn colour</p>
```
**/

:root, :host { --warn: #e6ba1a; }
.warn-fg     { color: var(--warn); stroke: var(--warn); }
.warn-bg     { background-color: var(--warn); fill: var(--warn); }
.warn-bd     { border-color: var(--warn); }


/**
.error-fg,
.error-bg

```html
<p class="error-fg">Crunchum Ipsum</p>
<p class="thumb error-bg">Error colour</p>
```
**/

:root, :host { --error: #dc0f0e; }
.error-fg    { color: var(--error); stroke: var(--error); }
.error-bg    { background-color: var(--error); fill: var(--error); }
.error-bd    { border-color: var(--error); }
