/* .flex */

.flex,
.index > .flex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.n-flex { flex-direction: column-reverse; }
.e-flex { flex-direction: column; }
.s-flex { flex-direction: row; }
.w-flex { flex-direction: row-reverse; }

.flex.wrap    { flex-wrap: wrap; }
.flex.no-wrap { flex-wrap: nowrap; }

/* .box */

.box {
	position: relative;
}

.box-0 {
	flex-grow: 0;
	flex-shrink: 0;
}

.box-1 {
	flex-grow: 1;
	flex-shrink: 1;
}
