
/*
.invisible
*/

.invisible {
    /* We cannot do this, the inputs are no longer focusable */
    /*display: contents;*/

    /* Keep content accessible but not visible. */
    position: absolute;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
}
