/**
.lined-table

```html
<table class="lined-table">
  <thead>
    <tr><th></th><th>1</th><th>2</th><th>3</th></tr>
  </thead>
  <tbody>
    <tr><th>English</th><td>One</td><td>Two</td><td>Three</td></tr>
    <tr><th>Français</th><td>Un</td><td>Deux</td><td>Trois</td></tr>
    <tr><th>Italiano</th><td>Uno</td><td>Due</td><td>Tre</td></tr>
  </tbody>
  <tfoot>
    <tr><th>Notes</th><td>Small</td><th>Medium</td><td>Large</td></tr>
  </tfoot>
</table>
```
**/


.lined-table th,
.lined-table td {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.lined-table th:first-child,
.lined-table td:first-child {
    padding-left: 1.25rem;
}

.lined-table th:last-child,
.lined-table td:last-child {
    padding-right: 1.25rem;
}

.lined-table > thead > tr > th,
.lined-table > thead > tr > td {
    /* Compensate for border-top */
    padding-top:    0.625rem;
    padding-bottom: 0.375rem;
}

.lined-table > thead + tbody > tr:first-child > th,
.lined-table > thead + tbody > tr:first-child > td {
    padding-bottom: 0.875rem;
    border-top-width: 0;
}

.lined-table > thead > tr:last-child > th,
.lined-table > thead > tr:last-child > td {
    padding-bottom: 0.375rem;
}

.lined-table > tbody > tr > th,
.lined-table > tbody > tr > td {
    /* Compensate for border-top */
    padding-top:    0.8125rem;
    padding-bottom: 0.875rem;
}

.lined-table > tfoot > tr > th,
.lined-table > tfoot > tr > td {
    /* Compensate for border-top */
    padding-top:    0.8125rem;
    padding-bottom: 0.875rem;
    vertical-align: top;
}
