
/**
.loading
Add <code>::after</code> content representing a loading animation.

```html
<div class="requested" style="height: 7.5rem;">
```
**/

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.js .loading::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.9375rem;
    margin-top: -0.9375rem;
    height: 1.875rem;
    width: 1.875rem;
    opacity: 1;

    -webkit-animation: rotation 1s infinite linear;
            animation: rotation 1s infinite linear;

    border:     0.3125rem solid rgba(63, 63, 63, 0.15);
    border-top: 0.3125rem solid rgba(63, 63, 63, 1);
    border-radius: 100%;
    z-index: 100;
}

:root.loading {
    /* In Chrome smooth scrolling affects initial load when a hashref
       is sought. Neuter it during load. A good way to do this is to put a
       script in the <head>:
       <script>
        document.documentElement.classList.add('loading');
        // Wait for other load handlers to run first - Bolt does a few things on
        // load (eg. targetable scrolls) and we want them to run before the loading
        // class is removed.
        window.addEventListener('load', () =>
            window.requestAnimationFrame(() =>
                document.documentElement.classList.remove('loading')
            )
        );
       </script>
    */
    scroll-behavior: auto;
}

/*
.loading-hidden
Hide an element when it or its parent has class <code>loading</code>.
*/

.loading-hidden.loading,
.loading > .loading-hidden {
    display: none !important;
}

/*
.loading-shown
Show an element when it or its parent has class <code>loading</code>.
*/

:not(.loading) > .loading-shown:not(.loading) {
    display: none !important;
}
