
/**
.no-select
Prohibit user selection.
**/

.no-select {
    -webkit-touch-callout: none !important;
      -webkit-user-select: none !important;
          -ms-user-select: none !important;
              user-select: none !important;
}
