@media screen and (max-width: 29.9999em) {
		.\@1-shown {
				display: none !important;
		}
}

@media screen and (min-width: 30em) {
		.\@1-hidden {
				display: none !important;
		}
		.\@1-block {
				display: block;
		}
		.\@1-inline-block {
				display: inline-block;
		}
		.\@1-left {
				float: left;
		}
		.\@1-right {
				float: right;
		}
}

@media screen and (max-width: 49.9999em) {
		.\@2-shown {
				display: none !important;
		}
}

@media screen and (min-width: 50em) {
		.\@2-hidden {
				display: none !important;
		}
		.\@2-block {
				display: block;
		}
		.\@2-inline-block {
				display: inline-block;
		}
		.\@2-left {
				float: left;
		}
		.\@2-right {
				float: right;
		}
}

@media screen and (max-width: 69.9999em) {
		.\@3-shown {
				display: none !important;
		}
}

@media screen and (min-width: 70em) {
		.\@3-hidden {
				display: none !important;
		}
		.\@3-block {
				display: block;
		}
		.\@3-inline-block {
				display: inline-block;
		}
		.\@3-left {
				float: left;
		}
		.\@3-right {
				float: right;
		}
}
