
/**
.toggle-button

```html
<a class="toggle-button button" href="#id">Open</a>
```
**/

.toggle-button {
	padding-right: 1.875rem;
}

.toggle-button::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0.75rem;
	width: 0.5625rem;
	height: 0.5625rem;
	border-right: 1px solid currentcolor;
	border-bottom: 1px solid currentcolor;
	transform: translate3d(-20%,-50%,0) rotate(-45deg);
	transition: transform 0.2s linear;
}

.toggle-button.on::after {
	transform: translate3d(0,-70.7%,0) rotate(45deg);
}

.content-loading .toggle-button::after {
	transition: none;
}
