/**
.toggle-block

```html
<a class="toggle-button button" href="#toggle-block">Click to show</a>

<div class="toggle-block block" data-toggleable id="toggle-block">
  <p>Crunchum ipsum dolor sit coder void, constructor function, sed do while loop
  python orientation semi colon incident. Duis aute irure indent tabs or
  spaces velit esse cilium buntum how crunchy duntum.</p>
</div>
```

A `toggle-block` is a drawer, closed by default, that opens when given the
class `active`.

As its `overflow` is `hidden`, in order not to truncate focus rings and
box-shadows in its content, it is given negative margins and equal padding.

Include `attributes/data-toggleable.js` and links to the `toggle-block` will
toggle the `active` class when clicked. The links are given the class `on`.
**/

.toggle-block {
    max-height: 2rem;
    opacity: 0.5;
    overflow: hidden;
    visibility: hidden;
    transition:
        min-height 400ms cubic-bezier(0.36, 0, 0.51, 1),
        max-height 400ms cubic-bezier(0.36, 0, 0.51, 1),
        margin-top 400ms cubic-bezier(0.77, 0, 0.79, 0.78),
        margin-bottom 400ms cubic-bezier(0, 0.5, 0.33, 1),
        padding-top 400ms ease-in,
        padding-bottom 400ms ease-in,
        opacity 400ms linear,
        border-color 400ms linear,
        background-color 200ms linear,
        visibility 400ms linear;
}

.toggle-block.active,
/* UNDER CONSIDERATION ... */
:checked + .toggle-block,
.masked:checked + label + .toggle-block {
    max-height: 100rem;
    opacity: 1;
    visibility: visible;
    transition:
        min-height 400ms cubic-bezier(0.4, 0, 1, 0.32),
        max-height 400ms cubic-bezier(0.4, 0, 1, 0.32),
        margin-top 400ms cubic-bezier(0, 0.62, 0.35, 0.82),
        margin-bottom 400ms cubic-bezier(0, 0.4, 1, 0.32),
        padding-top 400ms ease-out,
        padding-bottom 400ms ease-out,
        opacity 400ms linear,
        border-color 400ms linear,
        background-color 200ms linear,
        visibility 400ms linear;
}

* > .toggle-block {
    /* Toggle blocks hide overflow. Make them bigger than they appear to be
       so that inner elements' focus rings, box-shadows, list-style bullets, etc.
       are not truncated. 1rem is enough for the bullets. */
    margin: -1rem;
    padding: 1rem;
    width: auto;
}

.loading .toggle-block,
.loading .toggle-block.active,
.resizing .toggle-block,
.resizing .toggle-block.active {
    /* No transition during page load */
    transition: none !important;
}
