
/*
Typography.

Styleguide:  2
*/

html {
	font-size: 100%; /* 16px, normally */
}

body {
	/* Enable kerning in FF and WebKit. */
	text-rendering: optimizeLegibility;
}

pre,
code,
kbd,
samp {
	/* Corrects font family set oddly in IE6, S4/5, Chrome
	   en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
	font-family: monospace, serif;
	font-family: Monaco, 'Lucida Console', monospace;
}

code,
kbd,
samp {
	white-space: nowrap;
}

pre {
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS2.1 */
	/*white-space: pre-line; /* CSS3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

pre > code {
	line-height: inherit;
	white-space: inherit;
}

a:focus,
a:hover {
	text-decoration: underline;
}

a {
	text-decoration: underline;
	color: inherit;
}

[href] {
	/* j.mp/webkit-tap-highlight-color */
	-webkit-tap-highlight-color: rgba(0,0,0,0.25);
}

/* Block elements */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	-webkit-hyphens: none;
	   -moz-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
}

hr {
	/* IE9 does not properly get border-color for <hr>s that
	   have border-width > 1px. Use background-color. */
	height: 1px;
	border-width: 0;
	margin-bottom: -1px;
	background-color: currentcolor;
}


dl {
	/* Clearfix, because children of definition list are floated. */
	zoom: 1;
}

dl::after {
	/* Clearfix, because children of definition list are floated. */
	content: " ";
	visibility: hidden;
	display: block;
	clear: both;
	font-size: 0;
	height: 0;
}

dt                { float: left; clear: both; text-align: right; width: 22.75%; font-weight: bold; }
dd                { float: right; text-align: left; width: 74.25%; }

ul                { list-style-type: disc; }
ol                { list-style-type: decimal; }

blockquote        { font-style: italic; font-family: Georgia, serif; }
blockquote::before { content: "\201C"; font-size: 3em; color: #484848; float: left; margin-left: -0.6em; line-height: 0.92em; }

p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
ul:empty,
ol:empty,
dl:empty,
li:empty,
dt:empty,
dd:empty,
blockquote:empty {
	/* Hide any typographic block that is empty. This is a bit
	   contraversial, but helps correct style errors in blocks
	   of user input where the HTML has ended up being dodgy -
	   perhaps thanks to a CMS editor, for example. */
	display: none;
}

p > img,
p > svg,
p > video,
p > canvas,
p > object,
p > embed,
p > iframe,
li > img,
li > svg,
li > video,
li > canvas,
li > object,
li > embed,
li > iframe,
dd > img,
dd > svg,
dd > video,
dd > canvas,
dd > object,
dd > embed,
dd > iframe {
	/* Don't allow media to break out of container bounds. */
	max-width: 100%;
}

/* Inline elements */

abbr[title]       { border-bottom: 1px dotted; }

b,
strong,
dfn               { font-weight: bold; }
em,
dfn               { font-style: italic; }

/* Match the l-height of <small> to the x-height of surrounding text. */
small             { font-size: 0.727272em; font-weight: 400; }
sup,
sub               { line-height: 0; font-size: 0.8333em; position: relative; vertical-align: baseline; }
sup               { top: -0.5em; }
sub               { bottom: -0.25em; }

q                 { quotes: none; }
q::before,
q::after           { content: ''; content: none; }

abbr              { letter-spacing: 0.1em; }
del               { opacity: 0.5; filter: alpha(opacity=50%); text-decoration: line-through; }

/* Tables */

table             {width: 100%;}
tfoot             { font-style: italic; }
caption           { background-color: inherit; }







dd                { margin: 0; }
ul,
ol,
dl,
blockquote        { margin-top: 1.25rem; }
li                { margin-bottom: 0;}

blockquote::before { font-size: 3em; line-height: 0.84em; margin-left: -0.6em; }

/* Inline elements */

sup,
sub               { font-size: 0.6em; line-height: 0; }

abbr              { letter-spacing: 0.1em; }

/* Tables */

th,
td,
caption           { padding: 4px 10px 4px 5px; }

/* Indentation */

ul,
ol                { margin-left: 0; }

blockquote        { margin-left: 2.6667em; }



/* Classes */

.left             { margin: 0.75em 1em 0.75em 0; }
.right            { margin: 0.75em 0 0.75em 1em; }
.note             { font-size: 0.9167em; line-height: 1.8181; font-style: italic; }

.tag-code::before { content: '<'; margin-right: -0.1em; }
.tag-code::after  { content: '>'; margin-left: -0.1em; }

.wrap             { white-space: normal; }
.no-wrap          { white-space: nowrap; text-overflow: ellipsis; }
.line-wrap        { white-space: pre; }

/* Modifiers */

.uppercase-text   { text-transform: uppercase !important; }
