.site_wrap {
	margin-bottom: 4.8em;
	max-width: 64em;
}

.site_wrap > .logo_thumb {
	top: 18px;
	left: -47px;
}

.logo_thumb {
	width: 240px;
	padding-top: 52px;
	-webkit-background-size: 240px 52px;
	   -moz-background-size: 240px 52px;
	    -ms-background-size: 240px 52px;
	     -o-background-size: 240px 52px;
	        background-size: 240px 52px;
}

.intro_wrap {
	margin-left: 25.75%;
}

code {
	font-family: inconsolata, courier, monospace;
	font-weight: normal;
}

/* .wrap */

.example {
	border-top: 1px solid #cccccc;
	position: relative;
	background-color: #EAEAEA;
}

.fixed_example {
	height: 9.6em;
}

.flex_example {
	height: auto;
}

.docs_index > dt,
.docs_index > dd {
	margin-bottom: 1.6em;
}

.docs_index > dd {
 	max-width: 827px;
 	position: relative;
}

.docs_index .tab,
.docs_index .col > .code {
	padding-top: 1.2em;
	padding-left: 0.75em;
	padding-bottom: 1.2em;
	padding-right: 0.75em;
}

.docs_index .col > code {
	display: block;
	font-size: 0.8em;
	line-height: 2em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	background-color: #EAEAEA;
}

.docs_index > dt > p {
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
	line-height: 1.3333em;
	margin-top: 0;
	width: 100%;
	margin-right: 0;
	margin-left: 0%;
	opacity: 0.75;
}

/* Chrome bug */

.button {
	text-overflow: clip;
}

.js_code {
	color: #D98026;
}

.js_code[id] {
	cursor: pointer;
}