
{% with 0 %}
<h2 class="x-4 1x @2-x-4 @2-4x x-start doctext-02 {{prefix|is:'.'|yesno:'dot-indent',''}}" locateable id="{{title|lowercase|replace:'\.$',''}}">{{title}}</h2>
{% end %}

{% with .|rest:1 %}
<section class="x-1 9x dense 9x-grid grid" style="row-gap: 0.9375rem; grid-auto-flow: column dense; align-content: start;">
    {% each %}
    <h4 class="@2-x-4 @2-2x x-start y-lastline doctext-05 {{prefix|is:'.'|yesno:'dot-indent',''}}">
        <a href="#{{id}}-description" title="Show HTML markup"><code>{{title}}</code></a>
    </h4>

    <div class="@2-x-1 @2-3x x-center y-lastline block" style="max-width: 300px; width: 100%;">{{example}}</div>
    
    <div class="@2-x-6 @2-2x x-stretch block">
        <div class="bottom-right-bubble right-bubble bubble" style="width: calc(300% + 2 * var(--column-gap)); max-width: 100%; min-width: 20rem; top: 0.75rem;" popable id="{{id}}-description">
            {{body}}
        </div>
    </div>
    {% end %}
</section>
{% end %}