
<header class="x-1 3x @1-x-3 @1-4x @2-x-4" id="range-control">
    {% context data|filter-by:type,element %}
    {% each %}
    <h2 class="doctext-02">&lt;{{name}}&gt;</h2>
    {{body}}
    {% end %}
    {% end %}
</header>

{# Use a form to isolate form element examples #}
<form class="x-1 3x @1-x-1 @1-2x @2-x-1 @2-3x x-stretch y-start">
    {% context data|get:'0' %}
    {{ examples|get:'0' }}
    {% end %}
    {# for testing form submission values #}
    <input hidden class="button" type="submit" />
</form>

<div class="x-1 3x @1-x-3 @1-2x @2-x-4 x-stretch y-start">
    {% context data|filter-by:type,attribute %}
    {% if length %}<h3 class="doctext-03">Attributes</h3>{% end %}
    {% each %}     
    {% include ../templates/entry.html %}
    {% end %}
    {% end %}

    {% context data|filter-by:type,slot %}
    {% if length %}<h3 class="doctext-03">Slots</h3>{% end %}
    {% each %}     
    {% include ../templates/entry.html %}
    {% end %}
    {% end %}

    {% context data|filter-by:type,property %}
    {% if length %}<h3 class="doctext-03">Properties</h3>{% end %}
    {% each %}     
    {% include ../templates/entry.html %}
    {% end %}
    {% end %}

    {% context data|filter-by:type,event %}
    {% if length %}<h3 class="doctext-03">Events</h3>{% end %}
    {% each %}     
    {% include ../templates/entry.html %}
    {% end %}
    {% end %}
</div>

<div class="x-1 3x @1-x-5 @1-2x @2-x-6 x-stretch y-start">
    {% context data|filter-by:type,part %}
    {% if length %}<h3 class="doctext-03">Parts</h3>{% end %}
    {% each %}     
    {% include ../templates/entry.html %}
    {% end %}
    {% end %}

    {% context data|filter-by:type,var %}
    {% if length %}<h3 class="doctext-03">Variables</h3>{% end %}
    {% each %}     
    {% include ../templates/entry.html %}
    {% end %}
    {% end %}
</div>
