
<style title="design overlay">
    {% with entries=.|entries %}
    {% each %}
    @media (width: {{ 0|multiply:0.0625 }}em) {
        body::after {
            content: '{{ 0 }}px';
            background-image: url('{{ 1 }}');
            background-size: 100% auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0.25;
            width: {{ 0|multiply:0.0625 }}rem;
        }
    }
    {% end %}
    {% end %}
</style>
