
@import '../elements/html.css';
@import '../elements/svg.css';
@import './control.css';

:host {
    /* Original soundio green */
    /*--value-color: #acb9b8;*/

    /* --grid-color */
    --grid-color: black;

    --track-background: #01181e;
    --track-radius: 0.375rem;
    --track-shadow: inset 0 0 90px hsla(192, 94%, 6%, 0.8),
        0 1px 1px hsla(192, 18%, 64%, 0.15),
        0 -1px 1px hsla(192, 60%, 8%, 0.4);

    --handle-stroke-width: 1px;
}

:host > svg {
    /* Compensate for label height */
    height: calc(100% - 24px);
    width: 100%;
}

.envelope-svg {
    background: var(--track-background);
    background-size: auto 100%;
    background-position: bottom left;
    box-shadow: var(--track-shadow);
    border-radius: var(--track-radius);
}

.control-point {
    fill: url(#handle-gradient);
    stroke: inherit;
    stroke-width: var(--handle-stroke-width);
}

.control-line {
    stroke: inherit;
    stroke-width: 3;
}

.thin-control-line {
    display: none;
    stroke-width: 1;
    stroke-dasharray: 1 2;
}

.control {
    stroke: #01181e;
}

.control:focus {
    stroke: hsl(165, 31%, 53%);
    outline: none;
}

.control:focus > .thin-control-line {
    display: block;
}


/* Gradient stops */

.stop-1 {
    stop-color: hsla(192,0%,96.8%,0.8);
}

.stop-2 {
    stop-color: hsla(192,0%,55%,0.8);
}

:host(:focus) .stop-1 { stop-color: hsl(192,0%,96.8%); }
:host(:focus) .stop-2 { stop-color: hsl(192,0%,55%); }
