
/** 
a
**/

a {
    /* Hit zones for buttons and links really must be a minimum of 32x32 (and 
           preferably >40x40 for finger touches to register reliably) */
    min-width: 2rem;
    min-height: 2rem;
}

a[draggable="false"] {
    /* Firefox changes to pointer text selection, strangely. */
    cursor: pointer;
}


/** 
.a
**/

.a {
    text-decoration: none;
}

.a:hover,
.a:focus {
    text-decoration: underline;
}
