/* Literal template "/Users/stephband/Sites/bolt/docs/atoms.css.literal" */


/**
State
**/

/**
.shown

Forces `display: none` below a given breakpoint. This class is only available
with breakpoint prefixes (`@1-`, `@2-`, ...).

```html
<a class="@1-shown" href="...">Link</a>
```
**/

/**
.hidden

Forces `display: none` above a given breakpoint. This class is available
with breakpoint prefixes (`@1-`, `@2-`, ...).

```html
<a class="@1-hidden" href="...">Link</a>
```
**/

/**
Columns.
**/

/**
.2-columns

```html
<div class="2-columns columns" style="--x-gap: 0.9375rem; font-size: 0.875rem;">
    Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
</div>
```
**/

/**
.3-columns

```html
<div class="3-columns columns" style="--x-gap: 0.9375rem; font-size: 0.875rem;">
    Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
</div>
```
**/

/**
.4-columns … .12-columns

```html
<div class="4-columns columns" style="--x-gap: 0.9375rem; font-size: 0.875rem;">
    Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
</div>
```
**/


/**
Grid.
**/

/**
.grid

```html
<div class="grid" style="--x-gap: 0.9375rem; --y-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button">&nbsp;</div>
</div>
```

Creates a grid with horizontal flow and equal width columns.
**/

/**
.2x-grid

```html
<div class="2x-grid grid" style="--x-gap: 0.9375rem; --y-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
</div>
```

Creates a grid with 2 equal width columns.
**/

/**
.3x-grid

```html
<div class="3x-grid grid" style="--x-gap: 0.9375rem; --y-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
</div>
```

Creates a grid with 3 equal width columns.
**/

/**
.4x-grid … .12x-grid

```html
<div class="4x-grid grid" style="--x-gap: 0.9375rem; --y-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
</div>
```
**/

/**
.x1 … .x12,
.2x … .12x,
.x-start,
.x-center,
.x-end,
.x-stretch,
.x-bleed,
.x-flood

```html
<div class="grid" style="--x-gap: 0.9375rem; --y-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button x1">x1</div>
    <div class="button x2">x2</div>
    <div class="button x3">x3</div>
    <div class="button x1 2x">2x</div>
    <div class="button x1 3x">3x</div>
    <div class="button x1 x-start y4">x-start</div>
    <div class="button x2 x-center y4">x-center</div>
    <div class="button x3 x-end y4">x-end</div>
    <div class="button x1 x-stretch y5">x-stretch</div>
    <div class="button x2 x-bleed y5">x-bleed</div>
    <div class="button x3 x-flood y5">x-flood</div>
</div>
```

Note that `.x-bleed`, which stretches an element half the way across the grid
gap, and `.x-flood`, which stretches an element all the way across the grid gap,
depends on `column-gap` having been set via the custom property `--x-gap`.
**/

/**
.y1 … .y18,
.2y … .12y,
.y-start,
.y-center,
.y-end,
.y-stretch,
.y-bleed,
.y-flood,
.y-baseline,
.y-lastline

```html
<div class="grid" style="--x-gap: 0.9375rem; --y-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button x1 y1">y1</div>
    <div class="button x1 y2">y2</div>
    <div class="button x1 y3">y3</div>
    <div class="button x2 y1 2y">2y</div>
    <div class="button x3 y1 3y">3y</div>
    <div class="button x1 y4 y-start">y-start</div>
    <div class="button x1 y5 y-center">y-center</div>
    <div class="button x1 y6 y-end">y-end</div>
    <div class="button x2 y4 y-stretch">y-stretch</div>
    <div class="button x2 y5 y-bleed">y-bleed</div>
    <div class="button x2 y6 y-flood">y-flood</div>
    <div class="button x3 y4 y-baseline">y-baseline</div>
    <div class="button x3 y5 y-lastline">y-lastline</div>
</div>
```
**/

/**
--x-gap
Define the horizontal grid gap (with units).
**/

/**
--y-gap
Define the vertical grid gap (with units).
**/


/* .atom, 0em (0px) */

    .hidden         { display: none !important; }
/**
.fixed
**/

.fixed {
	position: fixed !important;
}


/**
.sticky
**/

.sticky {
    position: -webkit-sticky !important;
	position: sticky !important;
	top: 0;
}

.columns {
    --x-gap: 1.5rem;
}

.columns {
    display: block !important;
    column-gap: var(--x-gap);
    
}


.\31 -columns  { columns: 1 !important; }
.\32 -columns  { columns: 2 !important; }
.\33 -columns  { columns: 3 !important; }


.flex           { display: flex !important; }
.flex > li      { display: block; }

.grid {
    --x-gap: 1.5rem;
    --y-gap: 1.5rem;
}

.grid {
    display: grid !important;
    /* Horizontal layout */
    grid-auto-flow: row;
    /* Create equal columns by default. */
    grid-auto-columns: minmax(0, 1fr);
    column-gap: var(--x-gap, 0);
    row-gap:    var(--y-gap, 0);
    
    
}

a.grid,
a.grid:hover,
a.grid:focus {
    text-decoration: none;
}

.grid[hidden] {
    /* Override display grid !important declaration with hidden attribute */
    display: none !important;
}

.grid > li {
    /* Stop list items from displaying as list-item */
    display: block;
}

.dense-grid {
    grid-auto-flow: dense;
}

.y-start-grid {
    align-content: start;
}

.y-center-grid {
    align-content: center;
}

.x-start-grid {
    justify-content: start;
}

.x-center-grid {
    justify-content: center;
}

.x-end-grid {
    justify-content: end;
}

/* x */

.\31 x-grid  { grid-template-columns: repeat(1,  minmax(0, 1fr)); }
.\32 x-grid  { grid-template-columns: repeat(2,  minmax(0, 1fr)); }
.\33 x-grid  { grid-template-columns: repeat(3,  minmax(0, 1fr)); }

.x1 { grid-column-start: 1 !important; }
.x2 { grid-column-start: 2 !important; }
.x3 { grid-column-start: 3 !important; }

.\31 x { grid-column-end: span 1 !important; }
.\32 x { grid-column-end: span 2 !important; }
.\33 x { grid-column-end: span 3 !important; }

.x-end {
    justify-self: end !important;
    margin-left: auto;
    margin-right: 0;
}

.x-start {
    justify-self: start !important;
    margin-left: 0;
    margin-right: auto;
}

.x-center {
    justify-self: center !important;
    margin-left: auto;
    margin-right: auto;
}

.x-stretch {
    justify-self: stretch !important;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
}

.x-unbleedl {
    margin-left:  calc(0.5 * var(--x-gap));
    margin-right: 0;
    max-width:    calc(100% - var(0.5 * --x-gap));
    width:        calc(100% - var(0.5 * --x-gap));
}

.x-unbleedr {
    margin-left:  0;
    margin-right: calc(0.5 * var(--x-gap));
    max-width:    calc(100% - var(0.5 * --x-gap));
    width:        calc(100% - var(0.5 * --x-gap));
}

.x-bleedl {
    justify-self: stretch !important;
    margin-left:  calc(var(--x-gap) / -2);
    margin-right: 0;
    max-width:    calc(100% + var(0.5 * --x-gap));
    width:        calc(100% + var(0.5 * --x-gap));
}

.x-bleedr {
    justify-self: stretch !important;
    margin-left:  0;
    margin-right: calc(var(--x-gap) / -2);
    max-width:    calc(100% + var(0.5 * --x-gap));
    width:        calc(100% + var(0.5 * --x-gap));
}

.x-bleed {
    justify-self: stretch !important;
    margin-left:  calc(var(--x-gap) / -2);
    margin-right: calc(var(--x-gap) / -2);
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.x-floodl {
    justify-self: stretch !important;
    margin-left:  calc(-1 * var(--x-gap));
    margin-right: 0;
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.x-floodr {
    justify-self: stretch !important;
    margin-left:  0;
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.x-flood {
    justify-self: stretch !important;
    margin-left:  calc(-1 * var(--x-gap));
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + 2 * var(--x-gap));
    width:        calc(100% + 2 * var(--x-gap));
}

.x-bleedl.x-floodr {
    margin-left:  calc(-0.5 * var(--x-gap));
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + 1.5 * var(--x-gap));
    width:        calc(100% + 1.5 * var(--x-gap));
}

/* y */

.\31 y-grid  { grid-template-rows: repeat(1,  minmax(0, 1fr)); }
.\32 y-grid  { grid-template-rows: repeat(2,  minmax(0, 1fr)); }
.\33 y-grid  { grid-template-rows: repeat(3,  minmax(0, 1fr)); }
.\34 y-grid  { grid-template-rows: repeat(4,  minmax(0, 1fr)); }
.\35 y-grid  { grid-template-rows: repeat(5,  minmax(0, 1fr)); }
.\36 y-grid  { grid-template-rows: repeat(6,  minmax(0, 1fr)); }

.y1 { grid-row-start: 1 !important; }
.y2 { grid-row-start: 2 !important; }
.y3 { grid-row-start: 3 !important; }
.y4 { grid-row-start: 4 !important; }
.y5 { grid-row-start: 5 !important; }
.y6 { grid-row-start: 6 !important; }

.\31 y { grid-row-end: span 1 !important; }
.\32 y { grid-row-end: span 2 !important; }
.\33 y { grid-row-end: span 3 !important; }
.\34 y { grid-row-end: span 4 !important; }
.\35 y { grid-row-end: span 5 !important; }
.\36 y { grid-row-end: span 6 !important; }

.y-end {
    align-self:    end !important;
    margin-top:    auto;
    margin-bottom: 0;
}

.y-start {
    align-self:    start !important;
    margin-top:    0;
    margin-bottom: auto;
}

.y-center {
    align-self:    center !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.y-baseline  {
    align-self:    baseline !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.y-lastline  {
    align-self:    last baseline !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.y-stretch {
    justify-self:  stretch !important;
    margin-top:    0;
    margin-bottom: 0;
    max-height:    100%;
    height:        100%;
}

.y-bleed {
    justify-self:  stretch !important;
    margin-top:    calc(var(--y-gap) / -2);
    margin-bottom: calc(var(--y-gap) / -2);
    max-height:    calc(100% + var(--y-gap));
    height:        calc(100% + var(--y-gap));
}

.y-flood {
    justify-self:  stretch !important;
    margin-top:    calc(-1 * var(--y-gap));
    margin-bottom: calc(-1 * var(--y-gap));
    max-height:    calc(100% + 2 * var(--y-gap));
    height:        calc(100% + 2 * var(--y-gap));
}

.inline         { display: inline-block !important; }

.normal-text    { text-transform: none !important; }
.lowercase-text { text-transform: lowercase !important; }
.uppercase-text { text-transform: uppercase !important; }

.thin-text      { font-weight: 200 !important; }
.light-text     { font-weight: 300 !important; }
.regular-text   { font-weight: 400 !important; }
.book-text      { font-weight: 450 !important; }
.medium-text    { font-weight: 500 !important; }
.semi-text      { font-weight: 600 !important; }
.bold-text      { font-weight: 700 !important; }
.black-text     { font-weight: 800 !important; }

.no-wrap {
    white-space: nowrap;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}
.left           { float: left !important; clear: left; margin-right: calc(0.5 * var(--x-gap)); margin-bottom: calc(0.5 * var(--y-gap)); }
.right          { float: right !important; clear: right; margin-left: calc(0.5 * var(--x-gap)); margin-bottom: calc(0.5 * var(--y-gap)); }
* + .left       { margin-top: calc(0.5 * var(--y-gap)); }
* + .right      { margin-top: calc(0.5 * var(--y-gap)); }

.top-align      { vertical-align: top !important; }
.bottom-align   { vertical-align: bottom !important; }
.middle-align   { vertical-align: middle !important; }
.baseline-align { vertical-align: baseline !important; }
.left-align     { text-align: left !important; }
.right-align    { text-align: right !important; }
.center-align   { text-align: center !important; }
.justify-align  { text-align: justify !important; }
.size-18  { --size: 1.125rem; }
.size-24  { --size: 1.5rem; }
.size-30  { --size: 1.875rem; }
.size-48  { --size: 3rem; }
.size-60  { --size: 3.75rem; }

.margin-0         { margin-top: 0      !important; }
.margin-8         { margin-top: 0.5rem !important; }
.margin-16        { margin-top: 1rem   !important; }
.margin-24        { margin-top: 1.5rem !important; }
.margin-32        { margin-top: 2rem   !important; }
.margin-40        { margin-top: 2.5rem !important; }
.margin-48        { margin-top: 3rem   !important; }
.margin-64        { margin-top: 4rem   !important; }
.margin-80        { margin-top: 5rem   !important; }
.margin-96        { margin-top: 6rem   !important; }


/* .\@1-atom, 50em (800px) */

@media screen and (max-width: 49.9375em) {
    .\@1-shown          { display: none !important; }
}

@media (min-width: 50em) {
    .\@1-hidden         { display: none !important; }
/**
.fixed
**/

.\@1-fixed {
	position: fixed !important;
}


/**
.sticky
**/

.\@1-sticky {
    position: -webkit-sticky !important;
	position: sticky !important;
	top: 0;
}

.columns {
    --x-gap: 1.5rem;
}

.\@1-columns {
    display: block !important;
    column-gap: var(--x-gap);
    --x-gap: 1.5rem;
}


.\@1-1-columns  { columns: 1 !important; }
.\@1-2-columns  { columns: 2 !important; }
.\@1-3-columns  { columns: 3 !important; }
.\@1-4-columns  { columns: 4 !important; }
.\@1-5-columns  { columns: 5 !important; }
.\@1-6-columns  { columns: 6 !important; }


.\@1-flex           { display: flex !important; }
.\@1-flex > li      { display: block; }

.grid {
    --x-gap: 1.5rem;
    --y-gap: 1.5rem;
}

.\@1-grid {
    display: grid !important;
    /* Horizontal layout */
    grid-auto-flow: row;
    /* Create equal columns by default. */
    grid-auto-columns: minmax(0, 1fr);
    column-gap: var(--x-gap, 0);
    row-gap:    var(--y-gap, 0);
    --x-gap: 1.5rem;
    --y-gap: 1.5rem;
}

a.\@1-grid,
a.\@1-grid:hover,
a.\@1-grid:focus {
    text-decoration: none;
}

.\@1-grid[hidden] {
    /* Override display grid !important declaration with hidden attribute */
    display: none !important;
}

.\@1-grid > li {
    /* Stop list items from displaying as list-item */
    display: block;
}

.\@1-dense-grid {
    grid-auto-flow: dense;
}

.\@1-y-start-grid {
    align-content: start;
}

.\@1-y-center-grid {
    align-content: center;
}

.\@1-x-start-grid {
    justify-content: start;
}

.\@1-x-center-grid {
    justify-content: center;
}

.\@1-x-end-grid {
    justify-content: end;
}

/* x */

.\@1-1x-grid  { grid-template-columns: repeat(1,  minmax(0, 1fr)); }
.\@1-2x-grid  { grid-template-columns: repeat(2,  minmax(0, 1fr)); }
.\@1-3x-grid  { grid-template-columns: repeat(3,  minmax(0, 1fr)); }
.\@1-4x-grid  { grid-template-columns: repeat(4,  minmax(0, 1fr)); }
.\@1-5x-grid  { grid-template-columns: repeat(5,  minmax(0, 1fr)); }
.\@1-6x-grid  { grid-template-columns: repeat(6,  minmax(0, 1fr)); }

.\@1-x1 { grid-column-start: 1 !important; }
.\@1-x2 { grid-column-start: 2 !important; }
.\@1-x3 { grid-column-start: 3 !important; }
.\@1-x4 { grid-column-start: 4 !important; }
.\@1-x5 { grid-column-start: 5 !important; }
.\@1-x6 { grid-column-start: 6 !important; }

.\@1-1x { grid-column-end: span 1 !important; }
.\@1-2x { grid-column-end: span 2 !important; }
.\@1-3x { grid-column-end: span 3 !important; }
.\@1-4x { grid-column-end: span 4 !important; }
.\@1-5x { grid-column-end: span 5 !important; }
.\@1-6x { grid-column-end: span 6 !important; }

.\@1-x-end {
    justify-self: end !important;
    margin-left: auto;
    margin-right: 0;
}

.\@1-x-start {
    justify-self: start !important;
    margin-left: 0;
    margin-right: auto;
}

.\@1-x-center {
    justify-self: center !important;
    margin-left: auto;
    margin-right: auto;
}

.\@1-x-stretch {
    justify-self: stretch !important;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
}

.\@1-x-unbleedl {
    margin-left:  calc(0.5 * var(--x-gap));
    margin-right: 0;
    max-width:    calc(100% - var(0.5 * --x-gap));
    width:        calc(100% - var(0.5 * --x-gap));
}

.\@1-x-unbleedr {
    margin-left:  0;
    margin-right: calc(0.5 * var(--x-gap));
    max-width:    calc(100% - var(0.5 * --x-gap));
    width:        calc(100% - var(0.5 * --x-gap));
}

.\@1-x-bleedl {
    justify-self: stretch !important;
    margin-left:  calc(var(--x-gap) / -2);
    margin-right: 0;
    max-width:    calc(100% + var(0.5 * --x-gap));
    width:        calc(100% + var(0.5 * --x-gap));
}

.\@1-x-bleedr {
    justify-self: stretch !important;
    margin-left:  0;
    margin-right: calc(var(--x-gap) / -2);
    max-width:    calc(100% + var(0.5 * --x-gap));
    width:        calc(100% + var(0.5 * --x-gap));
}

.\@1-x-bleed {
    justify-self: stretch !important;
    margin-left:  calc(var(--x-gap) / -2);
    margin-right: calc(var(--x-gap) / -2);
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.\@1-x-floodl {
    justify-self: stretch !important;
    margin-left:  calc(-1 * var(--x-gap));
    margin-right: 0;
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.\@1-x-floodr {
    justify-self: stretch !important;
    margin-left:  0;
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.\@1-x-flood {
    justify-self: stretch !important;
    margin-left:  calc(-1 * var(--x-gap));
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + 2 * var(--x-gap));
    width:        calc(100% + 2 * var(--x-gap));
}

.\@1-x-bleedl.\@1-x-floodr {
    margin-left:  calc(-0.5 * var(--x-gap));
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + 1.5 * var(--x-gap));
    width:        calc(100% + 1.5 * var(--x-gap));
}

/* y */

.\@1-1y-grid  { grid-template-rows: repeat(1,  minmax(0, 1fr)); }
.\@1-2y-grid  { grid-template-rows: repeat(2,  minmax(0, 1fr)); }
.\@1-3y-grid  { grid-template-rows: repeat(3,  minmax(0, 1fr)); }
.\@1-4y-grid  { grid-template-rows: repeat(4,  minmax(0, 1fr)); }
.\@1-5y-grid  { grid-template-rows: repeat(5,  minmax(0, 1fr)); }
.\@1-6y-grid  { grid-template-rows: repeat(6,  minmax(0, 1fr)); }

.\@1-y1 { grid-row-start: 1 !important; }
.\@1-y2 { grid-row-start: 2 !important; }
.\@1-y3 { grid-row-start: 3 !important; }
.\@1-y4 { grid-row-start: 4 !important; }
.\@1-y5 { grid-row-start: 5 !important; }
.\@1-y6 { grid-row-start: 6 !important; }

.\@1-1y { grid-row-end: span 1 !important; }
.\@1-2y { grid-row-end: span 2 !important; }
.\@1-3y { grid-row-end: span 3 !important; }
.\@1-4y { grid-row-end: span 4 !important; }
.\@1-5y { grid-row-end: span 5 !important; }
.\@1-6y { grid-row-end: span 6 !important; }

.\@1-y-end {
    align-self:    end !important;
    margin-top:    auto;
    margin-bottom: 0;
}

.\@1-y-start {
    align-self:    start !important;
    margin-top:    0;
    margin-bottom: auto;
}

.\@1-y-center {
    align-self:    center !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.\@1-y-baseline  {
    align-self:    baseline !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.\@1-y-lastline  {
    align-self:    last baseline !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.\@1-y-stretch {
    justify-self:  stretch !important;
    margin-top:    0;
    margin-bottom: 0;
    max-height:    100%;
    height:        100%;
}

.\@1-y-bleed {
    justify-self:  stretch !important;
    margin-top:    calc(var(--y-gap) / -2);
    margin-bottom: calc(var(--y-gap) / -2);
    max-height:    calc(100% + var(--y-gap));
    height:        calc(100% + var(--y-gap));
}

.\@1-y-flood {
    justify-self:  stretch !important;
    margin-top:    calc(-1 * var(--y-gap));
    margin-bottom: calc(-1 * var(--y-gap));
    max-height:    calc(100% + 2 * var(--y-gap));
    height:        calc(100% + 2 * var(--y-gap));
}

.\@1-inline         { display: inline-block !important; }

.\@1-normal-text    { text-transform: none !important; }
.\@1-lowercase-text { text-transform: lowercase !important; }
.\@1-uppercase-text { text-transform: uppercase !important; }

.\@1-thin-text      { font-weight: 200 !important; }
.\@1-light-text     { font-weight: 300 !important; }
.\@1-regular-text   { font-weight: 400 !important; }
.\@1-book-text      { font-weight: 450 !important; }
.\@1-medium-text    { font-weight: 500 !important; }
.\@1-semi-text      { font-weight: 600 !important; }
.\@1-bold-text      { font-weight: 700 !important; }
.\@1-black-text     { font-weight: 800 !important; }

.\@1-no-wrap {
    white-space: nowrap;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}
.\@1-left           { float: left !important; clear: left; margin-right: calc(0.5 * var(--x-gap)); margin-bottom: calc(0.5 * var(--y-gap)); }
.\@1-right          { float: right !important; clear: right; margin-left: calc(0.5 * var(--x-gap)); margin-bottom: calc(0.5 * var(--y-gap)); }
* + .\@1-left       { margin-top: calc(0.5 * var(--y-gap)); }
* + .\@1-right      { margin-top: calc(0.5 * var(--y-gap)); }

.\@1-top-align      { vertical-align: top !important; }
.\@1-bottom-align   { vertical-align: bottom !important; }
.\@1-middle-align   { vertical-align: middle !important; }
.\@1-baseline-align { vertical-align: baseline !important; }
.\@1-left-align     { text-align: left !important; }
.\@1-right-align    { text-align: right !important; }
.\@1-center-align   { text-align: center !important; }
.\@1-justify-align  { text-align: justify !important; }
.\@1-size-18  { --size: 1.125rem; }
.\@1-size-24  { --size: 1.5rem; }
.\@1-size-30  { --size: 1.875rem; }
.\@1-size-48  { --size: 3rem; }
.\@1-size-60  { --size: 3.75rem; }

.\@1-margin-0         { margin-top: 0      !important; }
.\@1-margin-8         { margin-top: 0.5rem !important; }
.\@1-margin-16        { margin-top: 1rem   !important; }
.\@1-margin-24        { margin-top: 1.5rem !important; }
.\@1-margin-32        { margin-top: 2rem   !important; }
.\@1-margin-40        { margin-top: 2.5rem !important; }
.\@1-margin-48        { margin-top: 3rem   !important; }
.\@1-margin-64        { margin-top: 4rem   !important; }
.\@1-margin-80        { margin-top: 5rem   !important; }
.\@1-margin-96        { margin-top: 6rem   !important; }
}


/* .\@2-atom, 70em (1120px) */

@media screen and (max-width: 69.9375em) {
    .\@2-shown          { display: none !important; }
}

@media (min-width: 70em) {
    .\@2-hidden         { display: none !important; }
/**
.fixed
**/

.\@2-fixed {
	position: fixed !important;
}


/**
.sticky
**/

.\@2-sticky {
    position: -webkit-sticky !important;
	position: sticky !important;
	top: 0;
}

.columns {
    --x-gap: 2.8125rem;
}

.\@2-columns {
    display: block !important;
    column-gap: var(--x-gap);
    --x-gap: 2.8125rem;
}


.\@2-1-columns  { columns: 1 !important; }
.\@2-2-columns  { columns: 2 !important; }
.\@2-3-columns  { columns: 3 !important; }
.\@2-4-columns  { columns: 4 !important; }
.\@2-5-columns  { columns: 5 !important; }
.\@2-6-columns  { columns: 6 !important; }
.\@2-7-columns  { columns: 7 !important; }
.\@2-8-columns  { columns: 8 !important; }
.\@2-9-columns  { columns: 9 !important; }


.\@2-flex           { display: flex !important; }
.\@2-flex > li      { display: block; }

.grid {
    --x-gap: 2.8125rem;
    --y-gap: 1.875rem;
}

.\@2-grid {
    display: grid !important;
    /* Horizontal layout */
    grid-auto-flow: row;
    /* Create equal columns by default. */
    grid-auto-columns: minmax(0, 1fr);
    column-gap: var(--x-gap, 0);
    row-gap:    var(--y-gap, 0);
    --x-gap: 2.8125rem;
    --y-gap: 1.875rem;
}

a.\@2-grid,
a.\@2-grid:hover,
a.\@2-grid:focus {
    text-decoration: none;
}

.\@2-grid[hidden] {
    /* Override display grid !important declaration with hidden attribute */
    display: none !important;
}

.\@2-grid > li {
    /* Stop list items from displaying as list-item */
    display: block;
}

.\@2-dense-grid {
    grid-auto-flow: dense;
}

.\@2-y-start-grid {
    align-content: start;
}

.\@2-y-center-grid {
    align-content: center;
}

.\@2-x-start-grid {
    justify-content: start;
}

.\@2-x-center-grid {
    justify-content: center;
}

.\@2-x-end-grid {
    justify-content: end;
}

/* x */

.\@2-1x-grid  { grid-template-columns: repeat(1,  minmax(0, 1fr)); }
.\@2-2x-grid  { grid-template-columns: repeat(2,  minmax(0, 1fr)); }
.\@2-3x-grid  { grid-template-columns: repeat(3,  minmax(0, 1fr)); }
.\@2-4x-grid  { grid-template-columns: repeat(4,  minmax(0, 1fr)); }
.\@2-5x-grid  { grid-template-columns: repeat(5,  minmax(0, 1fr)); }
.\@2-6x-grid  { grid-template-columns: repeat(6,  minmax(0, 1fr)); }
.\@2-7x-grid  { grid-template-columns: repeat(7,  minmax(0, 1fr)); }
.\@2-8x-grid  { grid-template-columns: repeat(8,  minmax(0, 1fr)); }
.\@2-9x-grid  { grid-template-columns: repeat(9,  minmax(0, 1fr)); }

.\@2-x1 { grid-column-start: 1 !important; }
.\@2-x2 { grid-column-start: 2 !important; }
.\@2-x3 { grid-column-start: 3 !important; }
.\@2-x4 { grid-column-start: 4 !important; }
.\@2-x5 { grid-column-start: 5 !important; }
.\@2-x6 { grid-column-start: 6 !important; }
.\@2-x7 { grid-column-start: 7 !important; }
.\@2-x8 { grid-column-start: 8 !important; }
.\@2-x9 { grid-column-start: 9 !important; }

.\@2-1x { grid-column-end: span 1 !important; }
.\@2-2x { grid-column-end: span 2 !important; }
.\@2-3x { grid-column-end: span 3 !important; }
.\@2-4x { grid-column-end: span 4 !important; }
.\@2-5x { grid-column-end: span 5 !important; }
.\@2-6x { grid-column-end: span 6 !important; }
.\@2-7x { grid-column-end: span 7 !important; }
.\@2-8x { grid-column-end: span 8 !important; }
.\@2-9x { grid-column-end: span 9 !important; }

.\@2-x-end {
    justify-self: end !important;
    margin-left: auto;
    margin-right: 0;
}

.\@2-x-start {
    justify-self: start !important;
    margin-left: 0;
    margin-right: auto;
}

.\@2-x-center {
    justify-self: center !important;
    margin-left: auto;
    margin-right: auto;
}

.\@2-x-stretch {
    justify-self: stretch !important;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
}

.\@2-x-unbleedl {
    margin-left:  calc(0.5 * var(--x-gap));
    margin-right: 0;
    max-width:    calc(100% - var(0.5 * --x-gap));
    width:        calc(100% - var(0.5 * --x-gap));
}

.\@2-x-unbleedr {
    margin-left:  0;
    margin-right: calc(0.5 * var(--x-gap));
    max-width:    calc(100% - var(0.5 * --x-gap));
    width:        calc(100% - var(0.5 * --x-gap));
}

.\@2-x-bleedl {
    justify-self: stretch !important;
    margin-left:  calc(var(--x-gap) / -2);
    margin-right: 0;
    max-width:    calc(100% + var(0.5 * --x-gap));
    width:        calc(100% + var(0.5 * --x-gap));
}

.\@2-x-bleedr {
    justify-self: stretch !important;
    margin-left:  0;
    margin-right: calc(var(--x-gap) / -2);
    max-width:    calc(100% + var(0.5 * --x-gap));
    width:        calc(100% + var(0.5 * --x-gap));
}

.\@2-x-bleed {
    justify-self: stretch !important;
    margin-left:  calc(var(--x-gap) / -2);
    margin-right: calc(var(--x-gap) / -2);
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.\@2-x-floodl {
    justify-self: stretch !important;
    margin-left:  calc(-1 * var(--x-gap));
    margin-right: 0;
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.\@2-x-floodr {
    justify-self: stretch !important;
    margin-left:  0;
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.\@2-x-flood {
    justify-self: stretch !important;
    margin-left:  calc(-1 * var(--x-gap));
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + 2 * var(--x-gap));
    width:        calc(100% + 2 * var(--x-gap));
}

.\@2-x-bleedl.\@2-x-floodr {
    margin-left:  calc(-0.5 * var(--x-gap));
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + 1.5 * var(--x-gap));
    width:        calc(100% + 1.5 * var(--x-gap));
}

/* y */

.\@2-1y-grid  { grid-template-rows: repeat(1,  minmax(0, 1fr)); }
.\@2-2y-grid  { grid-template-rows: repeat(2,  minmax(0, 1fr)); }
.\@2-3y-grid  { grid-template-rows: repeat(3,  minmax(0, 1fr)); }
.\@2-4y-grid  { grid-template-rows: repeat(4,  minmax(0, 1fr)); }
.\@2-5y-grid  { grid-template-rows: repeat(5,  minmax(0, 1fr)); }
.\@2-6y-grid  { grid-template-rows: repeat(6,  minmax(0, 1fr)); }

.\@2-y1 { grid-row-start: 1 !important; }
.\@2-y2 { grid-row-start: 2 !important; }
.\@2-y3 { grid-row-start: 3 !important; }
.\@2-y4 { grid-row-start: 4 !important; }
.\@2-y5 { grid-row-start: 5 !important; }
.\@2-y6 { grid-row-start: 6 !important; }

.\@2-1y { grid-row-end: span 1 !important; }
.\@2-2y { grid-row-end: span 2 !important; }
.\@2-3y { grid-row-end: span 3 !important; }
.\@2-4y { grid-row-end: span 4 !important; }
.\@2-5y { grid-row-end: span 5 !important; }
.\@2-6y { grid-row-end: span 6 !important; }

.\@2-y-end {
    align-self:    end !important;
    margin-top:    auto;
    margin-bottom: 0;
}

.\@2-y-start {
    align-self:    start !important;
    margin-top:    0;
    margin-bottom: auto;
}

.\@2-y-center {
    align-self:    center !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.\@2-y-baseline  {
    align-self:    baseline !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.\@2-y-lastline  {
    align-self:    last baseline !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.\@2-y-stretch {
    justify-self:  stretch !important;
    margin-top:    0;
    margin-bottom: 0;
    max-height:    100%;
    height:        100%;
}

.\@2-y-bleed {
    justify-self:  stretch !important;
    margin-top:    calc(var(--y-gap) / -2);
    margin-bottom: calc(var(--y-gap) / -2);
    max-height:    calc(100% + var(--y-gap));
    height:        calc(100% + var(--y-gap));
}

.\@2-y-flood {
    justify-self:  stretch !important;
    margin-top:    calc(-1 * var(--y-gap));
    margin-bottom: calc(-1 * var(--y-gap));
    max-height:    calc(100% + 2 * var(--y-gap));
    height:        calc(100% + 2 * var(--y-gap));
}

.\@2-inline         { display: inline-block !important; }

.\@2-normal-text    { text-transform: none !important; }
.\@2-lowercase-text { text-transform: lowercase !important; }
.\@2-uppercase-text { text-transform: uppercase !important; }

.\@2-thin-text      { font-weight: 200 !important; }
.\@2-light-text     { font-weight: 300 !important; }
.\@2-regular-text   { font-weight: 400 !important; }
.\@2-book-text      { font-weight: 450 !important; }
.\@2-medium-text    { font-weight: 500 !important; }
.\@2-semi-text      { font-weight: 600 !important; }
.\@2-bold-text      { font-weight: 700 !important; }
.\@2-black-text     { font-weight: 800 !important; }

.\@2-no-wrap {
    white-space: nowrap;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}
.\@2-left           { float: left !important; clear: left; margin-right: calc(0.5 * var(--x-gap)); margin-bottom: calc(0.5 * var(--y-gap)); }
.\@2-right          { float: right !important; clear: right; margin-left: calc(0.5 * var(--x-gap)); margin-bottom: calc(0.5 * var(--y-gap)); }
* + .\@2-left       { margin-top: calc(0.5 * var(--y-gap)); }
* + .\@2-right      { margin-top: calc(0.5 * var(--y-gap)); }

.\@2-top-align      { vertical-align: top !important; }
.\@2-bottom-align   { vertical-align: bottom !important; }
.\@2-middle-align   { vertical-align: middle !important; }
.\@2-baseline-align { vertical-align: baseline !important; }
.\@2-left-align     { text-align: left !important; }
.\@2-right-align    { text-align: right !important; }
.\@2-center-align   { text-align: center !important; }
.\@2-justify-align  { text-align: justify !important; }
.\@2-size-18  { --size: 1.125rem; }
.\@2-size-24  { --size: 1.5rem; }
.\@2-size-30  { --size: 1.875rem; }
.\@2-size-48  { --size: 3rem; }
.\@2-size-60  { --size: 3.75rem; }

.\@2-margin-0         { margin-top: 0      !important; }
.\@2-margin-8         { margin-top: 0.5rem !important; }
.\@2-margin-16        { margin-top: 1rem   !important; }
.\@2-margin-24        { margin-top: 1.5rem !important; }
.\@2-margin-32        { margin-top: 2rem   !important; }
.\@2-margin-40        { margin-top: 2.5rem !important; }
.\@2-margin-48        { margin-top: 3rem   !important; }
.\@2-margin-64        { margin-top: 4rem   !important; }
.\@2-margin-80        { margin-top: 5rem   !important; }
.\@2-margin-96        { margin-top: 6rem   !important; }
}


/* .\@3-atom, 90em (1440px) */

@media screen and (max-width: 89.9375em) {
    .\@3-shown          { display: none !important; }
}

@media (min-width: 90em) {
    .\@3-hidden         { display: none !important; }
/**
.fixed
**/

.\@3-fixed {
	position: fixed !important;
}


/**
.sticky
**/

.\@3-sticky {
    position: -webkit-sticky !important;
	position: sticky !important;
	top: 0;
}

.columns {
    --x-gap: 3.75rem;
}

.\@3-columns {
    display: block !important;
    column-gap: var(--x-gap);
    --x-gap: 3.75rem;
}


.\@3-1-columns  { columns: 1 !important; }
.\@3-2-columns  { columns: 2 !important; }
.\@3-3-columns  { columns: 3 !important; }
.\@3-4-columns  { columns: 4 !important; }
.\@3-5-columns  { columns: 5 !important; }
.\@3-6-columns  { columns: 6 !important; }
.\@3-7-columns  { columns: 7 !important; }
.\@3-8-columns  { columns: 8 !important; }
.\@3-9-columns  { columns: 9 !important; }


.\@3-flex           { display: flex !important; }
.\@3-flex > li      { display: block; }

.grid {
    --x-gap: 3.75rem;
    --y-gap: 1.875rem;
}

.\@3-grid {
    display: grid !important;
    /* Horizontal layout */
    grid-auto-flow: row;
    /* Create equal columns by default. */
    grid-auto-columns: minmax(0, 1fr);
    column-gap: var(--x-gap, 0);
    row-gap:    var(--y-gap, 0);
    --x-gap: 3.75rem;
    --y-gap: 1.875rem;
}

a.\@3-grid,
a.\@3-grid:hover,
a.\@3-grid:focus {
    text-decoration: none;
}

.\@3-grid[hidden] {
    /* Override display grid !important declaration with hidden attribute */
    display: none !important;
}

.\@3-grid > li {
    /* Stop list items from displaying as list-item */
    display: block;
}

.\@3-dense-grid {
    grid-auto-flow: dense;
}

.\@3-y-start-grid {
    align-content: start;
}

.\@3-y-center-grid {
    align-content: center;
}

.\@3-x-start-grid {
    justify-content: start;
}

.\@3-x-center-grid {
    justify-content: center;
}

.\@3-x-end-grid {
    justify-content: end;
}

/* x */

.\@3-1x-grid  { grid-template-columns: repeat(1,  minmax(0, 1fr)); }
.\@3-2x-grid  { grid-template-columns: repeat(2,  minmax(0, 1fr)); }
.\@3-3x-grid  { grid-template-columns: repeat(3,  minmax(0, 1fr)); }
.\@3-4x-grid  { grid-template-columns: repeat(4,  minmax(0, 1fr)); }
.\@3-5x-grid  { grid-template-columns: repeat(5,  minmax(0, 1fr)); }
.\@3-6x-grid  { grid-template-columns: repeat(6,  minmax(0, 1fr)); }
.\@3-7x-grid  { grid-template-columns: repeat(7,  minmax(0, 1fr)); }
.\@3-8x-grid  { grid-template-columns: repeat(8,  minmax(0, 1fr)); }
.\@3-9x-grid  { grid-template-columns: repeat(9,  minmax(0, 1fr)); }

.\@3-x1 { grid-column-start: 1 !important; }
.\@3-x2 { grid-column-start: 2 !important; }
.\@3-x3 { grid-column-start: 3 !important; }
.\@3-x4 { grid-column-start: 4 !important; }
.\@3-x5 { grid-column-start: 5 !important; }
.\@3-x6 { grid-column-start: 6 !important; }
.\@3-x7 { grid-column-start: 7 !important; }
.\@3-x8 { grid-column-start: 8 !important; }
.\@3-x9 { grid-column-start: 9 !important; }

.\@3-1x { grid-column-end: span 1 !important; }
.\@3-2x { grid-column-end: span 2 !important; }
.\@3-3x { grid-column-end: span 3 !important; }
.\@3-4x { grid-column-end: span 4 !important; }
.\@3-5x { grid-column-end: span 5 !important; }
.\@3-6x { grid-column-end: span 6 !important; }
.\@3-7x { grid-column-end: span 7 !important; }
.\@3-8x { grid-column-end: span 8 !important; }
.\@3-9x { grid-column-end: span 9 !important; }

.\@3-x-end {
    justify-self: end !important;
    margin-left: auto;
    margin-right: 0;
}

.\@3-x-start {
    justify-self: start !important;
    margin-left: 0;
    margin-right: auto;
}

.\@3-x-center {
    justify-self: center !important;
    margin-left: auto;
    margin-right: auto;
}

.\@3-x-stretch {
    justify-self: stretch !important;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
}

.\@3-x-unbleedl {
    margin-left:  calc(0.5 * var(--x-gap));
    margin-right: 0;
    max-width:    calc(100% - var(0.5 * --x-gap));
    width:        calc(100% - var(0.5 * --x-gap));
}

.\@3-x-unbleedr {
    margin-left:  0;
    margin-right: calc(0.5 * var(--x-gap));
    max-width:    calc(100% - var(0.5 * --x-gap));
    width:        calc(100% - var(0.5 * --x-gap));
}

.\@3-x-bleedl {
    justify-self: stretch !important;
    margin-left:  calc(var(--x-gap) / -2);
    margin-right: 0;
    max-width:    calc(100% + var(0.5 * --x-gap));
    width:        calc(100% + var(0.5 * --x-gap));
}

.\@3-x-bleedr {
    justify-self: stretch !important;
    margin-left:  0;
    margin-right: calc(var(--x-gap) / -2);
    max-width:    calc(100% + var(0.5 * --x-gap));
    width:        calc(100% + var(0.5 * --x-gap));
}

.\@3-x-bleed {
    justify-self: stretch !important;
    margin-left:  calc(var(--x-gap) / -2);
    margin-right: calc(var(--x-gap) / -2);
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.\@3-x-floodl {
    justify-self: stretch !important;
    margin-left:  calc(-1 * var(--x-gap));
    margin-right: 0;
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.\@3-x-floodr {
    justify-self: stretch !important;
    margin-left:  0;
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + var(--x-gap));
    width:        calc(100% + var(--x-gap));
}

.\@3-x-flood {
    justify-self: stretch !important;
    margin-left:  calc(-1 * var(--x-gap));
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + 2 * var(--x-gap));
    width:        calc(100% + 2 * var(--x-gap));
}

.\@3-x-bleedl.\@3-x-floodr {
    margin-left:  calc(-0.5 * var(--x-gap));
    margin-right: calc(-1 * var(--x-gap));
    max-width:    calc(100% + 1.5 * var(--x-gap));
    width:        calc(100% + 1.5 * var(--x-gap));
}

/* y */

.\@3-1y-grid  { grid-template-rows: repeat(1,  minmax(0, 1fr)); }
.\@3-2y-grid  { grid-template-rows: repeat(2,  minmax(0, 1fr)); }
.\@3-3y-grid  { grid-template-rows: repeat(3,  minmax(0, 1fr)); }
.\@3-4y-grid  { grid-template-rows: repeat(4,  minmax(0, 1fr)); }
.\@3-5y-grid  { grid-template-rows: repeat(5,  minmax(0, 1fr)); }
.\@3-6y-grid  { grid-template-rows: repeat(6,  minmax(0, 1fr)); }

.\@3-y1 { grid-row-start: 1 !important; }
.\@3-y2 { grid-row-start: 2 !important; }
.\@3-y3 { grid-row-start: 3 !important; }
.\@3-y4 { grid-row-start: 4 !important; }
.\@3-y5 { grid-row-start: 5 !important; }
.\@3-y6 { grid-row-start: 6 !important; }

.\@3-1y { grid-row-end: span 1 !important; }
.\@3-2y { grid-row-end: span 2 !important; }
.\@3-3y { grid-row-end: span 3 !important; }
.\@3-4y { grid-row-end: span 4 !important; }
.\@3-5y { grid-row-end: span 5 !important; }
.\@3-6y { grid-row-end: span 6 !important; }

.\@3-y-end {
    align-self:    end !important;
    margin-top:    auto;
    margin-bottom: 0;
}

.\@3-y-start {
    align-self:    start !important;
    margin-top:    0;
    margin-bottom: auto;
}

.\@3-y-center {
    align-self:    center !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.\@3-y-baseline  {
    align-self:    baseline !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.\@3-y-lastline  {
    align-self:    last baseline !important;
    margin-top:    auto;
    margin-bottom: auto;
}

.\@3-y-stretch {
    justify-self:  stretch !important;
    margin-top:    0;
    margin-bottom: 0;
    max-height:    100%;
    height:        100%;
}

.\@3-y-bleed {
    justify-self:  stretch !important;
    margin-top:    calc(var(--y-gap) / -2);
    margin-bottom: calc(var(--y-gap) / -2);
    max-height:    calc(100% + var(--y-gap));
    height:        calc(100% + var(--y-gap));
}

.\@3-y-flood {
    justify-self:  stretch !important;
    margin-top:    calc(-1 * var(--y-gap));
    margin-bottom: calc(-1 * var(--y-gap));
    max-height:    calc(100% + 2 * var(--y-gap));
    height:        calc(100% + 2 * var(--y-gap));
}

.\@3-inline         { display: inline-block !important; }

.\@3-normal-text    { text-transform: none !important; }
.\@3-lowercase-text { text-transform: lowercase !important; }
.\@3-uppercase-text { text-transform: uppercase !important; }

.\@3-thin-text      { font-weight: 200 !important; }
.\@3-light-text     { font-weight: 300 !important; }
.\@3-regular-text   { font-weight: 400 !important; }
.\@3-book-text      { font-weight: 450 !important; }
.\@3-medium-text    { font-weight: 500 !important; }
.\@3-semi-text      { font-weight: 600 !important; }
.\@3-bold-text      { font-weight: 700 !important; }
.\@3-black-text     { font-weight: 800 !important; }

.\@3-no-wrap {
    white-space: nowrap;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}
.\@3-left           { float: left !important; clear: left; margin-right: calc(0.5 * var(--x-gap)); margin-bottom: calc(0.5 * var(--y-gap)); }
.\@3-right          { float: right !important; clear: right; margin-left: calc(0.5 * var(--x-gap)); margin-bottom: calc(0.5 * var(--y-gap)); }
* + .\@3-left       { margin-top: calc(0.5 * var(--y-gap)); }
* + .\@3-right      { margin-top: calc(0.5 * var(--y-gap)); }

.\@3-top-align      { vertical-align: top !important; }
.\@3-bottom-align   { vertical-align: bottom !important; }
.\@3-middle-align   { vertical-align: middle !important; }
.\@3-baseline-align { vertical-align: baseline !important; }
.\@3-left-align     { text-align: left !important; }
.\@3-right-align    { text-align: right !important; }
.\@3-center-align   { text-align: center !important; }
.\@3-justify-align  { text-align: justify !important; }
.\@3-size-18  { --size: 1.125rem; }
.\@3-size-24  { --size: 1.5rem; }
.\@3-size-30  { --size: 1.875rem; }
.\@3-size-48  { --size: 3rem; }
.\@3-size-60  { --size: 3.75rem; }

.\@3-margin-0         { margin-top: 0      !important; }
.\@3-margin-8         { margin-top: 0.5rem !important; }
.\@3-margin-16        { margin-top: 1rem   !important; }
.\@3-margin-24        { margin-top: 1.5rem !important; }
.\@3-margin-32        { margin-top: 2rem   !important; }
.\@3-margin-40        { margin-top: 2.5rem !important; }
.\@3-margin-48        { margin-top: 3rem   !important; }
.\@3-margin-64        { margin-top: 4rem   !important; }
.\@3-margin-80        { margin-top: 5rem   !important; }
.\@3-margin-96        { margin-top: 6rem   !important; }
}



