:root {
    scroll-padding-top: 5.625rem;
    --site-padding: 1.5rem;
}

/*
body {
    padding-top: 1.875rem;
    padding-bottom: 3.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/*
body > .x-bleed {
    margin-left:  -1.5rem;
    margin-right: -1.5rem;
    width: auto;
}
*//*
@media(min-width: 50em) {
    :root {
        --x-gap: 2.8125rem;
        --y-gap: 2.8125rem;
    }

    body {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
/*
    body > .x-bleed {
        margin-left:  -1.875rem;
        margin-right: -1.875rem;
    }
*//*
}

@media(min-width: 70em) {
    :root {
        --y-gap: 3.75rem;
    }
}

@media(min-width: 90em) {
    :root {
        --x-gap: 3.75rem;
    }

    body {
        padding-left: calc(0.5 * var(--x-gap));
        padding-right: calc(0.5 * var(--x-gap));
    }
}*/

/*
Colour
*/

.doc-navy-fg { color: #005177; }
.doc-navy-bg { background-color: #005177; }

.doc-aqua-fg { color: #026f63; }
.doc-aqua-bg { background-color: #026f63; }

.doc-blue-fg { color: #46789a; }
.doc-blue-bg { background-color: #46789a; }

/*
.docdemo-block
*/

.docdemo-block {
    color: var(--code-fg);
    background-color: var(--code-bg);
    margin-left:  -1.875rem;
    margin-right: -1.875rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 1.5rem;
    padding-bottom: 0.9375rem;
}


body > .docdemo-block + .grid {
    margin-top: 2.8125rem;
}


/* .docs-text */

.docs-text-01,
.docs-text-02,
.docs-text-03,
.docs-text-04,
.docs-text-05,
.docs-text-06,
.docs-text-08,
.docs-text-09 {
    font-family: Helvetica, Arial, sans-serif;
    font-style: none;
    text-transform: none;
}

.docs-text-07, code {
    font-family: 'Fira Code', 'Fira Mono', 'Roboto Mono', Courier, monospace;
    font-style: normal;
    text-transform: none;
}

.docs-text-01 { font-size: 2.5rem;    line-height: 2.625rem;  font-weight: 700; }
.docs-text-02 {font-size: 1.5625rem;line-height: 1.875rem;font-weight: 400;}
.docs-text-03 { font-size: 1.25rem;   line-height: 1.875rem;  font-weight: 600; }
.docs-text-04 { font-size: 0.75rem;   line-height: 0.9375rem; font-weight: 400; text-transform: uppercase; }
.docs-text-05 { font-size: 1rem;      line-height: 1.375rem;  font-weight: 700; }
.docs-text-06 { font-size: 1.5rem;    line-height: 1.875rem;  font-weight: 300; }
.docs-text-07 { font-size: 0.9375rem; line-height: 1.5rem;    font-weight: 400; }
.docs-text-08 { font-size: 1rem;      line-height: 1.5rem;    font-weight: 300; }
.docs-text-09 { font-size: 0.9375rem; line-height: 1.5rem;    font-weight: 400; }

/* Vertical typographic spacings pairs.
   (We use 'body' in 'body tag + .class' to increase the
   specificity of that selector by 1, making it override
   '.class + tag' but not '.class + .class'). */

* + .docs-text-01                                            { margin-top: 2.5rem; }
* + .docs-text-02                                            { margin-top: 2.5rem; }
.docs-text-08 + .docs-text-02, body p + .docs-text-02, .docs-text-08 + .docs-text-02 { margin-top: 2.5rem; }
* + .docs-text-03                                            { margin-top: 1.25rem; }
.docs-text-02 + h3,   body h2 + .docs-text-03,   .docs-text-02 + .docs-text-03 { margin-top: 1.5625rem; }
.docs-text-08 + h3,  body p  + .docs-text-03,  .docs-text-08 + .docs-text-03,
dl + .docs-text-03,
ul + .docs-text-03                                          { margin-top: 2.5rem; }
 * + .docs-text-04                                           { margin-top: 1.25rem; }
 .docs-text-01 + h4,  body h1 + .docs-text-04,  .docs-text-01 + .docs-text-04,
 .docs-text-02 + h4,  body h2 + .docs-text-04,  .docs-text-02 + .docs-text-04  { margin-top: 1.625rem; }
 .docs-text-03 + h4,  body h3 + .docs-text-04,  .docs-text-03 + .docs-text-04  { margin-top: 1.125rem; }
 .docs-text-08 + h4,  body p  + .docs-text-04,  .docs-text-08 + .docs-text-04,
 dl + .docs-text-04,
 ul + .docs-text-04                                          { margin-top: 2.5rem; }
 * + .docs-text-05                                           { margin-top: 1.25rem; }
 .docs-text-02 + h5,  body h2 + .docs-text-05,  .docs-text-02 + .docs-text-05  { margin-top: 1.25rem; }
 .docs-text-04 + h5,  body h4 + .docs-text-05,  .docs-text-04 + .docs-text-05,
 .docs-text-08 + h5,  body p  + .docs-text-05,  .docs-text-08 + .docs-text-05  { margin-top: 0.9375rem; }
 * + .docs-text-08                                           { margin-top: 0.625rem; }
 .docs-text-01 + p,   body h1 + .docs-text-08,  .docs-text-01 + .docs-text-08  { margin-top: 2.1875rem; }
 .docs-text-03 + p,   body h3 + .docs-text-08,  .docs-text-03 + .docs-text-08  { margin-top: 0.625rem; }
 .docs-text-05 + p,   body h5 + .docs-text-08,  .docs-text-05 + .docs-text-08,
 .docs-text-05 + ul                                          { margin-top: 0; }
 .docs-text-08 + p,   body p  + .docs-text-08,  .docs-text-08 + .docs-text-08  { margin-top: 0.9375rem; }


h2 + ul,   .docs-text-02 + ul { margin-top: 1.875rem; }
h3 + ul,   .docs-text-03 + ul { margin-top: 1.25rem; }
p + pre,  .docs-text-08 + pre, pre + p,  pre + .docs-text-08 { margin-top: 1.25rem; }

p + form,     .docs-text-08 + form     { margin-top: 0.5rem; }
p + fieldset, .docs-text-08 + fieldset { margin-top: 2rem; }


.docs-text-02 + .doc-toggle-block {
    margin-top: 0.9375rem;
}

.docs-text-03 + .doc-toggle-block {
    margin-top: 0rem;
}

.docs-text-10,
.docs-text-05 code:not(.pill),
.docs-text-05 + pre code {
    font-family: 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 1.0625rem;
}

.docs-text-05 + pre {
    margin-top: 0.75rem;
}

.docs-text-05 code {
    white-space: pre;
}

.docs-text-05 code {
    font-size: 0.8125rem;
}

* + .docs-text-02 {
    margin-top: 1.875rem;
}

.docs-text-03 > code {
    color: inherit;
    font-weight: 600;
    letter-spacing: 0;
}

.docs-text-03 a {
    text-decoration: none;
}

.docs-text-03 + pre {
    margin-top: 1.5rem;
}

.docs-text-03 + pre + * {
    margin-top: 1.5rem;
}

.docs-text-04 {
    /* WHY? */
    opacity: 0.5;
}

.docs-text-04 + p, h4 + p { margin-top: 0; }
p + .docs-text-04, p + h4 { margin-top: 1.5rem; }

.docs-text-04 + .doc-toggle-block {
    margin-top: 9px;
}

.docs-text-08 + .index {
    margin-top: 0.9375rem;
}

button.docs-text-09 {
    display: inline-block;
    min-height: 0;
    padding-left: 0;
    padding-right: 0;
}


/* doc bubbles */

.docbubble-thumb {
    font-size: 0.5rem;
    line-height: 1rem;
    height: 1rem;
    width: 1rem;
    padding-left: 1rem;
    padding-top: 0;
    vertical-align: -3px;
    color: #eef9ff;
    background-color: #026f63;
    background-color: #005177;
    background-color: #46789a;
    border-radius: 50%;
}

.docbubble-thumb::before {
    content: '';
    position: absolute;
    top: 0.1875rem;
    left: 0.375rem;
    width: 1rem;
    border-left: 0.375rem solid currentcolor;
    border-top: 0.3125rem solid transparent;
    border-bottom: 0.3125rem solid transparent;
}



/*  */
/*
a.block {
    position: relative;
    text-decoration: none;
}

a.block:hover {
    border-bottom: 1px solid #999999;
}
*/
.key-device a:focus {
    border-bottom: 1px solid #999999;
}


/* .doctoggle-button */

.doctoggle-button {
    min-height: 1.5rem;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: transparent;
}

.doctoggle-button::before {
    content: '';
    position: absolute;
    left: -1.5rem;
    margin-left: 0.18em;
    top: 50%;
    margin-top: -0.18em;
    width: 0.36em;
    height: 0.36em;
    border-top: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
    transform: translate(-25%, 0) rotate(45deg);
    transition: transform 240ms linear;
    opacity: 0.333333;
}

.doctoggle-button.on::before {
    transform: translate(0, -25%) rotate(135deg);
}


/* .doc-toggle-block */

.doc-toggle-block {
    visibility: visible;
    opacity: 1;
    min-height: 3rem;
}

.doc-toggle-block.active {
    /*padding-bottom: 3.75rem;*/
    max-height: 300rem;
}

.doc-toggle-block::before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 15px;
    width: 3px;
    left: 0;
    background-color: transparent;
    transition:
        background-color 0.8s linear,
        bottom 0.6s linear;
}

.doc-toggle-block.active::before {
    content: '';
    bottom: 5px;
    background-color: transparent;
}

.doc-toggle-block + .doc-toggle-block {
    margin-top: 0rem;
}

.doc-toggle-block.active + .doc-toggle-block {
    margin-top: 1.5rem;
}

.doc-toggle-block > .docs-text-05 {
    overflow: hidden;
    text-overflow: ellipsis;
    /* Make sure hanging '.' is still seen */
    margin-left: -0.9375rem;
    padding-left: 0.9375rem;
    /* Not sure why */
    /*margin-right: -0.1875rem;*/
    margin-right: 0;
}

.docs-text-05 > a {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: none;
}

.docs-text-05 code:not(.pill) {
    font-size: inherit;
    font-weight: 500;
    background-color: transparent;
    padding: 0;
    word-spacing: -0.25em;
    letter-spacing: -0.0125em;
}

.docs-text-02 + p { margin-top: 0.9375rem; }
.docs-text-02 + pre { margin-top: 1.875rem; }
.docs-text-05 + p { margin-top: 0.75rem; }
.docs-text-03 code:not(.pill) > span,
.docs-text-05 code:not(.pill) > span {
    color: var(--name-color);
}

h5, .docs-text-05 {
    margin-bottom: 2px;
}

h4 + ul {
    margin-top: 0;
}

ul + pre {
    margin-top: 18px;
}

p + pre {
    margin-top: 18px;
}

.dot-indent {
    text-indent: -0.5625em;
}

.quote-indent {
    text-indent: -0.5625em;
}

.doubledash-indent {
    text-indent: -1.125em;
}


/* Code */

pre > code,
code.block {
    border-radius: 0.375rem;
    width: calc(100% + 0.75rem + 0.75rem);
    margin-left: -0.75rem;
}

pre,
code.block {
    white-space: pre;
}

.js.block + p,
.html-code.block + p {
    margin-top: 1.125rem;
}

pre > code .comment {
    color: #75858c;
}

code {
    font-size: 0.9375em;
    font-weight: 500;
    /*color:#46789a;*/
    /*background-color: rgba(0,0,0,0.0667);*/
    /*background-color: #b7d6e7;*/
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -1px;
    margin-right: -1px;
    padding-bottom: 2px;
    padding-top: 0px;
    border-radius: 4px;
    word-spacing: -0.125em;
    white-space: nowrap;
    letter-spacing: -0.0125em;
}

code > .params {
    color:#46789a;
    font-weight: 400;
}

/*code.property {
    color: inherit;
}*/







/* Legacy styles. Review and discard! */

script[type="text"] {
    white-space: pre;
    border-width: 0;
    padding: 0;
    line-height: inherit;
    tab-size: 2;
    margin-left: -4.875rem;
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
    background-color: transparent;
}

line { stroke-width: 1; stroke: inherit; }

/*

.columns {
    column-fill: auto;
    column-gap: 1.875rem;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.columns > * {
    break-inside: avoid;
    break-inside: avoid-column;
}

.columns > .docs-text-04 ~ .docs-text-04 {
    break-before: column;
    break-after: avoid;
    break-after: avoid-column;
}

.columns > .docs-text-04 ~ .docs-text-04 ~ .docs-text-04 {
    break-before: auto;
}

.columns > .docs-text-04 ~ .docs-text-04 ~ .docs-text-04 ~ .docs-text-04 {
    break-before: auto;
}

.columns > .docs-text-04 ~ .docs-text-04 ~ .docs-text-04 ~ .docs-text-04 ~ .docs-text-04 {
    break-before: auto;
}

.columns > .doc-toggle-block {
    break-before: avoid;
    break-before: avoid-column;
}

.columns-3 {
    column-gap: 1.875rem;
}

.columns-3 > * {
    break-inside: avoid;
}

.columns-3 > * + * {
    margin-top: 1.875rem;
}

.columns-3 > * > .doc-toggle-block {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}




@media (min-width: 49.6875em) {
    .columns-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 76.875em) {
    .columns-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 101.25em) {
    .columns-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}



.column-grid {
    align-content: start;
    align-items: start;
    justify-content: stretch;
}

.column-grid > * {
    overflow: hidden;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.list-grid {
    align-content: start;
    align-items: start;
    justify-content: stretch;
    grid-row-gap: 0;
}

.list-grid > .docs-text-04 {
    margin-top: 1.875rem;
    margin-left: 0;
}
*/

/*
.component-.doc-toggle-block.active {
    overflow: visible;
}
*/
* + .component-doc-toggle-block {
    margin-top: 0.375rem;
}

.active + .component-doc-toggle-block {
    margin-top: 1.875rem;
}

header + .component-doc-toggle-block {
    margin-top: 1.875rem;
}

.component-doc-toggle-block > header + .class-grid {
    margin-top: 1.5rem;
}


.grid > .docs-text-05 {
    margin-top: 0;
}

.class-grid {
    grid-row-gap: 0 !important;
    justify-items: stretch;
}

.class-grid > * {
    margin: 0;
}

.class-grid > *,
.class-grid > pre {
    grid-column: 1 / span 3;
}

.class-grid > pre {
    display: none;
}

.class-grid > pre + * {
    grid-column: 1 / span 3;
    align-self: start;
}

.class-grid > .docs-text-05 {
    grid-column: 1 / span 1;
    justify-self: end;
    align-self: start;
    overflow: visible;
    text-align: right;
    text-overflow: clip;
    width: auto;
    margin-right: 0;
}

.class-grid > .docs-text-05 + * {
    margin-top: 0 !important;
}

/* Hack to get baseline of thumbs in the middle.
    Todo: we should probably adopt this in Bolt. */
.class-grid > pre + .thumb {
    height: auto;
    line-height: 1em;
    padding-top: calc(1.4125em - 0.5em);
    padding-bottom: calc(1.4em - 0.5em);
    text-indent: 2.8125em;
    white-space: nowrap;
}

.class-grid + .class-grid {
    margin-top: 0.75rem;
}

@media (min-width: 50em) {
    .class-grid > pre {
        display: inline-block;
    }

    .class-grid > *,
    .class-grid > pre {
        grid-column: 1 / span 3;
    }

    .class-grid > pre + * {
        grid-column: 4 / span 3;
    }

    .class-grid > .docs-text-05 {
        align-self: baseline;
    }

    .class-grid > .docs-text-05 + pre {
        align-self: baseline;
    }

    .class-grid > .docs-text-05 + pre + * {
        align-self: baseline;
    }
}

@media (min-width: 70em) {
    .class-grid > *,
    .class-grid > pre {
        grid-column: 3 / span 3;
    }

    .class-grid > pre + * {
        grid-column: 6 / span 3;
    }
}

/*
.columns > .doc-toggle-block + .doc-toggle-block + .doc-toggle-block + .doc-toggle-block + .doc-toggle-block + .doc-toggle-block + .doc-toggle-block + .doc-toggle-block + .doc-toggle-block + .doc-toggle-block + .docs-text-04 {
    break-before: column;
}
*/


.note {
    float: right;
    clear: right;
    width: calc(33.333333% - 1.875rem);
    margin: 0.9375rem 0 0.9375rem 3.75rem;
    opacity: 0.8;
}
