
@import './docs.css';


.docs-grid {
    row-gap: 3.75rem;
    grid-template-rows: min-content;
}

.docs-section-grid {
    row-gap: 0.9375rem;
    grid-auto-flow: column dense;
    align-content: start;
}


/* Pills */

.default-pill {
    color: #15374e;
    background-color: #d4dee4;
}

/*.default-pill::before {
    content: 'default ';
}*/


/* Default values */
.default {
    display: inline;
    margin-left: 0.1875em;
    opacity: 0.25;
}

/* Entries */

.doc-toggle-block > .doctext-05 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.doc-toggle-block > .doctext-05 > .pill {
    margin: 0;
    text-indent: 0;
}

/* Text */

.doctext-05 > a > code {
    white-space: normal;
}
