
@import './docs.css';


.docs-grid {
    row-gap: 3.75rem;
    grid-template-rows: min-content;
}

.docs-section-grid {
    row-gap: 0.9375rem;
    grid-auto-flow: column dense;
    align-content: start;
}


/* Pills */

.default-pill {
    color: #15374e;
    background-color: #d4dee4;
}

/*.default-pill::before {
    content: 'default ';
}*/


/* Default values */
.default {
    display: inline;
    margin-left: 0.1875em;
    opacity: 0.25;
}

/* Entries */

.doc-toggle-block > .doctext-05 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.doc-toggle-block > .doctext-05 > .pill {
    margin: 0;
    text-indent: 0;
}

/* Text */

.doctext-05 > a {
    /* Make this inline to have first baseline align with baseline of 
       example and to make the click zone the same as the shape of the 
       text */
    display: inline;
}

.doctext-05 > a > code {
    /* Make this inline to have first baseline align with baseline of 
       example and to make the click zone the same as the shape of the 
       text */
    display: inline;
    margin: 0;
    white-space: pre;
}

.part-doctext-05 > a > code {
    position: relative;
    left: -1.125rem;
}

.property-doctext-05 > a > code {
    /* Outdent by the width of '.' */
    position: relative;
    left: -0.5625rem;
}

.selector-doctext-05 > a > code {
    /* Outdent by the width of one space */
    position: relative;
    left: -0.5625rem;
}

.var-doctext-05 > a > code {
    /* Outdent by the width of '--' */
    position: relative;
    left: -1.125rem;
}

.doctext-05 + .bottom-bubble {
    left: 3.75rem;
    top: calc(100% - 0.75rem);
    max-width: 150%;
}
