
@import './docs.css';

.docs-grid {
    --x-gap: 1.875rem;
    --y-gap: 2.8125rem;
    grid-template-rows: min-content;
    padding-top: 1.875rem;
    padding-bottom: 3.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.docs-section-grid {
    row-gap: 0.9375rem;
    grid-auto-flow: column dense;
    align-content: start;
}

@media(min-width: 50em) {
    .docs-grid {
        --x-gap: 2.8125rem;
        --y-gap: 2.8125rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
}

@media(min-width: 70em) {
    .docs-grid {
        --y-gap: 3.75rem;
    }
}

@media(min-width: 90em) {
    .docs-grid {
        --x-gap: 3.75rem;
        padding-left: calc(0.5 * var(--x-gap));
        padding-right: calc(0.5 * var(--x-gap));
    }
}


/* Pills */

.default-pill {
    color: #15374e;
    background-color: #d4dee4;
}

/*.default-pill::before {
    content: 'default ';
}*/


/* Default values */
.default {
    display: inline;
    margin-left: 0.1875em;
    opacity: 0.25;
}

.param {
    display: inline;
    opacity: 0.33333333;
}

/* Entries */

.doc-toggle-block > .docs-text-05 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.doc-toggle-block > .docs-text-05 > .pill {
    margin: 0;
    text-indent: 0;
}

/* Text */

.docs-text-05 > a {
    /* Make this inline to have first baseline align with baseline of 
       example and to make the click zone the same as the shape of the 
       text */
    display: inline;
}

.docs-text-05 > a > code {
    /* Make this inline to have first baseline align with baseline of 
       example and to make the click zone the same as the shape of the 
       text */
    display: inline;
    margin: 0;
    white-space: pre;
}

.part-docs-text-05 > a > code {
    position: relative;
    left: -1.125rem;
}

.method-docs-text-05 > a > code,
.property-docs-text-05 > a > code {
    /* Outdent by the width of '.' */
    position: relative;
    left: -0.5625rem;
}

.selector-docs-text-05 > a > code {
    /* Outdent by the width of one space */
    position: relative;
    left: -0.5625rem;
}

.var-docs-text-05 > a > code {
    /* Outdent by the width of '--' */
    position: relative;
    left: -1.125rem;
}

.string-docs-text-05 > a > code {
    /* Outdent by the width of '"' */
    position: relative;
    left: -0.5625rem;
}

.docs-text-05 + .bottom-bubble {
    left: 3.75rem;
    top: calc(100% - 0.75rem);
    max-width: 150%;
}
