/* Literal template "documentation/grid.css.literal" */

/* Literal template "css/grid.literal" */

/**
Columns.
**/

/**
.2-columns

```html
<div class="2-columns columns" style="--column-gap: 0.9375rem; font-size: 0.875rem;">
    Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
</div>
```
**/

/**
.3-columns

```html
<div class="3-columns columns" style="--column-gap: 0.9375rem; font-size: 0.875rem;">
    Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
</div>
```
**/

/**
.4-columns … .12-columns

```html
<div class="4-columns columns" style="--column-gap: 0.9375rem; font-size: 0.875rem;">
    Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
</div>
```
**/



/**
Grid.
**/

/**
.grid

```html
<div class="grid" style="--column-gap: 0.9375rem; --row-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button">&nbsp;</div>
</div>
```

Creates a grid with horizontal flow and equal width columns.
**/

/**
.2x-grid

```html
<div class="2x-grid grid" style="--column-gap: 0.9375rem; --row-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
</div>
```

Creates a grid with 2 equal width columns.
**/

/**
.3x-grid

```html
<div class="3x-grid grid" style="--column-gap: 0.9375rem; --row-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
</div>
```

Creates a grid with 3 equal width columns.
**/

/**
.4x-grid … .12x-grid

```html
<div class="4x-grid grid" style="--column-gap: 0.9375rem; --row-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
    <div class="button">&nbsp;</div>
</div>
```
**/

/**
.x-1 … .x-12,
.2x … .12x,
.x-start,
.x-center,
.x-end,
.x-stretch,
.x-bleed,
.x-flood

```html
<div class="grid" style="--column-gap: 0.9375rem; --row-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button x-1">x-1</div>
    <div class="button x-2">x-2</div>
    <div class="button x-3">x-3</div>
    <div class="button x-1 2x">2x</div>
    <div class="button x-1 3x">3x</div>
    <div class="button x-1 x-start y-4">x-start</div>
    <div class="button x-2 x-center y-4">x-center</div>
    <div class="button x-3 x-end y-4">x-end</div>
    <div class="button x-1 x-stretch y-5">x-stretch</div>
    <div class="button x-2 x-bleed y-5">x-bleed</div>
    <div class="button x-3 x-flood y-5">x-flood</div>
</div>
```

Note that `.x-bleed`, which stretches an element half the way across the grid 
gap, and `.x-flood`, which stretches an element all the way across the grid gap,
depends on `column-gap` having been set via the custom property `--column-gap`.
**/

/**
.y-1 … .y-18,
.2y … .12y,
.y-start,
.y-center,
.y-end,
.y-stretch,
.y-bleed,
.y-flood,
.y-baseline,
.y-lastline

```html
<div class="grid" style="--column-gap: 0.9375rem; --row-gap: 0.9375rem; font-size: 0.875rem;">
    <div class="button x-1 y-1">y-1</div>
    <div class="button x-1 y-2">y-2</div>
    <div class="button x-1 y-3">y-3</div>
    <div class="button x-2 y-1 2y">2y</div>
    <div class="button x-3 y-1 3y">3y</div>
    <div class="button x-1 y-4 y-start">y-start</div>
    <div class="button x-1 y-5 y-center">y-center</div>
    <div class="button x-1 y-6 y-end">y-end</div>
    <div class="button x-2 y-4 y-stretch">y-stretch</div>
    <div class="button x-2 y-5 y-bleed">y-bleed</div>
    <div class="button x-2 y-6 y-flood">y-flood</div>
    <div class="button x-3 y-4 y-baseline">y-baseline</div>
    <div class="button x-3 y-5 y-lastline">y-lastline</div>
</div>
```
**/

/**
--column-gap
Define the horizontal grid gap (with units).
**/

/**
--row-gap
Define the vertical grid gap (with units).
**/



    .docs-columns {
        --column-gap: 1.5rem;
        display: block !important;
        column-gap: var(--column-gap);
    }

    .docs-1-columns  { columns: 1 !important; }
    .docs-2-columns  { columns: 2 !important; }
    .docs-3-columns  { columns: 3 !important; }
    .docs-4-columns  { columns: 4 !important; }
    .docs-5-columns  { columns: 5 !important; }
    .docs-6-columns  { columns: 6 !important; }
    .docs-7-columns  { columns: 7 !important; }
    .docs-8-columns  { columns: 8 !important; }
    .docs-9-columns  { columns: 9 !important; }
    .docs-10-columns { columns: 10 !important; }
    .docs-11-columns { columns: 11 !important; }
    .docs-12-columns { columns: 12 !important; }

    .docs-grid {
        --column-gap: 1.5rem;
        --row-gap: 1.5rem;
        display: grid !important;
        /* Horizontal layout */
        grid-auto-flow: row;
        /* Create equal columns by default. */
        grid-auto-columns: minmax(0, 1fr);
        column-gap: var(--column-gap);
        row-gap: var(--row-gap);
    }

    .docs-y-start-grid {
        align-content: start;
    }

    .docs-2x-grid  { grid-template-columns: repeat(2,  minmax(0, 1fr)); }
    .docs-3x-grid  { grid-template-columns: repeat(3,  minmax(0, 1fr)); }
    .docs-4x-grid  { grid-template-columns: repeat(4,  minmax(0, 1fr)); }
    .docs-5x-grid  { grid-template-columns: repeat(5,  minmax(0, 1fr)); }
    .docs-6x-grid  { grid-template-columns: repeat(6,  minmax(0, 1fr)); }
    .docs-7x-grid  { grid-template-columns: repeat(7,  minmax(0, 1fr)); }
    .docs-8x-grid  { grid-template-columns: repeat(8,  minmax(0, 1fr)); }
    .docs-9x-grid  { grid-template-columns: repeat(9,  minmax(0, 1fr)); }
    .docs-10x-grid { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    .docs-11x-grid { grid-template-columns: repeat(11, minmax(0, 1fr)); }
    .docs-12x-grid { grid-template-columns: repeat(12, minmax(0, 1fr)); }

    .docs-x-1         { grid-column-start: 1 !important; }
    .docs-x-2         { grid-column-start: 2 !important; }
    .docs-x-3         { grid-column-start: 3 !important; }
    .docs-x-4         { grid-column-start: 4 !important; }
    .docs-x-5         { grid-column-start: 5 !important; }
    .docs-x-6         { grid-column-start: 6 !important; }
    .docs-x-7         { grid-column-start: 7 !important; }
    .docs-x-8         { grid-column-start: 8 !important; }
    .docs-x-9         { grid-column-start: 9 !important; }
    .docs-x-10        { grid-column-start: 10 !important; }
    .docs-x-11        { grid-column-start: 11 !important; }
    .docs-x-12        { grid-column-start: 12 !important; }
    .docs-x-13        { grid-column-start: 13 !important; }
    .docs-x-14        { grid-column-start: 14 !important; }
    .docs-x-15        { grid-column-start: 15 !important; }
    .docs-x-16        { grid-column-start: 16 !important; }

    .docs-1x       { grid-column-end: span 1 !important; }
    .docs-2x       { grid-column-end: span 2 !important; }
    .docs-3x       { grid-column-end: span 3 !important; }
    .docs-4x       { grid-column-end: span 4 !important; }
    .docs-5x       { grid-column-end: span 5 !important; }
    .docs-6x       { grid-column-end: span 6 !important; }
    .docs-7x       { grid-column-end: span 7 !important; }
    .docs-8x       { grid-column-end: span 8 !important; }
    .docs-9x       { grid-column-end: span 9 !important; }
    .docs-10x      { grid-column-end: span 10 !important; }
    .docs-11x      { grid-column-end: span 11 !important; }
    .docs-12x      { grid-column-end: span 12 !important; }
    .docs-13x      { grid-column-end: span 13 !important; }
    .docs-14x      { grid-column-end: span 14 !important; }
    .docs-15x      { grid-column-end: span 15 !important; }
    .docs-16x      { grid-column-end: span 16 !important; }

    .docs-x-end {
        justify-self: end !important; 
        margin-right: 0; 
    }

    .docs-x-start {
        justify-self: start !important;
        margin-left: 0; 
    }

    .docs-x-center { 
        justify-self: center !important; 
    }

    .docs-x-stretch { 
        justify-self: stretch !important; 
        margin-left: 0; 
        margin-right: 0; 
    }

    .docs-x-bleed {
        justify-self: stretch !important;
        margin-left:  calc(var(--column-gap) / -2);
        margin-right: calc(var(--column-gap) / -2);
    }

    .docs-x-flood {
        justify-self: stretch !important;
        margin-left:  calc(-1 * var(--column-gap));
        margin-right: calc(-1 * var(--column-gap));
    }

    .docs-2y-grid  { grid-template-rows: repeat(2,  minmax(0, 1fr)); }
    .docs-3y-grid  { grid-template-rows: repeat(3,  minmax(0, 1fr)); }
    .docs-4y-grid  { grid-template-rows: repeat(4,  minmax(0, 1fr)); }
    .docs-5y-grid  { grid-template-rows: repeat(5,  minmax(0, 1fr)); }
    .docs-6y-grid  { grid-template-rows: repeat(6,  minmax(0, 1fr)); }
    .docs-7y-grid  { grid-template-rows: repeat(7,  minmax(0, 1fr)); }
    .docs-8y-grid  { grid-template-rows: repeat(8,  minmax(0, 1fr)); }
    .docs-9y-grid  { grid-template-rows: repeat(9,  minmax(0, 1fr)); }
    .docs-10y-grid { grid-template-rows: repeat(10, minmax(0, 1fr)); }
    .docs-11y-grid { grid-template-rows: repeat(11, minmax(0, 1fr)); }
    .docs-12y-grid { grid-template-rows: repeat(12, minmax(0, 1fr)); }

    .docs-y-1         { grid-row-start: 1 !important; }
    .docs-y-2         { grid-row-start: 2 !important; }
    .docs-y-3         { grid-row-start: 3 !important; }
    .docs-y-4         { grid-row-start: 4 !important; }
    .docs-y-5         { grid-row-start: 5 !important; }
    .docs-y-6         { grid-row-start: 6 !important; }
    .docs-y-7         { grid-row-start: 7 !important; }
    .docs-y-8         { grid-row-start: 8 !important; }
    .docs-y-9         { grid-row-start: 9 !important; }
    .docs-y-10        { grid-row-start: 10 !important; }
    .docs-y-11        { grid-row-start: 11 !important; }
    .docs-y-12        { grid-row-start: 12 !important; }
    .docs-y-13        { grid-row-start: 13 !important; }
    .docs-y-14        { grid-row-start: 14 !important; }
    .docs-y-15        { grid-row-start: 15 !important; }
    .docs-y-16        { grid-row-start: 16 !important; }
    .docs-y-17        { grid-row-start: 17 !important; }
    .docs-y-18        { grid-row-start: 18 !important; }

    .docs-1y       { grid-row-end: span 1 !important; }
    .docs-2y       { grid-row-end: span 2 !important; }
    .docs-3y       { grid-row-end: span 3 !important; }
    .docs-4y       { grid-row-end: span 4 !important; }
    .docs-5y       { grid-row-end: span 5 !important; }
    .docs-6y       { grid-row-end: span 6 !important; }
    .docs-7y       { grid-row-end: span 7 !important; }
    .docs-8y       { grid-row-end: span 8 !important; }
    .docs-9y       { grid-row-end: span 9 !important; }
    .docs-10y      { grid-row-end: span 10 !important; }
    .docs-11y      { grid-row-end: span 11 !important; }
    .docs-12y      { grid-row-end: span 12 !important; }

    .docs-y-end       {
        align-self: end !important;
        margin-bottom: 0;
    }

    .docs-y-start     {
        align-self: start !important;
        margin-top: 0;
    }

    .docs-y-center    {
        align-self: center !important;
    }

    .docs-y-stretch   {
        align-self: stretch !important;
        margin-top: 0; 
        margin-bottom: 0;
    }

    .docs-y-baseline  {
        align-self: baseline !important; 
    }

    .docs-y-lastline  {
        align-self: last baseline !important; 
    }

    .docs-y-bleed {
        align-self: stretch !important;
        margin-top:  calc(var(--row-gap) / -2);
        margin-bottom: calc(var(--row-gap) / -2);
    }

    .docs-y-flood {
        align-self: stretch !important;
        margin-top:  calc(-1 * var(--row-gap));
        margin-bottom: calc(-1 * var(--row-gap));
    }

    /*
    We dont want this it stops us being able to put two grid systems on the page
    :root {
        --column-gap: 1.5rem;
        --row-gap: 1.5rem;
    }
    */

/* bp "\@1-", 50em (800px) */

@media (min-width: 50em) {
    .\@1-columns {
        --column-gap: 1.5rem;
        display: block !important;
        column-gap: var(--column-gap);
    }

    .\@1-1-columns  { columns: 1 !important; }
    .\@1-2-columns  { columns: 2 !important; }
    .\@1-3-columns  { columns: 3 !important; }
    .\@1-4-columns  { columns: 4 !important; }
    .\@1-5-columns  { columns: 5 !important; }
    .\@1-6-columns  { columns: 6 !important; }
    .\@1-7-columns  { columns: 7 !important; }
    .\@1-8-columns  { columns: 8 !important; }
    .\@1-9-columns  { columns: 9 !important; }
    .\@1-10-columns { columns: 10 !important; }
    .\@1-11-columns { columns: 11 !important; }
    .\@1-12-columns { columns: 12 !important; }

    .\@1-grid {
        --column-gap: 1.5rem;
        --row-gap: 1.5rem;
        display: grid !important;
        /* Horizontal layout */
        grid-auto-flow: row;
        /* Create equal columns by default. */
        grid-auto-columns: minmax(0, 1fr);
        column-gap: var(--column-gap);
        row-gap: var(--row-gap);
    }

    .\@1-y-start-grid {
        align-content: start;
    }

    .\@1-2x-grid  { grid-template-columns: repeat(2,  minmax(0, 1fr)); }
    .\@1-3x-grid  { grid-template-columns: repeat(3,  minmax(0, 1fr)); }
    .\@1-4x-grid  { grid-template-columns: repeat(4,  minmax(0, 1fr)); }
    .\@1-5x-grid  { grid-template-columns: repeat(5,  minmax(0, 1fr)); }
    .\@1-6x-grid  { grid-template-columns: repeat(6,  minmax(0, 1fr)); }
    .\@1-7x-grid  { grid-template-columns: repeat(7,  minmax(0, 1fr)); }
    .\@1-8x-grid  { grid-template-columns: repeat(8,  minmax(0, 1fr)); }
    .\@1-9x-grid  { grid-template-columns: repeat(9,  minmax(0, 1fr)); }
    .\@1-10x-grid { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    .\@1-11x-grid { grid-template-columns: repeat(11, minmax(0, 1fr)); }
    .\@1-12x-grid { grid-template-columns: repeat(12, minmax(0, 1fr)); }

    .\@1-x-1         { grid-column-start: 1 !important; }
    .\@1-x-2         { grid-column-start: 2 !important; }
    .\@1-x-3         { grid-column-start: 3 !important; }
    .\@1-x-4         { grid-column-start: 4 !important; }
    .\@1-x-5         { grid-column-start: 5 !important; }
    .\@1-x-6         { grid-column-start: 6 !important; }
    .\@1-x-7         { grid-column-start: 7 !important; }
    .\@1-x-8         { grid-column-start: 8 !important; }
    .\@1-x-9         { grid-column-start: 9 !important; }
    .\@1-x-10        { grid-column-start: 10 !important; }
    .\@1-x-11        { grid-column-start: 11 !important; }
    .\@1-x-12        { grid-column-start: 12 !important; }
    .\@1-x-13        { grid-column-start: 13 !important; }
    .\@1-x-14        { grid-column-start: 14 !important; }
    .\@1-x-15        { grid-column-start: 15 !important; }
    .\@1-x-16        { grid-column-start: 16 !important; }

    .\@1-1x       { grid-column-end: span 1 !important; }
    .\@1-2x       { grid-column-end: span 2 !important; }
    .\@1-3x       { grid-column-end: span 3 !important; }
    .\@1-4x       { grid-column-end: span 4 !important; }
    .\@1-5x       { grid-column-end: span 5 !important; }
    .\@1-6x       { grid-column-end: span 6 !important; }
    .\@1-7x       { grid-column-end: span 7 !important; }
    .\@1-8x       { grid-column-end: span 8 !important; }
    .\@1-9x       { grid-column-end: span 9 !important; }
    .\@1-10x      { grid-column-end: span 10 !important; }
    .\@1-11x      { grid-column-end: span 11 !important; }
    .\@1-12x      { grid-column-end: span 12 !important; }
    .\@1-13x      { grid-column-end: span 13 !important; }
    .\@1-14x      { grid-column-end: span 14 !important; }
    .\@1-15x      { grid-column-end: span 15 !important; }
    .\@1-16x      { grid-column-end: span 16 !important; }

    .\@1-x-end {
        justify-self: end !important; 
        margin-right: 0; 
    }

    .\@1-x-start {
        justify-self: start !important;
        margin-left: 0; 
    }

    .\@1-x-center { 
        justify-self: center !important; 
    }

    .\@1-x-stretch { 
        justify-self: stretch !important; 
        margin-left: 0; 
        margin-right: 0; 
    }

    .\@1-x-bleed {
        justify-self: stretch !important;
        margin-left:  calc(var(--column-gap) / -2);
        margin-right: calc(var(--column-gap) / -2);
    }

    .\@1-x-flood {
        justify-self: stretch !important;
        margin-left:  calc(-1 * var(--column-gap));
        margin-right: calc(-1 * var(--column-gap));
    }

    .\@1-2y-grid  { grid-template-rows: repeat(2,  minmax(0, 1fr)); }
    .\@1-3y-grid  { grid-template-rows: repeat(3,  minmax(0, 1fr)); }
    .\@1-4y-grid  { grid-template-rows: repeat(4,  minmax(0, 1fr)); }
    .\@1-5y-grid  { grid-template-rows: repeat(5,  minmax(0, 1fr)); }
    .\@1-6y-grid  { grid-template-rows: repeat(6,  minmax(0, 1fr)); }
    .\@1-7y-grid  { grid-template-rows: repeat(7,  minmax(0, 1fr)); }
    .\@1-8y-grid  { grid-template-rows: repeat(8,  minmax(0, 1fr)); }
    .\@1-9y-grid  { grid-template-rows: repeat(9,  minmax(0, 1fr)); }
    .\@1-10y-grid { grid-template-rows: repeat(10, minmax(0, 1fr)); }
    .\@1-11y-grid { grid-template-rows: repeat(11, minmax(0, 1fr)); }
    .\@1-12y-grid { grid-template-rows: repeat(12, minmax(0, 1fr)); }

    .\@1-y-1         { grid-row-start: 1 !important; }
    .\@1-y-2         { grid-row-start: 2 !important; }
    .\@1-y-3         { grid-row-start: 3 !important; }
    .\@1-y-4         { grid-row-start: 4 !important; }
    .\@1-y-5         { grid-row-start: 5 !important; }
    .\@1-y-6         { grid-row-start: 6 !important; }
    .\@1-y-7         { grid-row-start: 7 !important; }
    .\@1-y-8         { grid-row-start: 8 !important; }
    .\@1-y-9         { grid-row-start: 9 !important; }
    .\@1-y-10        { grid-row-start: 10 !important; }
    .\@1-y-11        { grid-row-start: 11 !important; }
    .\@1-y-12        { grid-row-start: 12 !important; }
    .\@1-y-13        { grid-row-start: 13 !important; }
    .\@1-y-14        { grid-row-start: 14 !important; }
    .\@1-y-15        { grid-row-start: 15 !important; }
    .\@1-y-16        { grid-row-start: 16 !important; }
    .\@1-y-17        { grid-row-start: 17 !important; }
    .\@1-y-18        { grid-row-start: 18 !important; }

    .\@1-1y       { grid-row-end: span 1 !important; }
    .\@1-2y       { grid-row-end: span 2 !important; }
    .\@1-3y       { grid-row-end: span 3 !important; }
    .\@1-4y       { grid-row-end: span 4 !important; }
    .\@1-5y       { grid-row-end: span 5 !important; }
    .\@1-6y       { grid-row-end: span 6 !important; }
    .\@1-7y       { grid-row-end: span 7 !important; }
    .\@1-8y       { grid-row-end: span 8 !important; }
    .\@1-9y       { grid-row-end: span 9 !important; }
    .\@1-10y      { grid-row-end: span 10 !important; }
    .\@1-11y      { grid-row-end: span 11 !important; }
    .\@1-12y      { grid-row-end: span 12 !important; }

    .\@1-y-end       {
        align-self: end !important;
        margin-bottom: 0;
    }

    .\@1-y-start     {
        align-self: start !important;
        margin-top: 0;
    }

    .\@1-y-center    {
        align-self: center !important;
    }

    .\@1-y-stretch   {
        align-self: stretch !important;
        margin-top: 0; 
        margin-bottom: 0;
    }

    .\@1-y-baseline  {
        align-self: baseline !important; 
    }

    .\@1-y-lastline  {
        align-self: last baseline !important; 
    }

    .\@1-y-bleed {
        align-self: stretch !important;
        margin-top:  calc(var(--row-gap) / -2);
        margin-bottom: calc(var(--row-gap) / -2);
    }

    .\@1-y-flood {
        align-self: stretch !important;
        margin-top:  calc(-1 * var(--row-gap));
        margin-bottom: calc(-1 * var(--row-gap));
    }

    /*
    We dont want this it stops us being able to put two grid systems on the page
    :root {
        --column-gap: 1.5rem;
        --row-gap: 1.5rem;
    }
    */
}

/* bp "\@2-", 70em (1120px) */

@media (min-width: 70em) {
    .\@2-columns {
        --column-gap: 2.8125rem;
        display: block !important;
        column-gap: var(--column-gap);
    }

    .\@2-1-columns  { columns: 1 !important; }
    .\@2-2-columns  { columns: 2 !important; }
    .\@2-3-columns  { columns: 3 !important; }
    .\@2-4-columns  { columns: 4 !important; }
    .\@2-5-columns  { columns: 5 !important; }
    .\@2-6-columns  { columns: 6 !important; }
    .\@2-7-columns  { columns: 7 !important; }
    .\@2-8-columns  { columns: 8 !important; }
    .\@2-9-columns  { columns: 9 !important; }
    .\@2-10-columns { columns: 10 !important; }
    .\@2-11-columns { columns: 11 !important; }
    .\@2-12-columns { columns: 12 !important; }

    .\@2-grid {
        --column-gap: 2.8125rem;
        --row-gap: 1.875rem;
        display: grid !important;
        /* Horizontal layout */
        grid-auto-flow: row;
        /* Create equal columns by default. */
        grid-auto-columns: minmax(0, 1fr);
        column-gap: var(--column-gap);
        row-gap: var(--row-gap);
    }

    .\@2-y-start-grid {
        align-content: start;
    }

    .\@2-2x-grid  { grid-template-columns: repeat(2,  minmax(0, 1fr)); }
    .\@2-3x-grid  { grid-template-columns: repeat(3,  minmax(0, 1fr)); }
    .\@2-4x-grid  { grid-template-columns: repeat(4,  minmax(0, 1fr)); }
    .\@2-5x-grid  { grid-template-columns: repeat(5,  minmax(0, 1fr)); }
    .\@2-6x-grid  { grid-template-columns: repeat(6,  minmax(0, 1fr)); }
    .\@2-7x-grid  { grid-template-columns: repeat(7,  minmax(0, 1fr)); }
    .\@2-8x-grid  { grid-template-columns: repeat(8,  minmax(0, 1fr)); }
    .\@2-9x-grid  { grid-template-columns: repeat(9,  minmax(0, 1fr)); }
    .\@2-10x-grid { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    .\@2-11x-grid { grid-template-columns: repeat(11, minmax(0, 1fr)); }
    .\@2-12x-grid { grid-template-columns: repeat(12, minmax(0, 1fr)); }

    .\@2-x-1         { grid-column-start: 1 !important; }
    .\@2-x-2         { grid-column-start: 2 !important; }
    .\@2-x-3         { grid-column-start: 3 !important; }
    .\@2-x-4         { grid-column-start: 4 !important; }
    .\@2-x-5         { grid-column-start: 5 !important; }
    .\@2-x-6         { grid-column-start: 6 !important; }
    .\@2-x-7         { grid-column-start: 7 !important; }
    .\@2-x-8         { grid-column-start: 8 !important; }
    .\@2-x-9         { grid-column-start: 9 !important; }
    .\@2-x-10        { grid-column-start: 10 !important; }
    .\@2-x-11        { grid-column-start: 11 !important; }
    .\@2-x-12        { grid-column-start: 12 !important; }
    .\@2-x-13        { grid-column-start: 13 !important; }
    .\@2-x-14        { grid-column-start: 14 !important; }
    .\@2-x-15        { grid-column-start: 15 !important; }
    .\@2-x-16        { grid-column-start: 16 !important; }

    .\@2-1x       { grid-column-end: span 1 !important; }
    .\@2-2x       { grid-column-end: span 2 !important; }
    .\@2-3x       { grid-column-end: span 3 !important; }
    .\@2-4x       { grid-column-end: span 4 !important; }
    .\@2-5x       { grid-column-end: span 5 !important; }
    .\@2-6x       { grid-column-end: span 6 !important; }
    .\@2-7x       { grid-column-end: span 7 !important; }
    .\@2-8x       { grid-column-end: span 8 !important; }
    .\@2-9x       { grid-column-end: span 9 !important; }
    .\@2-10x      { grid-column-end: span 10 !important; }
    .\@2-11x      { grid-column-end: span 11 !important; }
    .\@2-12x      { grid-column-end: span 12 !important; }
    .\@2-13x      { grid-column-end: span 13 !important; }
    .\@2-14x      { grid-column-end: span 14 !important; }
    .\@2-15x      { grid-column-end: span 15 !important; }
    .\@2-16x      { grid-column-end: span 16 !important; }

    .\@2-x-end {
        justify-self: end !important; 
        margin-right: 0; 
    }

    .\@2-x-start {
        justify-self: start !important;
        margin-left: 0; 
    }

    .\@2-x-center { 
        justify-self: center !important; 
    }

    .\@2-x-stretch { 
        justify-self: stretch !important; 
        margin-left: 0; 
        margin-right: 0; 
    }

    .\@2-x-bleed {
        justify-self: stretch !important;
        margin-left:  calc(var(--column-gap) / -2);
        margin-right: calc(var(--column-gap) / -2);
    }

    .\@2-x-flood {
        justify-self: stretch !important;
        margin-left:  calc(-1 * var(--column-gap));
        margin-right: calc(-1 * var(--column-gap));
    }

    .\@2-2y-grid  { grid-template-rows: repeat(2,  minmax(0, 1fr)); }
    .\@2-3y-grid  { grid-template-rows: repeat(3,  minmax(0, 1fr)); }
    .\@2-4y-grid  { grid-template-rows: repeat(4,  minmax(0, 1fr)); }
    .\@2-5y-grid  { grid-template-rows: repeat(5,  minmax(0, 1fr)); }
    .\@2-6y-grid  { grid-template-rows: repeat(6,  minmax(0, 1fr)); }
    .\@2-7y-grid  { grid-template-rows: repeat(7,  minmax(0, 1fr)); }
    .\@2-8y-grid  { grid-template-rows: repeat(8,  minmax(0, 1fr)); }
    .\@2-9y-grid  { grid-template-rows: repeat(9,  minmax(0, 1fr)); }
    .\@2-10y-grid { grid-template-rows: repeat(10, minmax(0, 1fr)); }
    .\@2-11y-grid { grid-template-rows: repeat(11, minmax(0, 1fr)); }
    .\@2-12y-grid { grid-template-rows: repeat(12, minmax(0, 1fr)); }

    .\@2-y-1         { grid-row-start: 1 !important; }
    .\@2-y-2         { grid-row-start: 2 !important; }
    .\@2-y-3         { grid-row-start: 3 !important; }
    .\@2-y-4         { grid-row-start: 4 !important; }
    .\@2-y-5         { grid-row-start: 5 !important; }
    .\@2-y-6         { grid-row-start: 6 !important; }
    .\@2-y-7         { grid-row-start: 7 !important; }
    .\@2-y-8         { grid-row-start: 8 !important; }
    .\@2-y-9         { grid-row-start: 9 !important; }
    .\@2-y-10        { grid-row-start: 10 !important; }
    .\@2-y-11        { grid-row-start: 11 !important; }
    .\@2-y-12        { grid-row-start: 12 !important; }
    .\@2-y-13        { grid-row-start: 13 !important; }
    .\@2-y-14        { grid-row-start: 14 !important; }
    .\@2-y-15        { grid-row-start: 15 !important; }
    .\@2-y-16        { grid-row-start: 16 !important; }
    .\@2-y-17        { grid-row-start: 17 !important; }
    .\@2-y-18        { grid-row-start: 18 !important; }

    .\@2-1y       { grid-row-end: span 1 !important; }
    .\@2-2y       { grid-row-end: span 2 !important; }
    .\@2-3y       { grid-row-end: span 3 !important; }
    .\@2-4y       { grid-row-end: span 4 !important; }
    .\@2-5y       { grid-row-end: span 5 !important; }
    .\@2-6y       { grid-row-end: span 6 !important; }
    .\@2-7y       { grid-row-end: span 7 !important; }
    .\@2-8y       { grid-row-end: span 8 !important; }
    .\@2-9y       { grid-row-end: span 9 !important; }
    .\@2-10y      { grid-row-end: span 10 !important; }
    .\@2-11y      { grid-row-end: span 11 !important; }
    .\@2-12y      { grid-row-end: span 12 !important; }

    .\@2-y-end       {
        align-self: end !important;
        margin-bottom: 0;
    }

    .\@2-y-start     {
        align-self: start !important;
        margin-top: 0;
    }

    .\@2-y-center    {
        align-self: center !important;
    }

    .\@2-y-stretch   {
        align-self: stretch !important;
        margin-top: 0; 
        margin-bottom: 0;
    }

    .\@2-y-baseline  {
        align-self: baseline !important; 
    }

    .\@2-y-lastline  {
        align-self: last baseline !important; 
    }

    .\@2-y-bleed {
        align-self: stretch !important;
        margin-top:  calc(var(--row-gap) / -2);
        margin-bottom: calc(var(--row-gap) / -2);
    }

    .\@2-y-flood {
        align-self: stretch !important;
        margin-top:  calc(-1 * var(--row-gap));
        margin-bottom: calc(-1 * var(--row-gap));
    }

    /*
    We dont want this it stops us being able to put two grid systems on the page
    :root {
        --column-gap: 2.8125rem;
        --row-gap: 1.875rem;
    }
    */
}

/* bp "\@3-", 90em (1440px) */

@media (min-width: 90em) {
    .\@3-columns {
        --column-gap: 3.75rem;
        display: block !important;
        column-gap: var(--column-gap);
    }

    .\@3-1-columns  { columns: 1 !important; }
    .\@3-2-columns  { columns: 2 !important; }
    .\@3-3-columns  { columns: 3 !important; }
    .\@3-4-columns  { columns: 4 !important; }
    .\@3-5-columns  { columns: 5 !important; }
    .\@3-6-columns  { columns: 6 !important; }
    .\@3-7-columns  { columns: 7 !important; }
    .\@3-8-columns  { columns: 8 !important; }
    .\@3-9-columns  { columns: 9 !important; }
    .\@3-10-columns { columns: 10 !important; }
    .\@3-11-columns { columns: 11 !important; }
    .\@3-12-columns { columns: 12 !important; }

    .\@3-grid {
        --column-gap: 3.75rem;
        --row-gap: 1.875rem;
        display: grid !important;
        /* Horizontal layout */
        grid-auto-flow: row;
        /* Create equal columns by default. */
        grid-auto-columns: minmax(0, 1fr);
        column-gap: var(--column-gap);
        row-gap: var(--row-gap);
    }

    .\@3-y-start-grid {
        align-content: start;
    }

    .\@3-2x-grid  { grid-template-columns: repeat(2,  minmax(0, 1fr)); }
    .\@3-3x-grid  { grid-template-columns: repeat(3,  minmax(0, 1fr)); }
    .\@3-4x-grid  { grid-template-columns: repeat(4,  minmax(0, 1fr)); }
    .\@3-5x-grid  { grid-template-columns: repeat(5,  minmax(0, 1fr)); }
    .\@3-6x-grid  { grid-template-columns: repeat(6,  minmax(0, 1fr)); }
    .\@3-7x-grid  { grid-template-columns: repeat(7,  minmax(0, 1fr)); }
    .\@3-8x-grid  { grid-template-columns: repeat(8,  minmax(0, 1fr)); }
    .\@3-9x-grid  { grid-template-columns: repeat(9,  minmax(0, 1fr)); }
    .\@3-10x-grid { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    .\@3-11x-grid { grid-template-columns: repeat(11, minmax(0, 1fr)); }
    .\@3-12x-grid { grid-template-columns: repeat(12, minmax(0, 1fr)); }

    .\@3-x-1         { grid-column-start: 1 !important; }
    .\@3-x-2         { grid-column-start: 2 !important; }
    .\@3-x-3         { grid-column-start: 3 !important; }
    .\@3-x-4         { grid-column-start: 4 !important; }
    .\@3-x-5         { grid-column-start: 5 !important; }
    .\@3-x-6         { grid-column-start: 6 !important; }
    .\@3-x-7         { grid-column-start: 7 !important; }
    .\@3-x-8         { grid-column-start: 8 !important; }
    .\@3-x-9         { grid-column-start: 9 !important; }
    .\@3-x-10        { grid-column-start: 10 !important; }
    .\@3-x-11        { grid-column-start: 11 !important; }
    .\@3-x-12        { grid-column-start: 12 !important; }
    .\@3-x-13        { grid-column-start: 13 !important; }
    .\@3-x-14        { grid-column-start: 14 !important; }
    .\@3-x-15        { grid-column-start: 15 !important; }
    .\@3-x-16        { grid-column-start: 16 !important; }

    .\@3-1x       { grid-column-end: span 1 !important; }
    .\@3-2x       { grid-column-end: span 2 !important; }
    .\@3-3x       { grid-column-end: span 3 !important; }
    .\@3-4x       { grid-column-end: span 4 !important; }
    .\@3-5x       { grid-column-end: span 5 !important; }
    .\@3-6x       { grid-column-end: span 6 !important; }
    .\@3-7x       { grid-column-end: span 7 !important; }
    .\@3-8x       { grid-column-end: span 8 !important; }
    .\@3-9x       { grid-column-end: span 9 !important; }
    .\@3-10x      { grid-column-end: span 10 !important; }
    .\@3-11x      { grid-column-end: span 11 !important; }
    .\@3-12x      { grid-column-end: span 12 !important; }
    .\@3-13x      { grid-column-end: span 13 !important; }
    .\@3-14x      { grid-column-end: span 14 !important; }
    .\@3-15x      { grid-column-end: span 15 !important; }
    .\@3-16x      { grid-column-end: span 16 !important; }

    .\@3-x-end {
        justify-self: end !important; 
        margin-right: 0; 
    }

    .\@3-x-start {
        justify-self: start !important;
        margin-left: 0; 
    }

    .\@3-x-center { 
        justify-self: center !important; 
    }

    .\@3-x-stretch { 
        justify-self: stretch !important; 
        margin-left: 0; 
        margin-right: 0; 
    }

    .\@3-x-bleed {
        justify-self: stretch !important;
        margin-left:  calc(var(--column-gap) / -2);
        margin-right: calc(var(--column-gap) / -2);
    }

    .\@3-x-flood {
        justify-self: stretch !important;
        margin-left:  calc(-1 * var(--column-gap));
        margin-right: calc(-1 * var(--column-gap));
    }

    .\@3-2y-grid  { grid-template-rows: repeat(2,  minmax(0, 1fr)); }
    .\@3-3y-grid  { grid-template-rows: repeat(3,  minmax(0, 1fr)); }
    .\@3-4y-grid  { grid-template-rows: repeat(4,  minmax(0, 1fr)); }
    .\@3-5y-grid  { grid-template-rows: repeat(5,  minmax(0, 1fr)); }
    .\@3-6y-grid  { grid-template-rows: repeat(6,  minmax(0, 1fr)); }
    .\@3-7y-grid  { grid-template-rows: repeat(7,  minmax(0, 1fr)); }
    .\@3-8y-grid  { grid-template-rows: repeat(8,  minmax(0, 1fr)); }
    .\@3-9y-grid  { grid-template-rows: repeat(9,  minmax(0, 1fr)); }
    .\@3-10y-grid { grid-template-rows: repeat(10, minmax(0, 1fr)); }
    .\@3-11y-grid { grid-template-rows: repeat(11, minmax(0, 1fr)); }
    .\@3-12y-grid { grid-template-rows: repeat(12, minmax(0, 1fr)); }

    .\@3-y-1         { grid-row-start: 1 !important; }
    .\@3-y-2         { grid-row-start: 2 !important; }
    .\@3-y-3         { grid-row-start: 3 !important; }
    .\@3-y-4         { grid-row-start: 4 !important; }
    .\@3-y-5         { grid-row-start: 5 !important; }
    .\@3-y-6         { grid-row-start: 6 !important; }
    .\@3-y-7         { grid-row-start: 7 !important; }
    .\@3-y-8         { grid-row-start: 8 !important; }
    .\@3-y-9         { grid-row-start: 9 !important; }
    .\@3-y-10        { grid-row-start: 10 !important; }
    .\@3-y-11        { grid-row-start: 11 !important; }
    .\@3-y-12        { grid-row-start: 12 !important; }
    .\@3-y-13        { grid-row-start: 13 !important; }
    .\@3-y-14        { grid-row-start: 14 !important; }
    .\@3-y-15        { grid-row-start: 15 !important; }
    .\@3-y-16        { grid-row-start: 16 !important; }
    .\@3-y-17        { grid-row-start: 17 !important; }
    .\@3-y-18        { grid-row-start: 18 !important; }

    .\@3-1y       { grid-row-end: span 1 !important; }
    .\@3-2y       { grid-row-end: span 2 !important; }
    .\@3-3y       { grid-row-end: span 3 !important; }
    .\@3-4y       { grid-row-end: span 4 !important; }
    .\@3-5y       { grid-row-end: span 5 !important; }
    .\@3-6y       { grid-row-end: span 6 !important; }
    .\@3-7y       { grid-row-end: span 7 !important; }
    .\@3-8y       { grid-row-end: span 8 !important; }
    .\@3-9y       { grid-row-end: span 9 !important; }
    .\@3-10y      { grid-row-end: span 10 !important; }
    .\@3-11y      { grid-row-end: span 11 !important; }
    .\@3-12y      { grid-row-end: span 12 !important; }

    .\@3-y-end       {
        align-self: end !important;
        margin-bottom: 0;
    }

    .\@3-y-start     {
        align-self: start !important;
        margin-top: 0;
    }

    .\@3-y-center    {
        align-self: center !important;
    }

    .\@3-y-stretch   {
        align-self: stretch !important;
        margin-top: 0; 
        margin-bottom: 0;
    }

    .\@3-y-baseline  {
        align-self: baseline !important; 
    }

    .\@3-y-lastline  {
        align-self: last baseline !important; 
    }

    .\@3-y-bleed {
        align-self: stretch !important;
        margin-top:  calc(var(--row-gap) / -2);
        margin-bottom: calc(var(--row-gap) / -2);
    }

    .\@3-y-flood {
        align-self: stretch !important;
        margin-top:  calc(-1 * var(--row-gap));
        margin-bottom: calc(-1 * var(--row-gap));
    }

    /*
    We dont want this it stops us being able to put two grid systems on the page
    :root {
        --column-gap: 3.75rem;
        --row-gap: 1.875rem;
    }
    */
}

